<div data-role="page" id="">
	<div data-role="header">
		<a href="#" data-role="button">Back</a>
		<h1>Top Trails</h1>
	</div>
	<div data-role="content">	
		Content		
	</div>
	<div data-role="footer">
		<h4>Explore California &copy; 2012</h4>
	</div>
</div>