<head>
 <title>studio</title>
 <meta name="viewport" content="initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="styles/jquery.mobile.theme-1.4.3.min.css" />
<link rel="stylesheet" href="styles/jquery.mobile-1.3.1.css" />
<link rel="stylesheet" href="styles/custom.css" />
<link rel="stylesheet" href="styles/menu.css" />
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/jquery.mobile-1.3.1.min.js"></script>
<script src="scripts/app.js"></script><script src="phonegap.js"></script></head>
<div id="menu" style="display: none;"> <ul><li><a href="#" onclick="window.location='index.html'">weee</a></li><li><a href="#" onclick="window.location='studio_fb.html'">studio</a></li></ul></div><div data-role="page" id="page0"><div data-role="header"><h1>studio</h1><a href="#"class="showMenu">Menu</a></div><div data-role="content"><div id="post-list"></div></div><div data-role="footer"><h4>MobClouD 2014</h4></div><script  type="text/javascript"> 
$.getJSON('http://localhost:1051/Facebook/getPageData?pageId=242570742582387', function (Data) {doWork(Data);  }); var index=0;function doWork(Data){ var posts = Data.data; $('#more-button').remove(); for (var i = 0; i < posts.length; i++) { if (posts[i].message != null || posts[i].picture != null) $('#post-list').append('<div style=\"background-color: white;padding:10px;border-radius:10px;margin-top:10px; margin-bottom:5px;border: 2px solid gray;height:100%; width: 95%;float: left;\" id=\"post-id-' + index + '\"></div>');if (posts[i].message != null) {  $('#post-id-' + index).append('<div style="width:98%;padding:5px;border-bottom:2px dashed grey;">' + posts[i].message + '</div>'); } if (posts[i].picture != null) { var urlArray = posts[i].picture.split("/"); var newLink = ""; for (var j = 0 ; j < urlArray.length ; j++) { if (urlArray[j] == "v" || urlArray[j] == "t1.0-9")  continue; if (urlArray[j] == "s130x130") urlArray[j] = "s600x600"; if (j != urlArray.length - 1) newLink += urlArray[j] + "/"; else newLink += urlArray[j]; } $('#post-id-' + index).append('<img style=" width:100%;margin-top:10px;margin-bottom:10px;" src=\"' + newLink + '\"/>');  } if (i == posts.length - 1) { var page = Data.paging; var next = page.next; $('#post-list').append('<button id="more-button" data-role="button" data-inline="true" onclick="more(\''+next+'\')"> More </button>');} index++;  }  }  function more(url){ $.getJSON(url, function (Data) {  doWork(Data);  });  } </script></div>