<head>
 <title>mee</title>
 <meta name="viewport" content="initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="styles/jquery.mobile.theme-1.4.3.min.css" />
<link rel="stylesheet" href="styles/jquery.mobile-1.3.1.css" />
<link rel="stylesheet" href="styles/custom.css" />
<link rel="stylesheet" href="styles/menu.css" />
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/jquery.mobile-1.3.1.min.js"></script>
<script src="scripts/app.js"></script><script src="phonegap.js"></script></head>
<div id="menu" style="display: none;"> <ul><li><a href="#" onclick="window.location='index.html'">first</a></li><li><a href="#" onclick="window.location='mee_ig.html'">mee</a></li></ul></div><div data-role="page" id="page0"><div data-role="header"><h1>mee</h1><a href="#"class="showMenu">Menu</a></div><div data-role="content"><div id="post-list"></div></div><div data-role="footer"><h4>MobClouD 2014</h4></div><script  type="text/javascript"> 
$.getJSON('http://localhost:1051//Instagram/getPageData?userId=263344136', function (Data) {doWork(Data);  }); var index=0;function doWork(Data){ var nextUrl = Data.pagination.next_url;var posts = Data.data; $('#more-button').remove(); 
for (var i = 0; i < posts.length; i++) { $('#post-list').append('<div style=\"background-color: white;padding:10px;border-radius:10px;margin-top:10px; margin-bottom:5px;border: 2px solid gray;height:100%; width: 95%;float: left;\" id="post-id-' + index + '"></div>');var tags=""; for(var j=0;j<posts[i].tags.length;j++){ tags+="#"+posts[i].tags[j]+" ";}
 $('#post-id-' + index).append('<div style="width:98%;padding:5px;border-bottom:2px dashed grey;">' + tags + '</div>');
 	if(posts[i].type=="image"){ $('#post-id-' + index).append('<img style=" width:100%;margin-top:10px;margin-bottom:10px;" src=\"' + posts[i].images.standard_resolution.url + '\"/>');}else if(posts[i].type=="video"){  $('#post-id-' + index).append('<video width=\"100%\" controls><source src=\"'+posts[i].videos.standard_resolution.url+'\" type="video/mp4"></video>');}
   index++; }  $('#post-list').append('<button id="more-button" data-role="button" data-inline="true" onclick="more(\''+nextUrl+'\')"> More </button>');} function more(url){  $.ajax({url: url, type: 'GET',crossDomain: true,dataType: 'jsonp',success: function(Data) { doWork(Data);}, error: function() { alert('Failed!'); }}); }  </script></div>