
          
                
              
                
              
                <div class="span10" style="z-index: 47;">
                    <div class="span10" style="z-index: 48;">
                        <div data-role="header" data-theme="f" data-backbtn="false" class="well droppedFields ui-droppable ui-sortable activeDroppable" id="headerDiv" style="z-index: 49;">
                            <div class="droppedField" style="z-index: 50;">
                                <h1 id="divHeaderTitle">KEKE</h1>
                            </div>
                        <a class="btn" id="backbtnHeader">Back</a></div>
                    </div>
                    <!--
                Below we have the columns to drop controls
                -- Removed the TABLE based implementations from earlier code
                -- Grid system used for rendering columns
                -- Columns can be simply added by defining a div with droppedFields class
                -->

                    <div class="span12 ui-sortable" id="selected-content" style="z-index: 51;">
                        <div class="row-fluid" style="z-index: 52;">
                            <div class="span6 well droppedFields ui-droppable ui-sortable activeDroppable" style="z-index: 53;"><div class="droppedField" style="z-index: 54;" id="CTRL-DIV-1001">
                        <h1 class="ctrl-h">Header d</h1>
                        <input type="hidden" class="hiddenObligatoire" value="undefined">
                    </div><div class="droppedField" style="z-index: 5;" id="CTRL-DIV-1002">
                        <a href="javascript:void(0)" class="ctrl-link" name="https://google.com" rel="external" id="toPage">Link</a>
                        <input type="hidden" class="hiddenObligatoire" value="undefined">
                    </div></div>
                            <div class="span6 well droppedFields ui-droppable ui-sortable activeDroppable" style="z-index: 55;"></div>
                        </div>

                    </div>
                    <div class="span10" style="z-index: 56;">
                        <div data-role="footer" data-theme="f" class="well droppedFields ui-droppable ui-sortable activeDroppable" id="footerDiv" style="z-index: 57;">
                            <div class="droppedField" style="z-index: 58;">
                                <h4 id="footerDivH1">MobCloud © 2014</h4>
                            </div>
                        </div>
                    </div>
                </div>
            