<head>
 <title>CalendarEvents</title>
 <meta name="viewport" content="initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
 <link href="../css/responsive-calendar.css" rel="stylesheet"><link rel="stylesheet" href="styles/jquery.mobile.theme-1.4.3.min.css" />
<link rel="stylesheet" href="styles/jquery.mobile-1.3.1.css" />
<link rel="stylesheet" href="styles/custom.css" />
<link rel="stylesheet" href="styles/menu.css" />
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/jquery.mobile-1.3.1.min.js"></script>
<script src="scripts/app.js"></script><script src="phonegap.js"></script></head>
<div id="menu" style="display: none;"> <ul><li><a href="#" onclick="window.location='Events_ct.html'">Events</a></li><li><a href="#" onclick="window.location='index.html'">kookok</a></li></ul></div><div data-role="page" id="page0"><div data-role="header"><h1>CalendarEvents</h1><a href="#"class="showMenu">Menu</a></div><div class="responsive-calendar">
 <div class="controls">
     <a class="pull-left" data-go="prev"><div class="btn btn-primary">Prev</div></a>
   <h4><span data-head-year></span> <span data-head-month></span></h4>
 <a class="pull-right" data-go="next"><div class="btn btn-primary">Next</div></a>
 </div><hr/>
 <div class="day-headers">
  <div class="day header">Mon</div>
 <div class="day header">Tue</div>
 <div class="day header">Wed</div>
 <div class="day header">Thu</div>
 <div class="day header">Fri</div>
 <div class="day header">Sat</div>
 <div class="day header">Sun</div>
 </div>
 <div class="days" data-group="days">
</div>
</div>
<div data-role="content"><div style="display:width:100%" id="list"></div></div><div data-role="footer"><h4>MobClouD 2014</h4></div><script src="../js/jquery.js"></script> <script src="../js/bootstrap.min.js"></script> <script src="../js/responsive-calendar.js"></script><script  type="text/javascript"> 
$.getJSON("http://mymobcloud.com/Service/index/61", function(data){
  var jsontext;for(var i=0;i<data.records.length;i++){
jsontext="{\""+data.records[i].date+"\" :{"number": 1, "url": "http://w3widgets.com"} 
}alert(jsontext);  var contact = JSON.parse(jsontext);$(".responsive-calendar").responsiveCalendar({
 time: '2013-05',
  events: contact  });
 
 });</script></div>