﻿@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<title>Evolve - Responsive Multi-purpose HTML Theme</title>

<!--<![endif]-->
@RenderPage("~/Views/Home/header.cshtml")
<body>
    <div id="content-wrapper">

        <!-- Parallex Page Title -->
        <div id="parallex-inner" class="parallex">
            <div class="container">
                <div class="eight columns" data-animated="fadeInUp">
                    <h1>About Us</h1>

                </div>

            </div>
        </div>



        <!-- Container -->
        <div class="container" data-animated="fadeInDown">
            <div class="eight columns">
                <h3 class="headline">Who Is Mobile Cloud ?</h3>
                <span class="brd-headling"></span>
                <hr>
                <p>
                    The company, initially called JHB Mobile Technologies, was founded in January 2011 with a vision to create a cloud based technology platform to empower cross platform mobile apps. The platform is backed by a dedicated team of creative, technical people who are continually improving the technology and supporting our client’s needs. <br />
                    <br />
                    Mobile Cloud has grown to become the world's leading mobile app platform with 341,043 apps and counting! Mobile Cloud serves a global customer base ranging from individuals and communities to some of the world’s leading brands, enterprises and organizations.<br />
                    <br />
                    Mobile Cloud is the world’s only app platform engineered to the high standards of robustness and security expected by global enterprise and government. They use our platform because it enables their employees to swiftly develop and instantly update mobile apps without having to have any technical knowledge whatsoever; thus creating massive savings in time and money and leading to a fantastic Return On Investment.<br />
                    <br />
                    Our cutting edge software platform has been recognized globally by the press and industry experts, and has enabled us to win awards such as the “Microsoft European Startup of the year”. But we’re not stopping there, mobile technology is an extremely dynamic and exciting space and Mobile Cloud team is constantly working to enhance the platform based on customer feedback to put even more powerful features into your hands.<br />
                    <br />
                    Mobile apps offer up an exciting opportunity for change and improvement - we would be delighted to help you on that path.</br>
                </p>
            </div>
            <div class="seven columns right">
                <section class="flexslider post-img">
                    <div class="media">
                        <ul class="slides mediaholder">
                            <li> <a class="mfp-gallery" title="Open Catalogue" href="images/single-project-04a.jpg"> <img src='@Url.Content("~/Content/home/images/rev/slider04-img02.png")' alt="" /> </a> </li>
                            <li> <a class="mfp-gallery" title="Open Catalogue" href="images/single-project-04a.jpg"> <img src='@Url.Content("~/Content/home/images/rev/slider04-img03.png")' alt="" /> </a> </li>

                        </ul>
                    </div>
                </section>
            </div>
        </div>

        <!-- Container -->
        <div class="container" data-animated="fadeInUp">
            <hr class="line-full">
            <div class="one-third column">
                <!-- Featured Box -->
                <div class="featured-box mgr30">
                    <h3 class="headline">Why Choose Us?</h3>
                    <span class="brd-headling"></span>
                    <hr>
                    <div class="accordion">
                        <!-- Section 1 -->
                        <h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon ui-accordion-icon-active"></span>Who We Are</h3>
                        <div>
                            <p>AppsBuilder is the new all-in-one tool to create, manage and promote apps in a cost-effective way and with no coding skills.</p>
                        </div>
                        <!-- Section 2 -->
                        <h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span>What We Think</h3>
                        <div>
                            <p>we always look into new ways of stepping up our services to offer our customers the best app development solution and join together the mobile revolution.</p>
                        </div>
                        <!-- Section 3 -->
                        <h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span>What We Do</h3>
                        <div>
                            <p>Our mission is to innovate the mobile development industry, turning what is currently a time-consuming and skill-requiring process into a simplified practice.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one-third column">

                <div class="featured-box mgr30">
                    <h3 class="headline">What You Will Get On Mobile Cloud</h3>
                    <span class="brd-headling"></span>
                    <hr>
                    <ul class="list-3 ">
                        <li>IN APP PURCHASES</li>
                        <li>RESPONSIVE DESIGN</li>
                        <li>LINK WITH SOCIAL MEDIA</li>
                        <li>MULTILINGUAL</li>
                        <li>FULLY CUSTOMIZABLE</li>
                        <li>HIGH QUALITY GRAPHICS</li>
                        <li>LIGHTWEIGHT</li>

                    </ul>
                </div>
            </div>
            <div class="one-third column ">

                <div class="featured-box mgr30">
                    <h3 class="headline">Our Specialisation</h3>
                    <span class="brd-headling"></span>
                    <hr>
                    <ul class="skill-bar">
                        <li>
                            <p>Security</p>
                            <div class="bar-wrap"><span data-width="97"> <strong>97%</strong> </span></div>
                        </li>
                        <li>
                            <p>Programming</p>
                            <div class="bar-wrap"><span data-width="50"> <strong>50%</strong> </span></div>
                        </li>
                        <li>
                            <p>Customizable</p>
                            <div class="bar-wrap"><span data-width="100"> <strong>100%</strong> </span></div>
                        </li>
                        <li>
                            <p>Logo Design</p>
                            <div class="bar-wrap"><span data-width="65"> <strong>65%</strong> </span></div>
                        </li>
                        <li>
                            <p>Photography</p>
                            <div class="bar-wrap"><span data-width="43"> <strong>43%</strong> </span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <!-- Our Clients -->
        <div class="container" data-animated="bounceIn">
            <!-- Navigation / Left -->
            <div id="showbiz_left_3" class="sb-navigation-left-2"><i class="icon-angle-left"></i></div>
            <!-- Navigation / Right -->
            <div id="showbiz_right_3" class="sb-navigation-right-2"><i class="icon-angle-right"></i></div>
            <!-- ShowBiz Carousel -->
            <div id="happy-clients" class="showbiz-container sixteen carousel columns">

                <div class="showbiz our-clients" data-left="#showbiz_left_3" data-right="#showbiz_right_3">
                    <div class="overflowholder">
                        <ul>
                            <li>
                                <div class="happy-clients-photo"><img src=@Url.Content("~/Content/home/images/happy-clients-01.jpg") alt="" /></div>
                                <div class="happy-clients-cite"><i class="ss-navigateleft"></i>There's no need to be a developer to create an app: all you have to do is select your settings and follow a few steps."</div>
                                <div class="happy-clients-author">Jane Warner, <strong>CTO</strong></div>
                            </li>
                            <li>
                                <div class="happy-clients-photo"><img src=@Url.Content("~/Content/home/images/happy-clients-02.jpg") alt="" /></div>
                                <div class="happy-clients-cite"><i class="ss-navigateleft"></i>Mobile Cloud has clear value for small businesses and independent publishers.</div>
                                <div class="happy-clients-author">Johnny Smith, <strong>CEO</strong></div>
                            </li>
                            <li>
                                <div class="happy-clients-photo"><img src=@Url.Content("~/Content/home/images/happy-clients-03.jpg") alt="" /></div>
                                <div class="happy-clients-cite"><i class="ss-navigateleft"></i> I’d say do it! The flexibility is awesome and the possibilities are endless. I also want to thank Evolve for the brillient support with setting things up and answering questions that I had. Thumbs Up!</div>
                                <div class="happy-clients-author">Mario Moneta, <strong>CFO</strong></div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="sep50">

        <div class="bg-color">
            <!-- Container -->
            <div class="container">
                <!-- Navigation / Left -->
                <div class="one carousel column">
                    <div id="showbiz_left_2" class="sb-navigation-left-3"><i class="icon-angle-left"></i></div>
                </div>
                <!-- ShowBiz Carousel -->
                <div id="our-clients" class="showbiz-container fourteen carousel columns">

                    <div class="showbiz our-clients" data-left="#showbiz_left_2" data-right="#showbiz_right_2">
                        <div class="overflowholder">
                            <ul>
                                <!-- Item -->
                                <li data-animated="fadeInUp"><img src='@Url.Content("~/Content/home/images/partners/logo-01.png")' alt="" /></li>
                                <li data-animated="fadeInDown"><img src='@Url.Content("~/Content/home/images/partners/logo-02.png")' alt="" /></li>
                                <li data-animated="fadeInUp"><img src='@Url.Content("~/Content/home/images/partners/logo-03.png")' alt="" /></li>
                                <li data-animated="fadeInDown"><img src='@Url.Content("~/Content/home/images/partners/logo-04.png")' alt="" /></li>
                                <li data-animated="fadeInUp"><img src='@Url.Content("~/Content/home/images/partners/logo-05.png")' alt="" /></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- Navigation / Right -->
                <div class="one carousel column">
                    <div id="showbiz_right_2" class="sb-navigation-right-3"><i class="icon-angle-right"></i></div>
                </div>
            </div>
            <!-- Container / End -->
        </div>

    </div>

    @RenderPage("~/Views/Home/footer.cshtml")
</body>
</html>
