﻿@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<title>Contact Us</title>

<!--<![endif]-->
@RenderPage("~/Views/Home/header.cshtml")
<body>
    <div id="content-wrapper">

        <!-- Parallex Page Title -->
        <div id="parallex-inner" class="parallex">
            <div class="container">
                <div class="eight columns" data-animated="fadeInUp">
                    <h1>Contact Us</h1>
                </div>
               
            </div>
        </div>


        <!-- Google Maps -->
        <section class="google-map-container">
            <article>
                <iframe height="400" width="100%" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=116-F1+Johar+Town+Lahore,+Pakistan&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=46.898798,93.076172&amp;ie=UTF8&amp;hq=&amp;hnear=338-A+Revenue+Society,+Johar++Town,+Lahore,+Lahore+District,+Punjab,+Pakistan&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            </article>
        </section>

        <div class="container">
            <div class="seven columns">
                <h3 class="headline">Send us a message</h3>
                <span class="brd-headling"></span>
                <div class="clearfix"></div>
                <!-- Contact Form -->
                <section id="contact">
                    <!-- Success Message -->
                    <mark id="message"></mark>
                    <!-- Form -->
                    <form method="post" action="php/contact.php" name="contactform" id="contactform">
                        <fieldset>
                            <div>
                                <label for="name" accesskey="U">Name:</label>
                                <input name="name" type="text" id="name" style="width:96%;" />
                            </div>
                            <div>
                                <label for="email" accesskey="E">Email: <span>*</span></label>
                                <input name="email" type="email" id="email"  style="width:96%;" />
                            </div>
                            <div>
                                <label for="comments" accesskey="C">Message: <span>*</span></label>
                                <textarea name="comments" cols="40" rows="3" id="comments" spellcheck="true" style="width:96%;"></textarea>
                            </div>
                        </fieldset>
                        <input type="submit" class="submit" id="submit" value="Send Message" />
                        <div class="clearfix"></div>
                    </form>
                </section>
                <!-- Contact Form / End -->
            </div>
            <div class="nine columns right">
                <h3 class="headline">Contact Information</h3>
                <span class="brd-headling"></span>
                <div class="clearfix"></div>
                <div class="four columns" style="border-bottom:1px solid #eee; margin-right:0px; border-right:1px solid #eee;">
                    <div class="featured-box" data-animated="flipInX">
                        <div class="circle-2"><i class="ss-location"></i></div>
                        <div class="featured-desc-2">
                            <h3>Office Address</h3>
                            <p>
                                1234 Street Abort Road, <br />
                                Gulberg City, UK.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="four columns" style="border-bottom:1px solid #eee; margin-left:0px;">
                    <div class="featured-box" data-animated="flipInX" style="margin-left:20px;	">
                        <div class="circle-2"><i class="ss-phone"></i></div>
                        <div class="featured-desc-2">
                            <h3>Phone Number</h3>
                            <p>
                                +00 123 456 789<br>
                                +00 123 456 789
                            </p>
                        </div>
                    </div>
                </div>
                <div class="four columns" style="border-right:1px solid #eee;">
                    <div class="featured-box" data-animated="flipInX">
                        <div class="circle-2"><i class="ss-mail"></i></div>
                        <div class="featured-desc-2">
                            <h3>Email ID's</h3>
                            <p>
                                info@mymobcloud.com<br>
                                contact@evolvestudio.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="featured-box" data-animated="flipInX">
                        <div class="circle-2"><i class="ss-users"></i></div>
                        <div class="featured-desc-2">
                            <h3>Online Support</h3>
                            <p>
                                Yahoo ID: evolve<br>
                                Skype ID: evolve
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="widget" style="margin-left:0px; border-top:1px solid eee;">
                    <ul class="social-icons">
                        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a class="appstore" href="#"><i class="icon-appstore"></i></a></li>
                        <li><a class="paypal" href="#"><i class="icon-paypal"></i></a></li>
                                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr class="sep50">

        <div class="bg-color">
            <!-- Container -->
            <div class="container">
                <!-- Navigation / Left -->
                <div class="one carousel column">
                    <div id="showbiz_left_2" class="sb-navigation-left-3"><i class="icon-angle-left"></i></div>
                </div>
                <!-- ShowBiz Carousel -->
                <div id="our-clients" class="showbiz-container fourteen carousel columns">

                    <div class="showbiz our-clients" data-left="#showbiz_left_2" data-right="#showbiz_right_2">
                        <div class="overflowholder">
                            <ul>
                                <!-- Item -->
                                <li data-animated="fadeInUp"><img src='@Url.Content("~/Content/home/images/partners/logo-01.png")' alt="" /></li>
                                <li data-animated="fadeInDown"><img src='@Url.Content("~/Content/home/images/partners/logo-02.png")' alt="" /></li>
                                <li data-animated="fadeInUp"><img src='@Url.Content("~/Content/home/images/partners/logo-03.png")' alt="" /></li>
                                <li data-animated="fadeInDown"><img src='@Url.Content("~/Content/home/images/partners/logo-04.png")' alt="" /></li>
                                <li data-animated="fadeInUp"><img src='@Url.Content("~/Content/home/images/partners/logo-05.png")' alt="" /></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- Navigation / Right -->
                <div class="one carousel column">
                    <div id="showbiz_right_2" class="sb-navigation-right-3"><i class="icon-angle-right"></i></div>
                </div>
            </div>
            <!-- Container / End -->
        </div>



    </div>
    <!-- Content Wrapper / End -->

    @RenderPage("~/Views/Home/footer.cshtml")
</body>
</html>
