﻿@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<title>FAQ's</title>

<!--<![endif]-->
@RenderPage("~/Views/Home/header.cshtml")
<body>
    <div id="content-wrapper">

        <!-- Parallex Page Title -->
        <div id="parallex-inner" class="parallex">
            <div class="container">
                <div class="eight columns" data-animated="fadeInUp">
                    <h1>FAQ's</h1>
                </div>
                
            </div>
        </div>

        <!-- Container -->
        <div class="container" data-animated="fadeInDown">
            <div class="sixteen columns main-headline">
                <h3>Frequently Asked Questions </h3>
                <p>Select a question below to find the answer</p>
            </div>
            <hr class="sep30">
            <!-- Toggles -->
            <div class="twelve alt columns">
                <!-- Toggle 1 -->
                <div class="toggle-wrap faq">
                    <span class="trigger opened"><a href="#"><i class="toggle-icon"></i> Pellentesque tristique, elit sit amet tristique consequat ? </a></span>
                    <div class="toggle-container">
                        <p> Cras volutpat, dolor eu viverra elementum, mi enim bibendum arcu, quis imperdiet nisl leo eget leo. Integer tincidunt, elit quis ultricies fringilla, sem nulla viverra eros, vel adipiscing risus purus quis massa.</p>
                    </div>
                </div>
                <!-- Toggle 2 -->
                <div class="toggle-wrap faq">
                    <span class="trigger"><a href="#"><i class="toggle-icon"></i> Lacus nulla eu erat. In ac lorem vitae magna convallis porta ?</a></span>
                    <div class="toggle-container">
                        <p> Cras volutpat, dolor eu viverra elementum, mi enim bibendum arcu, quis imperdiet nisl leo eget leo. Integer tincidunt, elit quis ultricies fringilla, sem nulla viverra eros, vel adipiscing risus purus quis massa.</p>
                    </div>
                </div>
                <!-- Toggle 3 -->
                <div class="toggle-wrap faq">
                    <span class="trigger"><a href="#"><i class="toggle-icon"></i> Tristique consequat, risus nunc elit sit amet tristique consequat ?</a></span>
                    <div class="toggle-container">
                        <p> Cras volutpat, dolor eu viverra elementum, mi enim bibendum arcu, quis imperdiet nisl leo eget leo. Integer tincidunt, elit quis ultricies fringilla, sem nulla viverra eros, vel adipiscing risus purus quis massa.</p>
                    </div>
                </div>
                <!-- Toggle 4 -->
                <div class="toggle-wrap faq">
                    <span class="trigger"><a href="#"><i class="toggle-icon"></i> Proin tristique, nisi ultrices ornare porttitor ?</a></span>
                    <div class="toggle-container">
                        <p> Cras volutpat, dolor eu viverra elementum, mi enim bibendum arcu, quis imperdiet nisl leo eget leo. Integer tincidunt, elit quis ultricies fringilla, sem nulla viverra eros, vel adipiscing risus purus quis massa.</p>
                    </div>
                </div>
                <!-- Toggle 5 -->
                <div class="toggle-wrap faq">
                    <span class="trigger"><a href="#"><i class="toggle-icon"></i> Bibendum nulla magna sed leo. Aenean sit amet metus vel risus molestie ?</a></span>
                    <div class="toggle-container">
                        <p> Cras volutpat, dolor eu viverra elementum, mi enim bibendum arcu, quis imperdiet nisl leo eget leo. Integer tincidunt, elit quis ultricies fringilla, sem nulla viverra eros, vel adipiscing risus purus quis massa.</p>
                    </div>
                </div>
                <!-- Toggle 6 -->
                <div class="toggle-wrap faq">
                    <span class="trigger"><a href="#"><i class="toggle-icon"></i> Velit et consectetur euismod ?</a></span>
                    <div class="toggle-container">
                        <p> Cras volutpat, dolor eu viverra elementum, mi enim bibendum arcu, quis imperdiet nisl leo eget leo. Integer tincidunt, elit quis ultricies fringilla, sem nulla viverra eros, vel adipiscing risus purus quis massa.</p>
                    </div>
                </div>
                <!-- Toggle 7 -->
                <div class="toggle-wrap faq">
                    <span class="trigger"><a href="#"><i class="toggle-icon"></i> Tristique, nisi ultrices ornare porttitor ? </a></span>
                    <div class="toggle-container">
                        <p> Cras volutpat, dolor eu viverra elementum, mi enim bibendum arcu, quis imperdiet nisl leo eget leo. Integer tincidunt, elit quis ultricies fringilla, sem nulla viverra eros, vel adipiscing risus purus quis massa./p>
                    </div>
                </div>
                <!-- Toggle 8 -->
                <div class="toggle-wrap faq">
                    <span class="trigger"><a href="#"><i class="toggle-icon"></i> Fusce nunc eros, adipiscing ? </a></span>
                    <div class="toggle-container">
                        <p> Cras volutpat, dolor eu viverra elementum, mi enim bibendum arcu, quis imperdiet nisl leo eget leo. Integer tincidunt, elit quis ultricies fringilla, sem nulla viverra eros, vel adipiscing risus purus quis massa./p>
                    </div>
                </div>
                <!-- Toggle 9 -->
                <div class="toggle-wrap faq">
                    <span class="trigger"><a href="#"><i class="toggle-icon"></i> Nam dictum orci eu sem vulputate ? </a></span>
                    <div class="toggle-container">
                        <p> Cras volutpat, dolor eu viverra elementum, mi enim bibendum arcu, quis imperdiet nisl leo eget leo. Integer tincidunt, elit quis ultricies fringilla, sem nulla viverra eros, vel adipiscing risus purus quis massa./p>
                    </div>
                </div>
                <!-- Toggle 10 -->
                <div class="toggle-wrap faq">
                    <span class="trigger"><a href="#"><i class="toggle-icon"></i> Integer tincidunt, elit quis ultricies fringilla ? </a></span>
                    <div class="toggle-container">
                        <p> Cras volutpat, dolor eu viverra elementum, mi enim bibendum arcu, quis imperdiet nisl leo eget leo. Integer tincidunt, elit quis ultricies fringilla, sem nulla viverra eros, vel adipiscing risus purus quis massa./p>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="four columns">
                <div class="services-box services-box-animated">
                    <div class="inner">
                        <div class="front">
                            <img src='@Url.Content("~/Content/home/images/icon10.png")' alt="">
                            <h3>We Hear You</h3>
                        </div>
                        <div class="back">
                            <h3>We Hear You</h3>
<p>We're here to help.
Our technical support team is available by phone and e-mail, 24 hours a day, 7 days a week, to answer questions and help you make  your Apps.
</p>
                        </div>
                    </div>
                </div>

                <!-- ShowBiz Carousel -->
              
                <hr class="sep40">
            </div>
        </div>
        <!-- Container / End -->
        <hr class="sep20">

    </div>
    <!-- Content Wrapper / End -->

    @RenderPage("~/Views/Home/footer.cshtml")
</body>
</html>
