﻿<!-- Footer
================================================== -->
<div id="footer">
    <!-- Container -->
    <div class="container">
        <div class="four columns">
            <h3>About</h3>
            <p style="margin:0;">E-culture is a policy term used to describe the ever shifting relationship between new information and communication technology and the production and consumption of culture and the arts. The term e-culture is used in Dutch cultural policy documents to refer to the relationship between new media and culture.</p>


        </div>
        <div class="eight columns">
            <div class="four alt columns">
                <h3>Get In Touch</h3>
                <ul class="get-in-touch">
                    <li>
                        <i class="ss-location"></i>
                        <p>Damascus City ,Syria </p>
                    </li>
                    <li>
                        <i class="ss-mail"></i>
                        <p><strong>Email:</strong> <a href="mailto:info@mymobcloud.com">info@mymobcloud.com</a></p>
                    </li>
                </ul>
            </div>
            <div class="four alt columns">
                <h3>Categories</h3>
                <div class="widget_latest_posts">
                    <ul>
                        <li>
                            <h6><i class="icon-chevron-right"></i><a href="#">Articles</a></h6>
                        </li>
                        <li>
                            <h6><i class="icon-chevron-right"></i><a href="#">Blog Post</a></h6>
                        </li>
                        <li>
                            <h6><i class="icon-chevron-right"></i><a href="#">Newsletter</a></h6>
                        </li>
                        <li>
                            <h6><i class="icon-chevron-right"></i><a href="#">Image Gallery</a></h6>
                        </li>
                        <li>
                            <h6><i class="icon-chevron-right"></i><a href="#">PSD Template</a></h6>
                        </li>
                        <li>
                            <h6><i class="icon-chevron-right"></i><a href="#">Wordpress</a></h6>
                        </li>

                    </ul>
                </div>
            </div>
            <hr class="sep10">
            <div class="eight columns">
                <h3>Newsletter</h3>
                <p>Make sure you don't miss our latest news !</p>
                <br>
                <div action="#" method="get">
                    <button class="newsletter-btn" onclick="addsubsriber();">Subscribe</button>
                    <input class="newsletter" id="mail" type="text" onblur="if(this.value=='')this.value='Email Address';" onfocus="if(this.value=='Email Address')this.value='';" value="Email Address" />
                </div>
            </div>
        </div>
        <div class="four columns">
            <h3>Tags</h3>
            <div class="footer_tags">
                <ul>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">PSD Template</a></li>
                    <li><a href="#">Video</a></li>
                    <li><a href="#">Photography</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Multimedia</a></li>
                    <li><a href="#">Responsive</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- Container / End -->
</div>
<!-- Footer / End -->
<script src='@Url.Content("~/Content/home/scripts/jquery.min.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.themepunch.plugins.min.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.themepunch.revolution.min.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.themepunch.showbizpro.min.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/appear.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/camera.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/camera-script.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.easing.min.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.tooltips.min.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.magnific-popup.min.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.superfish.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.twitter.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.flexslider.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.jpanelmenu.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.zflickrfeed.min.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.contact.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.isotope.min.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/jquery.easy-pie-chart.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/parallex.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/ss-gizmo.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/custom.js")'></script>
<script src='@Url.Content("~/Content/home/scripts/switcher.js")'></script>
<section id="style-switcher">
    <h2>Style Selector <a href="#"></a></h2>
    <div>
        <h3>Layout Style</h3>
        <div class="layout-style">
            <select id="layout-style">
                <option value="1">Wide</option>
                <option value="2">Boxed</option>
            </select>
        </div>
        <h3>Header Style</h3>
        <div class="header-style">
            <select id="header-style">
                <option value="1">Header 1</option>
                <option value="2">Header 2</option>
                <option value="3">Header 3</option>
            </select>
        </div>
        <h3>Predefined Colors</h3>
        <ul class="colors" id="colors">
            <li><a href="#" class="grayblue" title="Gray Blue"></a></li>
            <li><a href="#" class="orange" title="Orange"></a></li>
            <li><a href="#" class="green" title="Green"></a></li>
            <li><a href="#" class="blue" title="Blue"></a></li>
            <li><a href="#" class="yellow" title="Yellow"></a></li>
            <li><a href="#" class="navy" title="Navy"></a></li>
            <li><a href="#" class="beige" title="Beige"></a></li>
            <li><a href="#" class="red" title="Red"></a></li>
            <li><a href="#" class="cyan" title="Cyan"></a></li>
            <li><a href="#" class="pink" title="Pink"></a></li>
            <li><a href="#" class="brown" title="Brown"></a></li>
            <li><a href="#" class="olive" title="Olive"></a></li>
            <li><a href="#" class="purple" title="Purple"></a></li>
            <li><a href="#" class="gray" title="Gray"></a></li>
        </ul>
        <h3>Background Image</h3>
        <ul class="colors bg" id="bg">
            <li><a href="#" class="bg1"></a></li>
            <li><a href="#" class="bg2"></a></li>
            <li><a href="#" class="bg3"></a></li>
            <li><a href="#" class="bg4"></a></li>
            <li><a href="#" class="bg5"></a></li>
            <li><a href="#" class="bg6"></a></li>
            <li><a href="#" class="bg7"></a></li>
            <li><a href="#" class="bg8"></a></li>
            <li><a href="#" class="bg9"></a></li>
            <li><a href="#" class="bg10"></a></li>
            <li><a href="#" class="bg11"></a></li>
            <li><a href="#" class="bg12"></a></li>
            <li><a href="#" class="bg13"></a></li>
            <li><a href="#" class="bg14"></a></li>
        </ul>
    </div>
</section>



