﻿@{
    ViewBag.Title = "My Mob Cloude";
    Layout = "";
}
<!DOCTYPE html>
<title>Mob Cloude</title>

    @RenderPage("~/Views/Home/header.cshtml")

    <!-- Content Wrapper
    ================================================== -->
<body>
    <div id="content-wrapper">


        <!-- Revolution Slider Start -->
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>

                    <!-- Slide 1 -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">

                        <img src='@Url.Content("~/Content/home/images/rev/bg-slider-01.jpg")' alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        ><div class="tp-caption customin customout"
                              data-x="700"
                              data-y="50"
                              data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                              data-speed="600"
                              data-start="1000"
                              data-easing="Power4.easeOut"
                              data-endspeed="500"
                              data-endeasing="Power4.easeOut"
                              style="z-index: 3"><img src='@Url.Content("~/Content/home/images/rev/slider01-img01.png")' alt=""></div>

                        <div class="tp-caption medium_text ucase customin"
                             data-x="0"
                             data-y="220"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1200"
                             data-easing="Power3.easeInOut"
                             data-endspeed="300"
                             style="z-index: 3">
                            beautiful Mobile Apps<br>
                        </div>

                        <div class="tp-caption small_text customin"
                             data-x="0"
                             data-y="280"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power3.easeInOut"
                             data-endspeed="300"
                             style="z-index: 3">
                            We're not the only ones excited about Mobile Applications...<br>
                        </div>

                        <div class="caption text skewfromrightshort customout"
                             data-x="0"
                             data-y="340"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="2000"
                             data-easing="Power3.easeInOut"
                             data-endspeed="300"
                             style="z-index: 3"><a href="#" class="button line-white">Purchase Now</a></div>
                    </li>

                    <!-- Slide 2-->
                    <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">

                        <img src='@Url.Content("~/Content/home/images/rev/bg-slider-02.jpg")' alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <div class="tp-caption customin"
                             data-x="100"
                             data-y="280"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="500"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             style="z-index: 5"><i class="ss-mug"><span>Clean Design</span></i></div>

                        <div class="tp-caption customin"
                             data-x="300"
                             data-y="280"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1000"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             style="z-index: 5"><i class="ss-lightbulb"><span>Easy Use</span></i></div>

                        <div class="tp-caption customin"
                             data-x="500"
                             data-y="280"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1200"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             style="z-index: 5"><i class="ss-touchtonephone"><span>24/7 Support</span></i></div>

                        <div class="tp-caption customin"
                             data-x="700"
                             data-y="280"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1400"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             style="z-index: 5"><i class="ss-cart"><span>Online Store</span></i></div>

                        <div class="tp-caption customin"
                             data-x="900"
                             data-y="280"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1600"
                             data-easing="Power3.easeInOut"
                             data-endspeed="500"
                             style="z-index: 5"><i class="ss-crescentmoon"><span>Magic Touch</span></i></div>

                        <div class="tp-caption large_bold_white customin customout"
                             data-x="280"
                             data-y="90"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="600"
                             data-start="2000"
                             data-easing="Back.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 10">WE CREATE TO LET YOU USE</div>

                        <div class="tp-caption small_light_white customin customout"
                             data-x="440"
                             data-y="140"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="600"
                             data-start="2200"
                             data-easing="Back.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 11">Everything is simple and easy, All in one</div>
                    </li>

                    <!-- Slide 3 -->
                    <!-- Slide 4 -->
                    <li data-transition="zoomin" data-slotamount="7" data-masterspeed="600">

                        <img src='@Url.Content("~/Content/home/images/rev/bg-slider-04.jpg")' alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfb ltl"
                             data-x="375"
                             data-y="150"
                             data-speed="600"
                             data-start="800"
                             data-easing="Back.easeOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             data-captionhidden="on"
                             style="z-index: 6"><img src='@Url.Content("~/Content/home/images/rev/slider04-img01.png")' alt=""></div>

                        <div class="tp-caption sfb ltl"
                             data-x="180"
                             data-y="240"
                             data-speed="600"
                             data-start="1000"
                             data-easing="Back.easeOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             data-captionhidden="on"
                             style="z-index: 6"><img src='@Url.Content("~/Content/home/images/rev/slider04-img02.png")' alt=""></div>

                        <div class="tp-caption sfb ltl"
                             data-x="805"
                             data-y="285"
                             data-speed="600"
                             data-start="1200"
                             data-easing="Back.easeOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             data-captionhidden="on"
                             style="z-index: 6"><img src='@Url.Content("~/Content/home/images/rev/slider04-img03.png")' alt=""></div>

                        <div class="tp-caption small_light_white customin skewtoright"
                             data-x="500"
                             data-y="60"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:30;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="600"
                             data-start="1400"
                             data-easing="Back.easeInOut"
                             data-endspeed="400"
                             data-endeasing="Back.easeIn"
                             style="z-index: 11">Premium Mobile Apps with Content Mangment System</div>

                        <div class="tp-caption large_bold_white customin customout"
                             data-x="280"
                             data-y="90"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="600"
                             data-start="1600"
                             data-easing="Back.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 10">Easy & Secure</div>
                    </li>
                </ul>

            </div>
        </div>

        <!-- Tagline -->
        <div class="bg-tagline">
            <div class="container">
                <div class="twelve columns">
                    <h3>The fastest way to grow your Apps with the leader in Technology.</h3>
                    <p> Check out our options and features included.</p>
                </div>
                <div class="four columns centered"> <a href="/Home/Site" class="button line-color">Get Started Now!</a> </div>
            </div>
        </div>

        <!-- Featured Boxes Container -->
        <div class="container">
            <div class="featured-boxes homepage">
                <div class="one-third column" data-animated="bounceIn">
                    <!-- Featured Box -->
                    <div class="featured-box">
                        <div class="circle-1"><i class="ss-layers"></i></div>
                        <div class="featured-desc">
                            <h3>Super Design</h3>
<p>jQuery Mobile is a new project that addresses this shortfall. It's a framework built on top of jQuery that provides a range of user interface elements and features for you to use in your mobile apps.</p>
                        </div>
                    </div>
                </div>
                <div class="one-third column" data-animated="bounceIn">
                    <!-- Featured Box -->
                    <div class="featured-box">
                        <div class="circle-1"><i class="icon-code"></i></div>
                        <div class="featured-desc">
                            <h3>Clean Code</h3>
<p>Clean code is a reader-focused development style that produces software that’s easy to write, read and maintain. Developers are often tempted to consider their work complete when the application operates as expected. But we’re not merely writing code for computer consumption.</p>
                        </div>
                    </div>
                </div>
                <div class="one-third column" data-animated="bounceIn">
                    <!-- Featured Box -->
                    <div class="featured-box homepage">
                        <div class="circle-1"><i class="ss-loading"></i></div>
                        <div class="featured-desc">
                            <h3>Top End Features</h3>
<p>Use all new and great features in your app. Smooth Navigation
Create your app the way you imagine it and don't worry about anything else.</p> 
                                               </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Portfolio Carousel -->
        <div class="bg-light-blue">
            <!-- Headline -->
            <div class="sixteen columns main-headline">
                <h3>Some of Our Featured Products</h3>
            </div>
            <!-- ShowBiz Carousel -->
            <div id="recent-work" class="showbiz-container sixteen columns" data-animated="fadeInDownBig">
                <!-- Portfolio Entries -->
                <div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1">
                    <div class="overflowholder">
                        <ul>
                            <!-- Item -->
                            <li>
                                <div class="portfolio-item media">
                                    <figure>
                                        <div class="mediaholder">
                                            <a href='@Url.Content("~/Content/home/images/content/portfolio-01a.jpg")' class="mfp-gallery" title="Project 01">
                                                <img alt="" src='@Url.Content("~/Content/home/images/content/portfolio-01.jpg")' />
                                                <div class="hovercover">
                                                    <div class="hovericon"><i class="hoverzoom"></i></div>
                                                </div>
                                            </a>
                                        </div>

                                        <figcaption class="item-description item-description-bgwhite">
                                            <a href="project-single-half.html"><h5>Project Title 01</h5></a>
                                            <span>Item Description</span>
                                            <i class="ss-heart"> 12</i>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <!-- Item -->
                            <li>
                                <div class="portfolio-item media">
                                    <figure>
                                        <div class="mediaholder">
                                            <a href='@Url.Content("~/Content/home/images/content/portfolio-02a.jpg")' class="mfp-gallery" title="Project 01">
                                                <img alt="" src='@Url.Content("~/Content/home/images/content/portfolio-02.jpg")' />
                                                <div class="hovercover">
                                                    <div class="hovericon"><i class="hoverzoom"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                        <figcaption class="item-description item-description-bgwhite">
                                            <a href="project-single-half.html"><h5>Project Title 02</h5></a>
                                            <span>Item Description</span>
                                            <i class="ss-heart"> 07</i>
                                        </figcaption>

                                    </figure>
                                </div>
                            </li>
                            <!-- Item -->
                            <li>
                                <div class="portfolio-item media">
                                    <figure>
                                        <div class="mediaholder">
                                            <a href='@Url.Content("~/Content/home/images/content/portfolio-03a.jpg")' class="mfp-gallery" title="Project 01">
                                                <img alt="" src='@Url.Content("~/Content/home/images/content/portfolio-03.jpg")' />
                                                <div class="hovercover">
                                                    <div class="hovericon"><i class="hoverzoom"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                        <figcaption class="item-description item-description-bgwhite">
                                            <a href="project-single-half.html"><h5>Project Title 03</h5></a>
                                            <span>Item Description</span>
                                            <i class="ss-heart"> 32</i>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <!-- Item -->
                            <li>
                                <div class="portfolio-item media">
                                    <figure>
                                        <div class="mediaholder">
                                            <a href='@Url.Content("~/Content/home/images/content/portfolio-04a.jpg")' class="mfp-gallery" title="Project 01">
                                                <img alt="" src='@Url.Content("~/Content/home/images/content/portfolio-04.jpg")' />
                                                <div class="hovercover">
                                                    <div class="hovericon"><i class="hoverzoom"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                        <figcaption class="item-description item-description-bgwhite">
                                            <a href="project-single-half.html"><h5>Project Title 04</h5></a>
                                            <span>Item Description</span>
                                            <i class="ss-heart"> 03</i>
                                        </figcaption>

                                    </figure>
                                </div>
                            </li>
                            <!-- Item -->
                            <li>
                                <div class="portfolio-item media">
                                    <figure>
                                        <div class="mediaholder">
                                            <a href='@Url.Content("~/Content/home/images/content/portfolio-05a.jpg")' class="mfp-gallery" title="Project 01">
                                                <img alt="" src='@Url.Content("~/Content/home/images/content/portfolio-05.jpg")' />
                                                <div class="hovercover">
                                                    <div class="hovericon"><i class="hoverzoom"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                        <figcaption class="item-description item-description-bgwhite">
                                            <a href="project-single-half.html"><h5>Project Title 05</h5></a>
                                            <span>Item Description</span>
                                            <i class="ss-heart"> 18</i>
                                        </figcaption>

                                    </figure>
                                </div>
                            </li>
                            <!-- Item -->
                            <li>
                                <div class="portfolio-item media">
                                    <figure>
                                        <div class="mediaholder">
                                            <a href='@Url.Content("~/Content/home/images/content/portfolio-06a.jpg")' class="mfp-gallery" title="Project 01">
                                                <img alt="" src='@Url.Content("~/Content/home/images/content/portfolio-06.jpg")' />
                                                <div class="hovercover">
                                                    <div class="hovericon"><i class="hoverzoom"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                        <figcaption class="item-description item-description-bgwhite">
                                            <a href="project-single-half.html"><h5>Project Title 06</h5></a>
                                            <span>Item Description</span>
                                            <i class="ss-heart"> 23</i>
                                        </figcaption>

                                    </figure>
                                </div>
                            </li>
                            <!-- Item -->
                            <li>
                                <div class="portfolio-item media">
                                    <figure>
                                        <div class="mediaholder">
                                            <a href='@Url.Content("~/Content/home/images/content/portfolio-07a.jpg")' class="mfp-gallery" title="Project 01">
                                                <img alt="" src='@Url.Content("~/Content/home/images/content/portfolio-07.jpg")' />
                                                <div class="hovercover">
                                                    <div class="hovericon"><i class="hoverzoom"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                        <figcaption class="item-description item-description-bgwhite">
                                            <a href="project-single-half.html"><h5>Project Title 07</h5></a>
                                            <span>Item Description</span>
                                            <i class="ss-heart"> 11</i>
                                        </figcaption>

                                    </figure>
                                </div>
                            </li>
                            <!-- Item -->
                            <li>
                                <div class="portfolio-item media">
                                    <figure>
                                        <div class="mediaholder">
                                            <a href='@Url.Content("~/Content/home/images/content/portfolio-08a.jpg")' class="mfp-gallery" title="Project 01">
                                                <img alt="" src='@Url.Content("~/Content/home/images/content/portfolio-08.jpg")' />
                                                <div class="hovercover">
                                                    <div class="hovericon"><i class="hoverzoom"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                        <figcaption class="item-description item-description-bgwhite">
                                            <a href="project-single-half.html"><h5>Project Title 08</h5></a>
                                            <span>Item Description</span>
                                            <i class="ss-heart"> 07</i>
                                        </figcaption>

                                    </figure>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Navigation -->
                    <div class="showbiz-navigation">
                        <div id="showbiz_left_1" class="sb-navigation-left"><i class="icon-angle-left"></i></div>
                        <div id="showbiz_right_1" class="sb-navigation-right"><i class="icon-angle-right"></i></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <!-- Featured boxes container -->
        <div class="container">
            <!-- Headline -->
            <div class="sixteen columns main-headline">
                <h3>Mobile Cloud does all the work for you. Instinctively</h3>
            </div>
            <hr class="sep20">
            <div class="one-third column">
                <!-- Featured Box -->
                <hr class="sep50">
                <div class="featured-box" data-animated="flipInX">
                    <div class="circle-2" style="float:right;"><i class="ss-broccoli"></i></div>
                    <div class="featured-desc-2" style="text-align:right; margin-right:60px; margin-left:0px;">
                        <h3>An App for Everyone</h3>
                        <p>Register now to create, manage and publish a professionally - looking iOS or Android app for smart phones and tablets.</p>
                    </div>
                </div>
                <!-- Featured Box -->
                <div class="featured-box" data-animated="flipInX">
                    <div class="circle-2" style="float:right;"><i class="ss-book"></i></div>
                    <div class="featured-desc-2" style="text-align:right; margin-right:60px; margin-left:0px;">
                        <h3>Premium Quality</h3>
                        <p>Design your app with high quality graphics, themes and top end features.</p>
                    </div>
                </div>

                <div class="featured-box" data-animated="flipInX">
                    <div class="circle-2" style="float:right;"><i class="ss-play"></i></div>
                    <div class="featured-desc-2" style="text-align:right; margin-right:60px; margin-left:0px;">
                        <h3>We hear you</h3>
                        <p>Tell us what you think and what more features you want in your app.</p>
                    </div>
                </div>
            </div>
            <div class="one-third column"> <img src='@Url.Content("~/Content/home/images/img-iphone01.png")'  class="image-center" data-animated="fadeInUp" alt=""> </div>
            <div class="one-third column">
                <!-- Featured Box -->
                <hr class="sep50">
                <div class="featured-box" data-animated="flipInX">
                    <div class="circle-2"><i class="ss-cart"></i></div>
                    <div class="featured-desc-2">
                        <h3>No Speed Limits</h3>
                        <p>With Mobile Cloud we create your app with maximum functionality.</p>
                    </div>
                </div>
                <!-- Featured Box -->
                <div class="featured-box" data-animated="flipInX">
                    <div class="circle-2"><i class="ss-barchart"></i></div>
                    <div class="featured-desc-2">
                        <h3>Brewed for Success</h3>
                        <p>Customize your app to reflect the particularities of your company and empower your business.<p>
                    </div>
                </div>

                <div class="featured-box" data-animated="flipInX">
                    <div class="circle-2"><i class="ss-lock"></i></div>
                    <div class="featured-desc-2">
                        <h3>Secured Accounts</h3>
                        <p>Don't worry about your Information. We provide Secure connection and paying processes.<p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Parallex Section  -->
        <div id="parallex1" class="parallex">
            <div class="container">
                <div class="sixteen columns main-headline">
                    <h3 class="color-white">Our Happy Clents</h3>
                </div>

                <div id="showbiz_left_3"></div>
                <!-- ShowBiz Carousel -->
                <div id="happy-clients" class="showbiz-container sixteen carousel columns">

                    <div class="showbiz our-clients" data-left="#showbiz_left_3" data-right="#showbiz_right_3">
                        <div class="overflowholder">
                            <ul>
                                <li>
                                    <div class="happy-clients-photo"><img src=@Url.Content("~/Content/home/images/happy-clients-01.jpg") alt="" /></div>
                                    <div class="happy-clients-cite"><i class="ss-navigateleft"></i>There's no need to be a developer to create an app: all you have to do is select your settings and follow a few steps."</div>
                                    <div class="happy-clients-author">Jane Warner, <strong>CTO</strong></div>
                                </li>
                                <li>
                                    <div class="happy-clients-photo"><img src=@Url.Content("~/Content/home/images/happy-clients-02.jpg") alt="" /></div>
                                    <div class="happy-clients-cite"><i class="ss-navigateleft"></i>Mobile Cloud has clear value for small businesses and independent publishers.</div>
                                    <div class="happy-clients-author">Johnny Smith, <strong>CEO</strong></div>
                                </li>
                                <li>
                                    <div class="happy-clients-photo"><img src=@Url.Content("~/Content/home/images/happy-clients-03.jpg") alt="" /></div>
                                    <div class="happy-clients-cite"><i class="ss-navigateleft"></i> I’d say do it! The flexibility is awesome and the possibilities are endless. I also want to thank Evolve for the brillient support with setting things up and answering questions that I had. Thumbs Up!</div>
                                    <div class="happy-clients-author">Mario Moneta, <strong>CFO</strong></div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- Navigation / Right -->
                <div id="showbiz_right_3"></div>
                <div class="overlay"></div>
            </div>
            <!--/.container-->
        </div>
   

        <!-- Partners Carousel  -->

        <hr class="sep40">

        <!-- Pie Chart Seaction  -->
        <div class="bg-facts">
            <!-- Container -->
            <div class="container">
                <!-- Headline -->
                <div class="sixteen columns main-headline">
                    <h3>Facts </h3>
                </div>
                <hr class="sep20">
                <div class="chart" style="position:relative; top:100px;" data-animated="bounceIn" data-delay="0">
                    <div class="percentage-light" data-percent="35"><span>35</span>%</div>
                    <h3>Website Design</h3>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia</p>
                </div>
                <div class="chart" data-animated="bounceIn" data-delay="1000">
                    <div class="percentage-light" data-percent="65"><span>65</span>%</div>
                    <h3>Software Development</h3>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia</p>
                </div>
                <div class="chart" style="position:relative; top:100px; left:30px;" data-animated="bounceIn" data-delay="2000">
                    <div class="percentage-light" data-percent="15"><span>15</span>%</div>
                    <h3>E-Commerce Solution</h3>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia</p>
                </div>
                <div class="chart" data-animated="bounceIn" data-delay="3000">
                    <div class="percentage-light" data-percent="93"><span>93</span>%</div>
                    <h3>Print Media</h3>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia</p>
                </div>
            </div>
        </div>
        <hr class="sep80">
        <div class="bg-light-blue">
            <div class="container">
                <div class="sixteen columns main-headline">
                    <h3>Photo Gallery & Recent News</h3>
                </div>
                <hr class="sep20">
                <div class="eight columns" data-animated="lightSpeedLeft">

                    <!-- camera gallery -->
                    <div class="camera_wrap camera_emboss" id="camera_wrap_3">
                        <div data-thumb='@Url.Content("~/Content/home/images/content/portfolio-03a.jpg")' data-src='@Url.Content("~/Content/home/images/content/portfolio-03a.jpg")' data-time="800" data-link="#" class="brd-rd2"> </div>
                        <div data-thumb='@Url.Content("~/Content/home/images/content/portfolio-04a.jpg")' data-src='@Url.Content("~/Content/home/images/content/portfolio-04a.jpg")' data-time="1200" data-link="#"> </div>
                        <div data-thumb='@Url.Content("~/Content/home/images/content/portfolio-05a.jpg")' data-src='@Url.Content("~/Content/home/images/content/portfolio-05a.jpg")' data-time="1600" data-link="#"></div>
                        <div data-thumb='@Url.Content("~/Content/home/images/content/portfolio-06a.jpg")' data-src='@Url.Content("~/Content/home/images/content/portfolio-06a.jpg")' data-time="2000" data-link="#"></div>
                        <div data-thumb='@Url.Content("~/Content/home/images/content/portfolio-07a.jpg")' data-src='@Url.Content("~/Content/home/images/content/portfolio-07a.jpg")' data-time="2400" data-trasperiod="4000" data-link="#"></div>
                    </div>

                </div>
                <div class="eight columns" data-animated="lightSpeedRight">
                    <!-- ShowBiz Carousel -->
                    <div id="recent-blog" class="showbiz-container eight columns" style="margin-top:-30px;">
                        <!-- Navigation -->
                        <div class="showbiz-navigation-4">
                            <div id="showbiz_left_4" class="sb-navigation-left-4"><i class="icon-angle-left"></i></div>
                            <div id="showbiz_right_4" class="sb-navigation-right-4"><i class="icon-angle-right"></i></div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="showbiz" data-left="#showbiz_left_4" data-right="#showbiz_right_4">
                            <div class="overflowholder">
                                <ul>
                                    <!-- Recent Blog -->
                                    <li>
                                        <div class="four columns alpha">
                                            <article class="recent-blog">
                                                <section class="date"> <span class="day">05</span> <span class="month">Dec</span> </section>
                                                <img src='@Url.Content("~/Content/home/images/content/img-01a.jpg")' alt="">
                                                <h4><a href="blog-post.html">jQuery Mobile</a></h4>
                                                <p>
                                                    jQuery Mobile is built upon the existing jQuery core, meaning that if you understand the jQuery syntax, then you will have no problems getting JM to work. The framework is compatible with all major mobile and desktop applications including iOS, Android, Blackberry, Palm WebOS, Nokia/Symbian, Windows Mobile, Opera Mobile/Mini, Firefox Mobile and all modern desktop browsers.
                                                </p>                                                <div class="author">by <a href="#">Loay</a> | 3 Comments</div>
                                            </article>
                                        </div>
                                        <div class="four columns omega">
                                            <article class="recent-blog">
                                                <section class="date"> <span class="day">28</span> <span class="month">Nov</span> </section>
                                                <img src='@Url.Content("~/Content/home/images/content/img-01b.jpg")' alt="">
                                                <h4><a href="blog-post.html">Phone Gap</a></h4>
                                                <p>PhoneGap Build takes the pain out of compiling PhoneGap apps. Get app-store ready apps without the headache of maintaining native SDKs. Our PhoneGap Build service does the work for you by compiling in the cloud.</p>
                                                <div class="author">by <a href="#">Admin</a> | 11 Comments</div>
                                            </article>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="four columns alpha">
                                            <article class="recent-blog">
                                                <section class="date"> <span class="day">05</span> <span class="month">Dec</span> </section>
                                                <img src='@Url.Content("~/Content/home/images/content/img-01a.jpg")' alt="">
                                                <h4><a href="blog-post.html">jQuery Mobile</a></h4>
                                                <p>
                                                    jQuery Mobile is built upon the existing jQuery core, meaning that if you understand the jQuery syntax, then you will have no problems getting JM to work. The framework is compatible with all major mobile and desktop applications including iOS, Android, Blackberry, Palm WebOS, Nokia/Symbian, Windows Mobile, Opera Mobile/Mini, Firefox Mobile and all modern desktop browsers.
                                                </p>                                                <div class="author">by <a href="#">Loay</a> | 3 Comments</div>
                                            </article>
                                        </div>
                                        <div class="four columns omega">
                                            <article class="recent-blog">
                                                <section class="date"> <span class="day">28</span> <span class="month">Nov</span> </section>
                                                <img src='@Url.Content("~/Content/home/images/content/img-01b.jpg")' alt="">
                                                <h4><a href="blog-post.html">Phone Gap</a></h4>
                                                <p>PhoneGap Build takes the pain out of compiling PhoneGap apps. Get app-store ready apps without the headache of maintaining native SDKs. Our PhoneGap Build service does the work for you by compiling in the cloud.</p>
                                                <div class="author">by <a href="#">Admin</a> | 11 Comments</div>
                                            </article>
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>
                            <a href="#" class="button line-color right" style="margin-right:12px;">View All News</a>
                        </div>
                    </div>
                </div>
                <hr class="sep40">
            </div>
        </div>
        <!-- Animated Number Stats -->
        <div class="container" style="padding-left:50px;">
            <hr class="sep20">
            <div class="three columns" data-animated="bounceInUp">
                <div class="stats">
                    <div class="num" data-content="10342" data-num="800">10342</div>
                    <div class="type">HAPPY CUSTOMERS</div>
                </div>

            </div>

            <div class="three columns" data-animated="bounceInDown">
                <div class="stats">
                    <div class="num" data-content="63" data-num="600">3470</div>
                    <div class="type">PROJECTS COMPLETED</div>
                </div>

            </div>

            <div class="three columns" data-animated="bounceInUp">
                <div class="stats">
                    <div class="num" data-content="40H" data-num="900">40H</div>
                    <div class="type">WORK HOURS</div>
                </div>

            </div>

            <div class="three columns" data-animated="bounceInDown">
                <div class="stats">
                    <div class="num" data-content="15K" data-num="500">15K</div>
                    <div class="type">CUPS OF COFFEE</div>
                </div>

            </div>

            <div class="three columns" data-animated="bounceInUp">
                <div class="stats last">
                    <div class="num" data-content="5997" data-num="700">5997</div>
                    <div class="type">Application Build</div>
                </div>

            </div>

            <div class="sixteen columns main-headline">
                <h3>Be Ready to Enjoy!</h3>
                <hr class="sep20">
            </div>
            <div class="sixteen columns button-group centered"> <a href="/Home/Contact" class="button gray" data-animated="fadeInLeft"><span class="title">Contact us</span><span class="subtitle">Drop a line to us</span></a> <span class="or">or</span> <a href="/Home/Gallery" class="button color" data-animated="fadeInRight"><span class="title">View our portfolio</span><span class="subtitle">Showcasing awesome work</span></a> </div>
        </div>
        <hr class="sep40">

    </div>
    <!-- Content Wrapper / End -->
    <!-- Footer
    ================================================== -->
    @RenderPage("~/Views/Home/footer.cshtml")


    <!-- Style Switcher
    ================================================== -->
    <!-- Style Switcher / End -->

</body>
</html>
