﻿@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<title>News</title>

<!--<![endif]-->
@RenderPage("~/Views/Home/header.cshtml")
<body>
    <div id="content-wrapper">

        <!-- Parallex Page Title -->
        <div id="parallex-inner" class="parallex">
            <div class="container">
                <div class="eight columns" data-animated="fadeInUp">
                    <h1>Latest News</h1>
                </div>
              
            </div>
        </div>
        <!-- Container -->
        <div class="container">


            <!-- Left Side Content -->
            <div class="twelve alt columns" style="margin-top: 30px;">
                <!-- Post -->
                <article class="post">
                    <figure class="post-img media">
                        <div class="mediaholder">
                            <a href='@Url.Content("~/Content/home/images/content/img-01a.jpg")' class="mfp-gallery">
                                <img src='@Url.Content("~/Content/home/images/content/img-01a.jpg")' alt="" />
                                <div class="hovercover">
                                    <div class="hovericon"><i class="hoverzoom"></i></div>
                                </div>
                            </a>
                        </div>
                    </figure>
                    <div class="post-format">
                        <h4>JAN</h4>
                        <h2>12</h2>
                        <span><i class="ss-heart"></i> 32</span>
                    </div>
                    <section class="post-content">
                        <header class="meta">
                            <ul>
                                <li><a href="#">Posted by Louy</a></li>
                                <li><a href="#">Wordpress</a>, <a href="#">Programming</a></li>
                                <li><a href="#">3 Comments</a></li>
                            </ul>
                            <h2><a href="#">jQuery Mobile </a></h2>
                        </header>
<p>jQuery Mobile is a cross platform mobile framework designed to simplify and enhance the development of mobile web applications by integrating HTML5, CSS3, jQuery and jQuery UI into one framework that is not only robust, but maintainable and organized.
jQuery Mobile is built upon the existing jQuery core, meaning that if you understand the jQuery syntax, then you will have no problems getting JM to work. The framework is compatible with all major mobile and desktop applications including iOS, Android, Blackberry, Palm WebOS, Nokia/Symbian, Windows Mobile, Opera Mobile/Mini, Firefox Mobile and all modern desktop browsers.
</p>
                    </section>
                    <div class="clearfix"></div>
                </article>
                <!-- Post -->
                <article class="post">
                    <figure class="post-img media">
                        <div class="mediaholder">
                            <a href='@Url.Content("~/Content/home/images/content/img-01b.jpg")' class="mfp-gallery">
                                <img src='@Url.Content("~/Content/home/images/content/img-01b.jpg")' alt="" />
                                <div class="hovercover">
                                    <div class="hovericon"><i class="hoverzoom"></i></div>
                                </div>
                            </a>
                        </div>
                    </figure>
                    <div class="post-format">
                        <h4>JAN</h4>
                        <h2>12</h2>
                        <span><i class="ss-heart"></i> 20</span>
                    </div>
                    <section class="post-content">
                        <header class="meta">
                            <ul>
                                <li><a href="#">Posted by Admin</a></li>
                                <li><a href="#">Phone Gap</a>, <a href="#">Programming</a></li>
                                <li><a href="#">2 Comments</a></li>
                            </ul>
                            <h2><a href="blog-post.html">Package mobile apps in the cloud</a></h2>
                        </header>
<p>PhoneGap Build takes the pain out of compiling PhoneGap apps. Get app-store ready apps without the headache of maintaining native SDKs. Our PhoneGap Build service does the work for you by compiling in the cloud.</p>
                    </section>
                    <div class="clearfix"></div>
                </article>
                <!-- Post -->
                <article class="post">
                    <figure class="post-img media">
                        <div class="mediaholder">
                            <a href="http://vimeo.com/31598288">
                                <iframe src="http://player.vimeo.com/video/66599774" width="880" height="340"></iframe>
                                <div class="hovercover">
                                    <div class="hovericon"><i class="hoverlink"></i></div>
                                </div>
                             </a>
                        </div>
                    </figure>
                    <div class="post-format">
                        <h4>JAN</h4>
                        <h2>05</h2>
                        <span><i class="ss-heart"></i> 25</span>
                    </div>
                    <section class="post-content">
                        <header class="meta">
                            <ul>
                                <li><a href="#">Posted by Admin</a></li>
                                <li><a href="#">Multimedia</a>, <a href="#">Video</a></li>
                                <li><a href="#">3 Comments</a></li>
                            </ul>
                            <h2><a href="blog-post.html"> Beginners guide to building phone apps with PhoneGap Build</a></h2>
                        </header>
<p>This is an alternative screen cast I made for the people who couldn't attend my brown bag session on how to build phone apps (Android in this video) using PhoneGap Build.
This does NOT include use of the amazing PhoneGap library. I might make another screen cast showing how awesome that is one day.
</p>                    </section>
                    <div class="clearfix"></div>
                </article>
                <!-- Pagination -->
               
            </div>

            <!-- Right sidebar -->
            <div class="four columns">
                <!-- Company Intro -->
                <div class="widget">
                    <h3 class="headline">Company Intro</h3>
                    <span class="brd-headling"></span>
                    <div class="clearfix"></div>
                    <p> Cras scelerisque commodo odio. Phasellus dolor enim, faucibus egestas scelerisque hendrerit, aliquet sed. </p>
                </div>
                <br>
                <!-- Search Form -->
                <form class="search-form" action="#" method="get">
                    <button class="search-btn" type="submit"><i class="icon-search"></i></button>
                    <input class="search" type="text" onblur="if(this.value=='')this.value='Search';" onfocus="if(this.value=='Search')this.value='';" value="Search" />
                </form><br />

                <!-- Categories -->
                <div class="widget">
                    <h3 class="headline">Categories</h3>
                    <span class="brd-headling"></span>
                    <div class="clearfix"></div>
                    <nav class="categories">
                        <ul>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Print Media</a></li>
                            <li><a href="#">Wordpress Development</a></li>
                            <li><a href="#">Ecommerce Solutions</a></li>
                            <li><a href="#">Photography & Branding</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Tabs -->
                
                <!-- Tags -->
                <!-- Archives -->
              
            </div>
        </div>
        <!-- Container / End -->
        <hr class="sep20">

     
    </div>
    <!-- Content Wrapper / End -->

    @RenderPage("~/Views/Home/footer.cshtml")
</body>
</html>
