﻿@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<title>Evolve - Responsive Multi-purpose HTML Theme</title>

<!--<![endif]-->
@RenderPage("~/Views/Home/header.cshtml")
<body>
<!-- Header
================================================== -->

<!-- Header / End -->


<!-- Content Wrapper
================================================== -->
<div id="content-wrapper">

<!-- Parallex Page Title -->
     <div id="parallex-inner" class="parallex">
          <div class="container">
               <div class="eight columns"  data-animated="fadeInUp">
                    <h1>Pricing Table</h1>
               </div>
             
          </div>
     </div>

     <!-- Container -->
     <div class="container">
          
     <hr class="sep10">
         <div class="container">
             <div class="sixteen columns main-headline">
                 <h3>Our Prices</h3>
                 <p>Make Your Choice And Join Us.</p>
             </div>
             <hr class="sep40">
             <div class="featured plan one-third column" data-animated="fadeInUp">
                 <h3>Standard</h3>
                 <div class="plan-price"> <span class="plan-currency">$</span> <span class="value">39,99</span> <span class="period">/ per month</span> </div>
                 <div class="plan-features">
                     <ul>
                         <li>Mobile Site</li>
                         <li>Your own app domain</li>
                         <li>Advanced analytics</li>
                         <li>Native app</li>
                         <li>E-commerce</li>
                         <li>App Landing Page</li>
                         <li>QR code</li>
                         <li>Remove Moblie Cloud brand</li>
                         <li>Create mailing list</li>
                         <li>Promotional pop-up</li>
                         <li>Monetize</li>
                         <li>Publish on Facebook</li>
                         <li>Publish on Stores</li>
                         <li>Push Notification</li>
                     </ul>
                     <a class="button light" href="#">Buy Now</a>
                 </div>
             </div>
             <div class="premium plan one-third column" data-animated="fadeInDown">
                 <h3>Premium</h3>
                 <div class="plan-price"> <span class="plan-currency">$</span> <span class="value">59,99</span> <span class="period">/ per month</span> </div>
                 <div class="plan-features">
                     <ul>
                         <li>Mobile Site</li>
                         <li>Your own app domain</li>
                         <li>Advanced analytics</li>
                         <li>Native app</li>
                         <li>E-commerce</li>
                         <li>App Landing Page</li>
                         <li>QR code</li>
                         <li>Remove Moblie Cloud brand</li>
                         <li>Create mailing list</li>
                         <li>Promotional pop-up</li>
                         <li>Monetize</li>
                         <li>Publish on Facebook</li>
                         <li>Publish on Stores</li>
                         <li>Push Notification</li>
                     </ul>
                     <a class="button color" href="#">Buy Now</a>
                 </div>
             </div>
             <div class="featured plan one-third column" data-animated="fadeInUp">
                 <h3>Ultimate</h3>
                 <div class="plan-price"> <span class="plan-currency">$</span> <span class="value">69,99</span> <span class="period">/ per month</span> </div>
                 <div class="plan-features">
                     <ul>
                         <li>Mobile Site</li>
                         <li>Your own app domain</li>
                         <li>Advanced analytics</li>
                         <li>Native app</li>
                         <li>E-commerce</li>
                         <li>App Landing Page</li>
                         <li>QR code</li>
                         <li>Remove Moblie Cloud brand</li>
                         <li>Create mailing list</li>
                         <li>Promotional pop-up</li>
                         <li>Monetize</li>
                         <li>Publish on Facebook</li>
                         <li>Publish on Stores</li>
                         <li>Push Notification</li>
                     </ul>
                     <a class="button light" href="#">Buy Now</a>
                 </div>
             </div>
         </div>

   
      <hr class="sep10">
    


</div>

</div>
<!-- Content Wrapper / End -->

<!-- Footer
================================================== -->
<!-- Footer / End -->
<!-- Footer Bottom / Start -->

    
    @RenderPage("~/Views/Home/footer.cshtml")
    <!-- Style Switcher
================================================== -->

<!-- Style Switcher / End -->
</body>
</html>
