<head>
 <title>List News</title>
 <meta name="viewport" content="initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="styles/jquery.mobile.theme-1.4.3.min.css" />
<link rel="stylesheet" href="styles/jquery.mobile-1.3.1.css" />
<link rel="stylesheet" href="styles/custom.css" />
<link rel="stylesheet" href="styles/menu.css" />
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/jquery.mobile-1.3.1.min.js"></script>
<script src="scripts/app.js"></script><script src="phonegap.js"></script></head>
<div id="menu" style="display: none;"> <ul><li><a href="#" onclick="window.location='index.html'">welli</a></li><li><a href="#" onclick="window.location='QRReader.html'">QR</a></li><li><a href="#" onclick="window.location='Map.html'">Map</a></li><li><a href="#" onclick="window.location='Mail_List.html'">Email</a></li><li><a href="#" onclick="window.location='News_ct.html'">News</a></li><li><a href="#" onclick="window.location='soso_fb.html'">soso</a></li></ul></div><div data-role="page" id="page0"><div data-role="header"><h1>List News</h1><a href="#"class="showMenu">Menu</a></div><div data-role="content"><div style="display:width:100%" id="list"></div></div><div data-role="footer"><h4>MobClouD 2014</h4></div><script  type="text/javascript"> 
$.getJSON("http://mymobcloud.com/Service/index/56", function(data){
 for(var i=0;i<data.records.length;i++){
 $("#list").append("<div style=\"width:100%;float:left;margin-bottom:50px;\"><img src=\"http://mymobcloud.com/"+data.records[i].image+"\"style=\"width:100%;\"/><ul id=\"ul"+i+"\" data-role=\"listview\" style=\"width:100%;margin-left:0px;margin-top:0px;\"></ul></div>");
 $('#ul'+i).append("<li>"+data.records[i].Title +"</li>");
 $('#ul'+i).append("<li>"+data.records[i].Details +"</li>");
$('#ul'+i).listview().listview('refresh'); 
} 
 });</script></div>