﻿@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .nav > li > a:hover {
        color: gray !important;
    }

    a {
        text-shadow: none !important;
        color: #0d638f !important;
    }
</style>

<script src="../../Scripts/jquery-1.10.2.min.js"></script>

<div class="portlet box blue" id="form_wizard_1">
    <div class="portlet-title">
        <h4>
            <i class="icon-reorder"></i>
            Create Social Pages
        </h4>
    </div>
    <div class="portlet-body form">
        <div class="form-wizard ">
            <div class="navbar steps">
                <div class="navbar-inner">
                    <ul class="row-fluid nav nav-pills">
                        <li class="span3">
                            <a id="tab11" data-toggle="tab" class="step active">
                                <span class="number success" style="background: #62c462; color:#fff;">1</span>
                                <span class="desc" style="display:inline-block;">
                                    <i class="icon-ok"></i>
                                    <font class="stepText" color="black" size="3"> Add E-commerce & Cart</font>
                                </span>
                            </a>
                        </li>
                        <li class="span3">
                            <a id="tab22" data-toggle="tab" class="step">
                                <span class="number">2</span>
                                <span class="desc"><i class="icon-ok"></i><font class="stepText" color="gray" size="2"> Add News </font></span>
                            </a>
                        </li>
                        <li class="span3">
                            <a data-toggle="tab" id="tab33" class="step">
                                <span class="number">3</span>
                                <span class="desc"><i class="icon-ok"></i><font class="stepText" color="gray" size="2"> Add Calendar & Events</font></span>
                            </a>
                        </li>
                        <li class="span3">
                            <a data-toggle="tab" id="tab44" class="step">
                                <span class="number">4</span>
                                <span class="desc"><i class="icon-ok"></i><font class="stepText" color="gray" size="2"> Add Content Type</font></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="bar" class="progress progress-success progress-striped">
                <div class="bar" style="width: 25%;"></div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active " id="tab1">
                 
                       <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-globe"></i>Do You Want To Add E-commerce & Shopping Cart To Your Application ?</div>

                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                    <tr>
                                        <td style="text-align:center"><input type="button" onclick="ecom();" value="YES" id="sample_editable_1_new" class="btn green" /></td>
                                        <td style="text-align:center"><input type="button" value="NO" id="no1" class="btn red" /></td>
                                    </tr>
                            </table>
                        
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab2">
                   
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-globe"></i>Do You Want To Add News To Your Application ?</div>

                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <tr>
                                    <td style="text-align:center"><input type="button" onclick="news();" value="YES" id="sample_editable_1_new" class="btn green" /></td>
                                    <td style="text-align:center"><input type="button" value="NO" id="no2" class="btn red" /></td>
                                </tr>
                            </table>

                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="tab3">

                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-globe"></i>Do You Want To Add Calendar & Events To Your Application ?</div>

                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <tr>
                                    <td style="text-align:center"><input type="button" onclick="doworkcal();" value="YES" id="sample_editable_1_new" class="btn green" /></td>
                                    <td style="text-align:center"><input type="button" value="NO" id="no3" class="btn red" /></td>
                                </tr>
                            </table>

                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="tab4">
                  
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-globe"></i>Do You Want To Add Costumize Content Type To Your Application ?</div>

                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <tr>
                                    <td style="text-align:center"><input type="button" onclick="" value="YES" id="sample_editable_1_new" class="btn green" /></td>
                                    <td style="text-align:center"><input type="button" value="NO" id="no4" class="btn red" /></td>
                                </tr>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
            <div class="form-actions clearfix">
                <a href="javascript:;" class="btn blue button-next" id="ContinueTap1Button">
                    Continue <i class="m-icon-swapright m-icon-white"></i>
                </a>
                <a href="javascript:;" class="btn button-previous" id="BackTap2Button">
                    <i class="m-icon-swapleft"></i> Back
                </a>
                <a href="javascript:;" class="btn blue button-next" id="ContinueTap2Button">
                    Continue <i class="m-icon-swapright m-icon-white"></i>
                </a>
                <a href="javascript:;" class="btn button-previous" id="BackTap3Button">
                    <i class="m-icon-swapleft"></i> Back
                </a>
                <a href="javascript:;" class="btn blue button-next" id="ContinueTap3Button">
                    Continue <i class="m-icon-swapright m-icon-white"></i>
                </a>
                <a href="javascript:;" class="btn button-previous" id="BackTap4Button">
                    <i class="m-icon-swapleft"></i> Back
                </a>
            </div>
        </div>

    </div>
    <div>
        <a href="/Application/Index" class="btn blue button-next" id="">
            Next <i class="m-icon-swapright m-icon-white"></i>
        </a>
    </div>

</div>
<div id="styleEcomm" class="modal hide">
    <div class="modal-header">
        <h3>E-commerce Page settings</h3>

    </div>
    <div class="modal-body">

        <select id="pagestyleEcomm">
            <option id="L">Left</option>
            <option id="R">Right</option>
            <option id="CL">Center Left</option>
            <option id="CR">Center Right</option>
        </select>
        <button style="float:right;" data-dismiss="modal" class="btn blue" onclick="doworkEcomm($('#pagestyleEcomm').find(':selected').attr('id'))" type="button">Add</button>

    </div>

</div>
<div id="styleNews" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>News Page settings</h3>

    </div>
    <div class="modal-body">

        <select id="pagestyleNews">
            <option id="L">Left</option>
            <option id="R">Right</option>
            <option id="CL">Center Left</option>
            <option id="CR">Center Right</option>
        </select>
        <button style="float:right;" data-dismiss="modal" class="btn blue" onclick="doworkNews($('#pagestyleNews').find(':selected').attr('id'))" type="button">Add</button>

    </div>

</div>

<script>
    function ecom() {
      //  alert('eeee');
        $('#styleEcomm').removeClass("hide");
    }
    function news() {
    //    alert('eeee');
        $('#styleNews').removeClass("hide");
    }
    function doworkcal() {

        $.ajax({
            type: "POST",
            url: '/DBContentTypes/add_events_ajax/'+'@ViewBag.appId',
            contentType: false,
            processData: false,
            success: function (msg) {
                if (msg == "no") {
                    msg = "Instagram Page already exist please rename it"
                }
                else
                    msg = "Instagram Page added successfully";
                $('#successMsg').text(msg);
            },
            error: function (error) {
                alert("Server not response");
            }
        });

    }
    function doworkEcomm(styleid) {
        alert(styleid);
        var formData = new FormData();


        $.ajax({
            type: "POST",
            url: '/DBContentTypes/adde_commerence_ajax/?id=' + '@ViewBag.appId' + '&styleId=' + styleid,
            contentType: false,
            processData: false,
            success: function (msg) {
                if (msg == "no") {
                    msg = "Instagram Page already exist please rename it"
                }
                else
                    msg = "Instagram Page added successfully";
                $('#successMsg').text(msg);
            },
            error: function (error) {
                alert("Server not response");
            }
        });
        $('#styleEcomm').addClass("hide");

    }
    function doworkNews(styleid) {

      //  alert(styleid);
      //  var formData = new FormData();


        $.ajax({
            type: "POST",
            url: '/DBContentTypes/add_news_ajax/?id=' + '@ViewBag.appId' + '&styleId=' + styleid,
            contentType: false,
            processData: false,
            success: function (msg) {
                if (msg == "no") {
                    msg = "Instagram Page already exist please rename it"
                }
                else
                    msg = "Instagram Page added successfully";
                $('#successMsg').text(msg);
            },
            error: function (error) {
                alert("Server not response");
            }
        });
        $('#styleNews').addClass("hide");
        alert(styleid);
     //   window.location = '/DBContentTypes/add_news/?id=' + '@ViewBag.appId' + '&styleId=' + styleid;
    }
    $(document).ready(function () {
        $('#ContinueTap2Button').hide();
        $('#BackTap2Button').hide();
        $('#ContinueTap3Button').hide();
        $('#BackTap4Button').hide();
        $('#BackTap3Button').hide();
        $('#addOtherContentTypeButton').hide();
        $('#contentTypeSelecter').hide();
        $('#ToLable').hide();
        $('#ContinueTap1Button').click(function (e) {

            goToNextTabe(e, '1');
            $('#ContinueTap1Button').hide();
            $('#ContinueTap2Button').show();
          //  $('#BackTap2Button').show();
        });
        $('#no1').click(function (e) {

            goToNextTabe(e, '1');
            $('#ContinueTap1Button').hide();
            $('#ContinueTap2Button').show();
            //  $('#BackTap2Button').show();
        });
       
        $('#ContinueTap2Button').click(function (e) {
            goToNextTabe(e, '2');
            $('#ContinueTap2Button').hide();
            //$('#BackTap2Button').hide();
            $('#ContinueTap3Button').show();
          //  $('#BackTap3Button').show();
        });
        $('#no2').click(function (e) {
            goToNextTabe(e, '2');
            $('#ContinueTap2Button').hide();
            //$('#BackTap2Button').hide();
            $('#ContinueTap3Button').show();
            //  $('#BackTap3Button').show();
        });

        $('#ContinueTap3Button').click(function (e) {
            goToNextTabe(e, '3');
            $('#ContinueTap3Button').hide();
            //$('#BackTap3Button').hide();
           // $('#BackTap4Button').show();
        });

        $('#no3').click(function (e) {
            goToNextTabe(e, '3');
            $('#ContinueTap3Button').hide();
            //$('#BackTap3Button').hide();
            // $('#BackTap4Button').show();
        });
        $('#BackTap2Button').click(function (e) {
            goToPreviousTabe(e, '2');
            $('#ContinueTap2Button').hide();
            $('#BackTap2Button').hide();
            $('#ContinueTap1Button').show();
        });
        $('#BackTap3Button').click(function (e) {
            goToPreviousTabe(e, '3');
            $('#ContinueTap3Button').hide();
            $('#BackTap3Button').hide();
            $('#ContinueTap2Button').show();
            $('#BackTap2Button').show();

        });
        $('#BackTap4Button').click(function (e) {
            goToPreviousTabe(e, '4');
            $('#BackTap4Button').hide();
            $('#ContinueTap3Button').show();
            $('#BackTap3Button').show();
        });
        $('#addOtherContentTypeButton').click(function (e) {
            location.reload(true);
        });

        $('#TypeSelect').change(function (e) {
            e.preventDefault();
            if ($(this).val() == "Reference") {
                $('#contentTypeSelecter').show();
                $('#ToLable').show();
            }
            else {
                $('#contentTypeSelecter').hide();
                $('#ToLable').hide();
            }
        });

        function goToNextTabe(e, tabNum) {
            e.preventDefault();
            $('.number').removeAttr('style');
            $('.stepText').attr('color', 'gray');
            $('.stepText').attr('size', '2');
            $('.number').each(function (e) {
                if ($(this).html() == (parseInt(tabNum) + 1).toString()) {
                    $(this).css('background', '#62c462');
                    $(this).css('color', '#fff');
                    $(this).parent().find('.stepText').attr('color', 'black');
                    $(this).parent().find('.stepText').attr('size', '3');
                }
            });
            $('.bar').width(((parseInt(tabNum) + 1) * 25) + '%');
            $('#tab' + tabNum).hide();
            $('#tab' + (parseInt(tabNum) + 1).toString()).show();
        }
        function goToPreviousTabe(e, tabNum) {
            e.preventDefault();
            $('.number').removeAttr('style');
            $('.stepText').attr('color', 'gray');
            $('.stepText').attr('size', '2');
            $('.number').each(function (e) {
                if ($(this).html() == (parseInt(tabNum) - 1).toString()) {
                    $(this).css('background', '#62c462');
                    $(this).css('color', '#fff');
                    $(this).parent().find('.stepText').attr('color', 'black');
                    $(this).parent().find('.stepText').attr('size', '3');
                }
            });
            $('.bar').width(((parseInt(tabNum) - 1) * 25) + '%');
            $('#tab' + tabNum).hide();
            $('#tab' + (parseInt(tabNum) - 1).toString()).show();
        }


    });
</script>