﻿@model MobileApplication.Models.Application
@{
    
   
}
<!-- BEGIN PAGE LEVEL STYLES -->

<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css")'/>

<!-- END PAGE LEVEL SCRIPTS -->
<div class="panel-body" style="height:500px; overflow-y:auto;">
    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Default Icon</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
           
            <div class="form-horizontal">
                <h3 class="form-section">Application Icon</h3>
                <div class="row-fluid">
                    <div class="span6 ">
                        <div class="control-group">
                            <label class="control-label">Image Upload</label>
                            <div class="controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                        <img src='@ViewData["iconUrl"]' alt="" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-file">
                                            <span class="fileupload-new">Select image</span>
                                            <span class="fileupload-exists">Change</span>
                                            <input type="file" class="default" id="picfile" />
                                        </span>
                                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
             
                <!--/row-->

                <div class="form-actions">
                    <button type="submit" class="btn blue" id="btncatsave"><i class="icon-ok"></i> Save</button>
                    <button type="button" class="btn">Cancel</button>
                </div>
            </div>  
            <!-- END FORM-->
        </div>
    </div>
</div>


    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Default Splash Screen</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->

            <div class="form-horizontal">
                <h3 class="form-section">Application Splash Screen</h3>
                <div class="row-fluid">
                    <div class="span6 ">
                        <div class="control-group">
                            <label class="control-label">Image Upload</label>
                            <div class="controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                        <img src='@ViewData["splashUrl"]' alt="" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-file">
                                            <span class="fileupload-new">Select image</span>
                                            <span class="fileupload-exists">Change</span>
                                            <input type="file" class="default" id="splashfile" />
                                        </span>
                                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->

                <div class="form-actions">
                    <button type="submit" class="btn blue" id="btncatsave_splash"><i class="icon-ok"></i> Save</button>
                    <button type="button" class="btn">Cancel</button>
                </div>
            </div>
            <!-- END FORM-->
        </div>
    </div>
    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Default BackGround</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->

            <div class="form-horizontal">
                <h3 class="form-section">Application Home BackGround</h3>
                <div class="row-fluid">
                    <div class="span6 ">
                        <div class="control-group">
                            <label class="control-label">Image Upload</label>
                            <div class="controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                   
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-file">
                                            <span class="fileupload-new">Select image</span>
                                            <span class="fileupload-exists">Change</span>
                                            <input type="file" class="default" id="backgfile" />
                                        </span>
                                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->

                <div class="form-actions">
                    <button type="submit" class="btn blue" id="btncatsave_bacjg"><i class="icon-ok"></i> Save</button>
                    <button type="button" class="btn">Cancel</button>
                </div>
            </div>
            <!-- END FORM-->
        </div>
    </div>
</div>
<!-- BEGIN CORE PLUGINS -->
@Scripts.Render("~/Content/assets/plugins/jquery-1.10.1.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery-migrate-1.2.1.min.js")
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
@Scripts.Render("~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap/js/bootstrap.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js")
<!--[if lt IE 9]>
<script src='@Url.Content("~/Content/assets/plugins/excanvas.min.js")'></script>
<script src='@Url.Content("~/Content/assets/plugins/respond.min.js")'></script>
<![endif]-->
@Scripts.Render("~/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.blockui.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.cookie.min.js")
@Scripts.Render("~/Content/assets/plugins/uniform/jquery.uniform.min.js")
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src='@Url.Content("~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js")'></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src='@Url.Content("~/Content/assets/scripts/app.js")'></script>


<script>
    jQuery(document).ready(function () {
        App.init();
    });
    $("#btncatsave").click(function () {
        var id = '@Model.ID';
        var formData = new FormData();
        var totalFiles = document.getElementById("picfile").files.length;

        var file = document.getElementById("picfile").files[0];
        formData.append("FileUpload", file);
        formData.append("appId", id);

        $.ajax({
            type: "POST",
            url: '/Application/uploadIcon',
            data: formData,
            contentType: false,
            processData: false,
            success: function (msg) {

                alert(msg);

            },
            error: function (error) {
                alert("errror");
            }
        });

    });



    $("#btncatsave_bacjg").click(function () {
        var id = '@Model.ID';
        var formData = new FormData();
        var totalFiles = document.getElementById("backgfile").files.length;

        var file = document.getElementById("backgfile").files[0];
        formData.append("FileUpload", file);
        formData.append("appId", id);

        $.ajax({
            type: "POST",
            url: '/Application/uploadbackground',
            data: formData,
            contentType: false,
            processData: false,
            success: function (msg) {

                alert(msg);

            },
            error: function (error) {
                alert("errror");
            }
        });

    });

    $("#btncatsave_splash").click(function () {
        var id = '@Model.ID';
        var formData = new FormData();
        var totalFiles = document.getElementById("splashfile").files.length;

        var file = document.getElementById("splashfile").files[0];
        formData.append("FileUpload", file);
        formData.append("appId", id);

        $.ajax({
            type: "POST",
            url: '/Application/uploadSplashScreen',
            data: formData,
            contentType: false,
            processData: false,
            success: function (msg) {

                alert(msg);

            },
            error: function (error) {
                alert("errror");
            }
        });

    });
</script>

@Scripts.Render("~/bundles/jqueryval")

