﻿@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .nav > li > a:hover {
        color: gray !important;
    }

    a {
        text-shadow: none !important;
        color: #0d638f !important;
    }
</style>

<script src="../../Scripts/jquery-1.10.2.min.js"></script>

<div class="portlet box blue" id="form_wizard_1">
    <div class="portlet-title">
        <h4>
            <i class="icon-reorder"></i>
            Create Social Pages
        </h4>
    </div>
    <div class="portlet-body form">
        <div class="form-wizard ">
            <div class="navbar steps">
                <div class="navbar-inner">
                    <ul class="row-fluid nav nav-pills">
                        <li class="span3">
                            <a id="tab11" data-toggle="tab" class="step active">
                                <span class="number success" style="background: #62c462; color:#fff;">1</span>
                                <span class="desc" style="display:inline-block;">
                                    <i class="icon-ok"></i>
                                    <font class="stepText" color="black" size="3"> Add Youtube Page</font>
                                </span>
                            </a>
                        </li>
                        <li class="span3">
                            <a  id="tab22" data-toggle="tab" class="step">
                                <span class="number">2</span>
                                <span class="desc"><i class="icon-ok"></i><font class="stepText" color="gray" size="2"> Add Twitter Page</font></span>
                            </a>
                        </li>
                        <li class="span3">
                            <a  data-toggle="tab" id="tab33" class="step">
                                <span class="number">3</span>
                                <span class="desc"><i class="icon-ok"></i><font class="stepText" color="gray" size="2"> Add Facebook Page</font></span>
                            </a>
                        </li>
                        <li class="span3">
                            <a data-toggle="tab" id="tab44" class="step">
                                <span class="number">4</span>
                                <span class="desc"><i class="icon-ok"></i><font class="stepText" color="gray" size="2"> Add instagram Page</font></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="bar" class="progress progress-success progress-striped">
                <div class="bar" style="width: 25%;"></div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active " id="tab1">
                        @Html.AntiForgeryToken()



                        <div class="portlet box light-grey">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-globe"></i>YouTube Pages</div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"></a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                    <a href="javascript:;" class="reload"></a>
                                    <a href="javascript:;" class="remove"></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Channel Id</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="odd gradeX">
                                            <td><input type="text" id="Y_title" name="title" required="required" /></td>
                                            <td><input type="text" id="channel_id" name="channel_id" required="required" /></td>
                                            <input type="hidden" name="appId" required="required" value="@ViewBag.appId" />
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="btn-group">
                                    <input type="button" onclick="Addyoutubepage();" value="Add" id="sample_editable_1_new" class="btn green" />
                                </div>
                            </div>
                        </div>

                   

                </div>
                <div class="tab-pane" id="tab2">
                    <div class="portlet box light-grey">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-globe"></i>Twitter Pages</div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="reload"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Twitter Name</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="odd gradeX">
                                        <td><input type="text" id="t_title" name="title" required="required" /></td>
                                        <td><input type="text" id="t_page_id" name="page_id" required="required" /></td>
                                        <input type="hidden" name="appId" required="required" value="@ViewBag.appId" />
                                    </tr>

                                </tbody>
                            </table>
                            <div class="btn-group">
                                <input type="button" onclick="Addtwitterpage();" value="Add" id="sample_editable_1_new" class="btn green" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab3">
                    <div class="portlet box light-grey">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-globe"></i>Facebook Pages</div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="reload"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Page Id</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="odd gradeX">
                                        <td><input type="text" id="f_title" name="title" required="required" /></td>
                                        <td><input type="text" id="f_page_id" name="page_id" required="required" /></td>
                                        <input type="hidden" name="appId" required="required" value="@ViewBag.appId" />
                                    </tr>

                                </tbody>
                            </table>
                            <div class="btn-group">
                                <input type="button" onclick="Addfacebookpage();" value="Add" id="sample_editable_1_new" class="btn green" />
                            </div>
                        </div>
                    </div>
                                   </div>
                <div class="tab-pane" id="tab4">
                    <div class="portlet box light-grey">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-globe"></i>Instagram Pages</div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="reload"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>User Id</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="odd gradeX">
                                        <td><input type="text" id="i_title" name="title" required="required" /></td>
                                        <td><input type="text" id="i_page_id" name="user_id" required="required" /></td>
                                        <input type="hidden" name="appId" required="required" value="@ViewBag.appId" />
                                    </tr>

                                </tbody>
                            </table>
                            <div class="btn-group">
                                <input type="button" onclick="Addinstagrampage();" value="Add" id="sample_editable_1_new" class="btn green" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions clearfix">
                <a href="javascript:;" class="btn blue button-next" id="ContinueTap1Button">
                    Continue <i class="m-icon-swapright m-icon-white"></i>
                </a>
                <a href="javascript:;" class="btn button-previous" id="BackTap2Button">
                    <i class="m-icon-swapleft"></i> Back
                </a>
                <a href="javascript:;" class="btn blue button-next" id="ContinueTap2Button">
                    Continue <i class="m-icon-swapright m-icon-white"></i>
                </a>
                <a href="javascript:;" class="btn button-previous" id="BackTap3Button">
                    <i class="m-icon-swapleft"></i> Back
                </a>
                <a href="javascript:;" class="btn blue button-next" id="ContinueTap3Button">
                    Continue <i class="m-icon-swapright m-icon-white"></i>
                </a>
                <a href="javascript:;" class="btn button-previous" id="BackTap4Button">
                    <i class="m-icon-swapleft"></i> Back
                </a>
            </div>
        </div>
       
    </div>
    <div>
        <a href="/Application/addPlugins/@ViewBag.appId" class="btn blue button-next" id="">
            Next <i class="m-icon-swapright m-icon-white"></i>
        </a>
    </div>
    
</div>

<script>
    function Addyoutubepage() {
        var formData = new FormData();
        formData.append("appId", '@ViewBag.appId');
        formData.append("Y_title", $('#Y_title').val());
        formData.append("channel_id", $('#channel_id').val());
        $('#channel_id').val('');
        $('#Y_title').val('');

        $.ajax({
            type: "POST",
            url: '/YouTube/AddToTableajax',
            data: formData,
            contentType: false,
            processData: false,
            success: function (msg) {
                if (msg == "no") {
                    msg = "Youtube Page already exist please rename it"
              //      $('#BackTap4Button').show();
                }
                else
                    msg = "Youtube Page added successfully";
                $('#successMsg').text(msg);
            },
            error: function (error) {
                alert("Server not response");
            }
        });
    }
    function Addtwitterpage() {
        var formData = new FormData();
        formData.append("appId", '@ViewBag.appId');
        formData.append("t_title", $('#t_title').val());
        formData.append("t_page_id", $('#t_page_id').val());
        $('#t_title').val('');
        $('#t_page_id').val('');

        $.ajax({
            type: "POST",
            url: '/Twitter/AddToTableajax',
            data: formData,
            contentType: false,
            processData: false,
            success: function (msg) {
                if (msg == "no") {
                    msg = "Twitter Page already exist please rename it"
               //     $('#BackTap4Button').show();
                }
                else
                    msg = "Twitter Page added successfully";
                $('#successMsg').text(msg);
            },
            error: function (error) {
                alert("Server not response");
            }
        });
    }
    function Addfacebookpage() {
        var formData = new FormData();
        formData.append("appId", '@ViewBag.appId');
        formData.append("f_title", $('#f_title').val());
        formData.append("f_page_id", $('#f_page_id').val());
        $('#f_title').val('');
        $('#f_page_id').val('');

        $.ajax({
            type: "POST",
            url: '/Facebook/AddToTableajax',
            data: formData,
            contentType: false,
            processData: false,
            success: function (msg) {
                if (msg == "no") {
                    msg = "Facebook Page already exist please rename it"
             //       $('#BackTap4Button').show();
                }
                else
                    msg = "Facebook Page added successfully";
                $('#successMsg').text(msg);
            },
            error: function (error) {
                alert("Server not response");
            }
        });
    }

    function Addinstagrampage() {
        var formData = new FormData();
        formData.append("appId", '@ViewBag.appId');
        formData.append("i_title", $('#i_title').val());
        formData.append("i_page_id", $('#i_page_id').val());
        $('#i_title').val('');
        $('#i_page_id').val('');

        $.ajax({
            type: "POST",
            url: '/Instagram/AddToTableajax',
            data: formData,
            contentType: false,
            processData: false,
            success: function (msg) {
                if (msg == "no") {
                    msg = "Instagram Page already exist please rename it"
                    $('#BackTap4Button').show();
                }
                else
                    msg = "Instagram Page added successfully";
                $('#successMsg').text(msg);
            },
            error: function (error) {
                alert("Server not response");
            }
        });
    }
    $(document).ready(function () {
        $('#ContinueTap2Button').hide();
        $('#BackTap2Button').hide();
        $('#ContinueTap3Button').hide();
        $('#BackTap4Button').hide();
        $('#BackTap3Button').hide();
        $('#addOtherContentTypeButton').hide();
        $('#contentTypeSelecter').hide();
        $('#ToLable').hide();
        $('#ContinueTap1Button').click(function (e) {
           
               

                goToNextTabe(e, '1');
                $('#ContinueTap1Button').hide();
                $('#ContinueTap2Button').show();
                $('#BackTap2Button').show();
              
           
        });
        $('#ContinueTap2Button').click(function (e) {
            goToNextTabe(e, '2');
            $('#ContinueTap2Button').hide();
            $('#BackTap2Button').hide();
            $('#ContinueTap3Button').show();
            $('#BackTap3Button').show();
        });
      
        $('#ContinueTap3Button').click(function (e) {
            goToNextTabe(e, '3');
            $('#ContinueTap3Button').hide();
            $('#BackTap3Button').hide();
            $('#BackTap4Button').show();
        });
        $('#BackTap2Button').click(function (e) {
            goToPreviousTabe(e, '2');
            $('#ContinueTap2Button').hide();
            $('#BackTap2Button').hide();
            $('#ContinueTap1Button').show();
        });
        $('#BackTap3Button').click(function (e) {
            goToPreviousTabe(e, '3');
            $('#ContinueTap3Button').hide();
            $('#BackTap3Button').hide();
            $('#ContinueTap2Button').show();
            $('#BackTap2Button').show();

        });
        $('#BackTap4Button').click(function (e) {
            goToPreviousTabe(e, '4');
            $('#BackTap4Button').hide();
            $('#ContinueTap3Button').show();
            $('#BackTap3Button').show();
        });
        $('#addOtherContentTypeButton').click(function (e) {
            location.reload(true);
        });

        $('#TypeSelect').change(function (e) {
            e.preventDefault();
            if ($(this).val() == "Reference") {
                $('#contentTypeSelecter').show();
                $('#ToLable').show();
            }
            else {
                $('#contentTypeSelecter').hide();
                $('#ToLable').hide();
            }
        });
      
        function goToNextTabe(e, tabNum) {
            e.preventDefault();
            $('.number').removeAttr('style');
            $('.stepText').attr('color', 'gray');
            $('.stepText').attr('size', '2');
            $('.number').each(function (e) {
                if ($(this).html() == (parseInt(tabNum) + 1).toString()) {
                    $(this).css('background', '#62c462');
                    $(this).css('color', '#fff');
                    $(this).parent().find('.stepText').attr('color', 'black');
                    $(this).parent().find('.stepText').attr('size', '3');
                }
            });
            $('.bar').width(((parseInt(tabNum) + 1) * 25) + '%');
            $('#tab' + tabNum).hide();
            $('#tab' + (parseInt(tabNum) + 1).toString()).show();
        }
        function goToPreviousTabe(e, tabNum) {
            e.preventDefault();
            $('.number').removeAttr('style');
            $('.stepText').attr('color', 'gray');
            $('.stepText').attr('size', '2');
            $('.number').each(function (e) {
                if ($(this).html() == (parseInt(tabNum) - 1).toString()) {
                    $(this).css('background', '#62c462');
                    $(this).css('color', '#fff');
                    $(this).parent().find('.stepText').attr('color', 'black');
                    $(this).parent().find('.stepText').attr('size', '3');
                }
            });
            $('.bar').width(((parseInt(tabNum) - 1) * 25) + '%');
            $('#tab' + tabNum).hide();
            $('#tab' + (parseInt(tabNum) - 1).toString()).show();
        }

      
    });
</script>