﻿
@{
    ViewBag.Title = "Preview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/home/css/animate.css")
@Styles.Render("~/Content/home/css/owl.carousel.css")
@Styles.Render("~/Content/home/css/stylesheet.css")
@Styles.Render("~/Content/home/css/phone-position.css")


<section class="work">
  

    <div class="container phone_previews">
        <div class="center_phone animated fadeInUp delayp4" style="opacity: 0;">
            <div class="phoneOverlay">
                <div><!-- Phone description will be cloned here for phone view. See js/core.js --></div>
                <p class="clicktoClose">
                    <i class="fa"></i>
                    click to close
                </p>
            </div>
            <div id="phone_prev" class="owl-carousel owl-theme" style="display: block; opacity: 1;">
                <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 972px; display: block; left: 0px;"><div class="owl-item" style="width: 243px;"><div class="end_slider">Empty <!-- Leave this div empty --></div></div><div class="owl-item active" style="width: 243px;">
                    <iframe style="border: 1px; margin-left: 2px;" src="@ViewBag.path" height="400px" width="240px"></iframe></div></div></div>



                <div class="owl-controls clickable" style="display: none;"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div>
            </div>


            <div class="end_slider">Empty <!-- Leave this div empty --></div>
        </div><!-- owl-carousel -->
    </div><!-- /center_phone -->
    <!-- /phone_previews -->


</section>

