﻿@model IEnumerable<MobileApplication.Models.BuildQueue>
@{
    ViewBag.Title = "ViewBuilds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewBuilds</h2>

<table class="table table-striped table-bordered table-hover" id="sample_1">
    <thead>
        <tr>
            <th>Application Name</th>
            <th>Build Status</th>
            <th>Build Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bq in Model)
        {
            <tr class="odd gradeX">
                <td>@bq.bin_name</td>
                @if (bq.status == 0)
                {
                    <td>Waiting</td>

                }
                else if (bq.status == 1)
                {
                    <td>Building</td>
                }
                else if (bq.status == 2)
                {
                    <td>Finished</td>
                }
                else
                {
                    <td>Faild</td>
                }
                <td>@bq.build_date.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.downloadLink != null)
{
    <div class="btn-group">
        <button id="sample_editable_1_new" class="btn red" onclick="window.location='@ViewBag.downloadLink'">
            Download Last Build <i class="icon-arrow-down"></i>
        </button>
    </div>

}