﻿@model IEnumerable<MobileApplication.Models.DBField>
@{
    Layout = "";
}

@foreach (var field in Model)
{
    if (field.name != "id")
    {
        switch (field.dataType)
        {
            case 1:
                {
                    //Int
                    <div data-role="fieldcontain">
                        <label for="@field.machineName">@field.name :</label>
                        <input type="text" name="int" id="@field.machineName" value="" />
                    </div>
                    break;
                }
            case 2:
                {
                    //Real
                    <div data-role="fieldcontain">
                        <label for="@field.machineName">@field.name :</label>
                        <input type="text" name="real" id="@field.machineName" value="" />
                    </div>
                    break;
                }
            case 3:
                {
                    //String
                    <div data-role="fieldcontain">
                        <label for="@field.machineName">@field.name :</label>
                        <input type="text" name="string" id="@field.machineName" value="" />
                    </div>
                    break;
                }
            case 4:
                {
                    //Boolean
                    <div data-role="fieldcontain">
                        <label for="@field.machineName">@field.name :</label>
                        <select name="bit" id="@field.machineName" data-role="slider">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                    break;
                }
            case 5:
                {
                    //Image
                    <a>Not Int</a>
                    break;
                }
            case 6:
                {
                    //Date Time
                    <div data-role="fieldcontain">
                        <label for="@field.machineName">@field.name :</label>
                        <input type="datetime-local" name="dateTime" id="@field.machineName" value="" />
                    </div>
                    break;
                }
            case 7:
                {
                    //Date
                    <div data-role="fieldcontain">
                        <label for="@field.machineName">@field.name :</label>
                        <input type="date" name="date" id="@field.machineName" value="" />
                    </div>
                    break;
                }
            case 8:
                {
                    //Text
                    <div data-role="fieldcontain">
                        <label for="@field.machineName">@field.name :</label>
                        <textarea name="textarea" id="@field.machineName" value="" />
                    </div>
                    break;
                }
            case 9:
                {
                    //Reference
                    <div data-role="fieldcontain">
                        <label for="@field.machineName" class="select"> @field.refContentType.name :</label>
                        <select name="@field.machineName" id="@field.machineName" class="jqueryMobileSelect">
                            @foreach (var item in @field.refContentTypes)
                            {
                                <option value="@item.id">@item.title</option>
                            }
                        </select>
                    </div>
                    break;
                }
        }
    }
}
<div style="text-align:center">
    <a id="addButton" data-role="button" data-inline="true" onclick="addClick()">Add</a>
    <h1 id="successMsg">
        
    </h1>
</div>

