
          
                
              
                
              
                <div class="span10">
                    <div class="span10">
                        <div data-role="header" data-theme="f" data-backbtn="false" class="well droppedFields ui-droppable ui-sortable" id="headerDiv">
                            <div class="droppedField">
                                <h1 id="divHeaderTitle">Trail Guide</h1>
                            </div>
                        </div>
                    </div>
                    <!--
                Below we have the columns to drop controls
                -- Removed the TABLE based implementations from earlier code
                -- Grid system used for rendering columns
                -- Columns can be simply added by defining a div with droppedFields class
                -->

                    <div class="span12 ui-sortable" id="selected-content">
                        <div class="row-fluid">
                            <div class="span6 well droppedFields ui-droppable ui-sortable"></div>
                            <div class="span6 well droppedFields ui-droppable ui-sortable"></div>
                        </div>

                    </div>
                    <div class="span10">
                        <div data-role="footer" data-theme="f" class="well droppedFields ui-droppable ui-sortable" id="footerDiv">
                            <div class="droppedField">
                                <h4 id="footerDivH1">MobCloud © 2014</h4>
                            </div>
                        </div>
                    </div>
                </div>
            