

                

                

                <div class="span10" style="z-index: 16;">
                    <div class="span10" style="z-index: 17;">
                        <div data-role="header" data-theme="f" data-backbtn="false" class="well droppedFields ui-droppable ui-sortable" id="headerDiv" style="z-index: 18;">
                            <div class="droppedField" style="z-index: 19;">
                                <h1 id="divHeaderTitle">Trail Guide</h1>
                            </div>
                        </div>
                    </div>
                    <!--
                    Below we have the columns to drop controls
                    -- Removed the TABLE based implementations from earlier code
                    -- Grid system used for rendering columns
                    -- Columns can be simply added by defining a div with droppedFields class
                    -->

                    <div class="span12 ui-sortable" id="selected-content" style="z-index: 20;">
                        

                    <div class="row-fluid" style="z-index: 21;"><div class="span4 well droppedFields ui-droppable ui-sortable" style="z-index: 22;"><div class="droppedField" style="z-index: 23;" id="CTRL-DIV-1003">
                        <a href="javascript:void(0)" class="ctrl-imga" name="name" rel="external" id="imga">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">
                        </a>
                        <input type="hidden" class="hiddenObligatoire">
                    </div></div><div class="span4 well droppedFields ui-droppable ui-sortable" style="z-index: 24;"><div class="droppedField" style="z-index: 25;" id="CTRL-DIV-1004">
                        <a href="javascript:void(0)" class="ctrl-imga" name="name" rel="external" id="imga">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">
                        </a>
                        <input type="hidden" class="hiddenObligatoire">
                    </div></div><div class="span4 well droppedFields ui-droppable ui-sortable" style="z-index: 26;"><div class="droppedField" style="z-index: 27;" id="CTRL-DIV-1005">
                        <a href="javascript:void(0)" class="ctrl-imga" name="name" rel="external" id="imga">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">
                        </a>
                        <input type="hidden" class="hiddenObligatoire">
                    </div></div></div><div class="row-fluid" style="z-index: 28;"><div class="span4 well droppedFields ui-droppable ui-sortable" style="z-index: 29;"><div class="droppedField" style="z-index: 30;" id="CTRL-DIV-1006">
                        <a href="javascript:void(0)" class="ctrl-imga" name="name" rel="external" id="imga">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">
                        </a>
                        <input type="hidden" class="hiddenObligatoire">
                    </div></div><div class="span4 well droppedFields ui-droppable ui-sortable" style="z-index: 31;"><div class="droppedField" style="z-index: 32;" id="CTRL-DIV-1007">
                        <a href="javascript:void(0)" class="ctrl-imga" name="name" rel="external" id="imga">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">
                        </a>
                        <input type="hidden" class="hiddenObligatoire">
                    </div></div><div class="span4 well droppedFields ui-droppable ui-sortable" style="z-index: 33;"><div class="droppedField" style="z-index: 34;" id="CTRL-DIV-1008">
                        <a href="javascript:void(0)" class="ctrl-imga" name="name" rel="external" id="imga">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">
                        </a>
                        <input type="hidden" class="hiddenObligatoire">
                    </div></div></div><div class="row-fluid" style="z-index: 35;"><div class="span4 well droppedFields ui-droppable ui-sortable" style="z-index: 0;"><div class="droppedField" style="z-index: 37;" id="CTRL-DIV-1009">
                        <a href="javascript:void(0)" class="ctrl-imga" name="name" rel="external" id="imga">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">
                        </a>
                        <input type="hidden" class="hiddenObligatoire">
                    </div></div><div class="span4 well droppedFields ui-droppable ui-sortable" style="z-index: 38;"><div class="droppedField" style="z-index: 39;" id="CTRL-DIV-1010">
                        <a href="javascript:void(0)" class="ctrl-imga" name="name" rel="external" id="imga">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">
                        </a>
                        <input type="hidden" class="hiddenObligatoire">
                    </div></div><div class="span4 well droppedFields ui-droppable ui-sortable" style="z-index: 40;"><div class="droppedField" style="z-index: 11;" id="CTRL-DIV-1011">
                        <a href="javascript:void(0)" class="ctrl-imga" name="name" rel="external" id="imga">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">
                        </a>
                        <input type="hidden" class="hiddenObligatoire">
                    </div></div></div></div>
                    <div class="span10" style="z-index: 41;">
                        <div data-role="footer" data-theme="f" class="well droppedFields ui-droppable ui-sortable" id="footerDiv" style="z-index: 42;">
                            <div class="droppedField" style="z-index: 43;">
                                <h4 id="footerDivH1">MobCloud © 2014</h4>
                            </div>
                        </div>
                    </div>
                </div>
            