﻿@model MobileApplication.Models.FacebookPage

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>

@using (Html.BeginForm("AddToTable", "YouTube"))
{
    @Html.AntiForgeryToken()



    <div class="portlet box light-grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-globe"></i>YouTube Pages</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Channel Id</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="odd gradeX">
                        <td><input type="text" name="title" required="required" /></td>
                        <td><input type="text" name="channel_id" required="required" /></td>
                        <input type="hidden" name="appId" required="required" value="@ViewBag.appId" />
                    </tr>

                </tbody>
            </table>
            <div class="btn-group">
                <input type="submit" value="Add" id="sample_editable_1_new" class="btn green" />
            </div>
        </div>
    </div>

}

