﻿ body {
                font-size: 14px;
            }

            .activeDroppable {
                background-color: #eeffee;
            }

            .hoverDroppable {
                background-color: lightgreen;
            }

            .draggableField {
                /* float: left; */
            }

                .draggableField > input, select, button, .checkboxgroup, .selectmultiple, .radiogroup {
                    margin-top: 10px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            /*.draggableField:hover{
          background-color: #ccffcc;
        }*/
            .control-label {
                width: 100px;
            }

        .selectorField .textbox b, .selectorField .password b, .selectorField .combobox b, .selectorField .radiogroup b, .selectorField .checkboxgroup b, .selectorField .selectmultiple b,
        .selectorField .displaydate b, .selectorField .displaytext b {
            position: relative;
            top: 3px;
            left: 0px;
            width: 18px;
            height: 16px;
            display: inline-block;
            background-image: url('images/sprite.png'); background-repeat: no-repeat;
        }

            .selectorField .textbox b, .selectorField .password b, .selectorField .displaytext b {
                background-position: -10px -549px;
            }

            .selectorField .combobox b {
                background-position: -10px -722px;
            }

            .selectorField .radiogroup b {
                background-position: -10px -619px;
            }

            .selectorField .checkboxgroup b {
                background-position: -10px -688px;
            }

            .selectorField .selectmultiple b {
                background-position: -10px -1082px;
            }

            .selectorField .displaydate b {
                background-position: -10px -975px;
            }

            .well-mini {
                margin: 4px;
                padding: 2px;
                border-radius: 6px;
                width: 160px;
                cursor: pointer;
            }

            .draggableField:hover .well-mini {
                background-color: #ccffcc;
            }

            .modele {
                display: none;
            }