﻿@using MobileApplication.Models
@model MenueItem
@{
    if (Model.Id == 0)
    {
        ViewBag.Title = "Add Link";
    }
    else
    {
        ViewBag.Title = "Edit Link";
    }
   // var panelTypes = (List<PanelType>)ViewData["panelTypes"];

}
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/assets/plugins/select2/select2-metronic.css")' />
<!-- END PAGE LEVEL SCRIPTS -->
<div class="panel-body" style="height:500px; overflow-y:auto;">
    <div class="portlet box green ">
        <div class="portlet-title">
            @if (Model.Id == 0)
            {
                <div class="caption"><i class="icon-reorder"></i>Add Link</div>
            }
            else
            {
                <div class="caption"><i class="icon-reorder"></i>Edit Link</div>
            }
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @using (Html.BeginForm("addLink", "Menues", FormMethod.Post, new { @class = "form-horizontal" }))
            {


                @Html.HiddenFor(m => m.menueId, new { Value = @Model.menueId })
                @Html.HiddenFor(m => m.Id, new { Value = @Model.Id })
                <h3 class="form-section">Menue Information</h3>
                @Html.ValidationSummary(true)
                @Html.ValidationMessage("layoutOptions")
                <div class="row-fluid">
                    <div class="span6 ">
                        <div class="control-group">
                            <label class="control-label">Menu Link Title</label>
                            @*@Html.LabelFor(x=>Model.Element.AnchorElement.content, new { @class = "control-label" });*@
                            <div class="controls">
                                @Html.TextBoxFor(m => m.title, new { @class = "m-wrap span12" })
                                @*<input type="text" class="m-wrap span12" name="content" />*@
                                @Html.ValidationMessageFor(m => m.title)
                            </div>
                        </div>
                    </div>
                    <div class="span6 ">
                        <div class="control-group">
                            <label class="control-label">Link To</label>
                            <div class="controls">
                                @Html.DropDownListFor(m=>m.pageId,(IEnumerable<SelectListItem>) @ViewData["pagesList"])
                                @Html.ValidationMessageFor(m => m.pageId)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6 ">
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    @Html.CheckBoxFor(m => m.isEnabled) Enabled
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="span6 ">
                        <div class="control-group">
                            <label class="control-label">Link Parent</label>
                            <div class="controls">
                                @Html.DropDownListFor(m=>m.parentId, (IEnumerable<SelectListItem>)@ViewData["linksList"])
                                @Html.ValidationMessageFor(m=>m.parentId)
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="row-fluid">
                      <div class="span6 ">
                          <div class="control-group">
                          
                              @Html.LabelFor(m=>m.weight, new { @class = "control-label" });
                              <div class="controls">
                                  @Html.DropDownListFor(m=>m.weight, (IEnumerable<SelectListItem>)@ViewData["weightList"])
                                  @Html.ValidationMessageFor(m => m.weight)
                              </div>
                          </div>
                      </div>
                      </div>
                <h3 class="form-section">Menu Layout</h3>

                <div class="form-actions">
                    <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
                    <button type="button" class="btn">Cancel</button>
                </div>
            }
            <!-- END FORM-->
        </div>
    </div>
</div>
<!-- BEGIN CORE PLUGINS -->
@Scripts.Render("~/Content/assets/plugins/jquery-1.10.1.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery-migrate-1.2.1.min.js")
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
@Scripts.Render("~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap/js/bootstrap.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js")
<!--[if lt IE 9]>
<script src='@Url.Content("~/Content/assets/plugins/excanvas.min.js")'></script>
<script src='@Url.Content("~/Content/assets/plugins/respond.min.js")'></script>
<![endif]-->
@Scripts.Render("~/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.blockui.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.cookie.min.js")
@Scripts.Render("~/Content/assets/plugins/uniform/jquery.uniform.min.js")
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src='@Url.Content("~/Content/assets/plugins/select2/select2.min.js")'></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src='@Url.Content("~/Content/assets/scripts/app.js")'></script>
<script src='@Url.Content("~/Content/assets/scripts/form-samples.js")'></script>
<script>
    jQuery(document).ready(function () {
        App.init();
        FormSamples.init();
    });
</script>

@Scripts.Render("~/bundles/jqueryval")

