﻿@model List<MobileApplication.Models.Menue>
@{
    ViewBag.title = "Menues";
}

<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/assets/plugins/select2/select2.css")' />
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/assets/plugins/select2/select2-metronic.css")' />
<link rel="stylesheet" href='@Url.Content("~/Content/assets/plugins/data-tables/DT_bootstrap.css")' />
<!-- END PAGE LEVEL STYLES -->
<div class="panel-body" style="height:500px; overflow-y:auto;">

    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box light-grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-globe"></i>Menues</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="btn-group">
                    <button id="sample_editable_1_new" class="btn green" onclick="window.location='/Menues/Create/?appId='+'@ViewData["appId"]'">
                        Add New <i class="icon-plus"></i>
                    </button>
                </div>
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        Tools <i class="icon-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Print</a></li>
                        <li><a href="#">Save as PDF</a></li>
                        <li><a href="#">Export to Excel</a></li>
                    </ul>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th style="width:8px;"><input type="checkbox" class="group-checkable" id="sample_1 .checkboxes" data-set="#sample_1 .checkboxes" /></th>
                        <th>Title</th>
                        @*<th class="hidden-480">Description</th>*@
                        <th>Operations</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var menu in Model)
                    {
                        <tr class="odd gradeX">
                            <td><input type="checkbox" class="checkboxes" value="@menu.Id" /></td>
                            <td>@menu.title</td>
                            @*<td class="hidden-480">@application.Description</td>*@
                            <td>@Html.ActionLink("list links", "Design/") @Html.ActionLink("edit menu", "Edit",new {menueId=menu.Id}) @Html.ActionLink("add link", "addLink",new {menueId=menu.Id} ) @Html.ActionLink("Setting", "setting", new { menueId = menu.Id })</td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>

<!-- BEGIN CORE PLUGINS -->
@Scripts.Render("~/Content/assets/plugins/jquery-1.10.1.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery-migrate-1.2.1.min.js")
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
@Scripts.Render("~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap/js/bootstrap.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js")
<!--[if lt IE 9]>
<script src='@Url.Content("~/Content/assets/plugins/excanvas.min.js")'></script>
<script src='@Url.Content("~/Content/assets/plugins/respond.min.js")'></script>
<![endif]-->
@Scripts.Render("~/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.blockui.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.cookie.min.js")
@Scripts.Render("~/Content/assets/plugins/uniform/jquery.uniform.min.js")
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src='@Url.Content("~/Content/assets/plugins/select2/select2.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Content/assets/plugins/data-tables/jquery.dataTables.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Content/assets/plugins/data-tables/DT_bootstrap.js")'></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src='@Url.Content("~/Content/assets/scripts/app.js")'></script>
<script src='@Url.Content("~/Content/assets/scripts/table-managed.js")'></script>
<script>
    jQuery(document).ready(function () {
        App.init();
        TableManaged.init();
    });
</script>