﻿@using Page = MobileApplication.Models.Page
@model List<MobileApplication.Models.Page>
@{
    ViewBag.Title = "Setting";
    List<MobileApplication.Models.Page>selectedPages=new List<Page>();
    if (ViewData["selectedPages"] != null)
    {
        selectedPages = (List<MobileApplication.Models.Page>)ViewData["selectedPages"];
    }
    bool flag = true;
    if (ViewData["flag"] != null)
    {
        flag = (bool)ViewData["flag"];
    }
    int menueId=(int) ViewData["menueId"];
}
<!-- BEGIN PAGE LEVEL STYLES -->

<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/assets/plugins/select2-3.5.1/select2.css")'  />
<!-- END PAGE LEVEL SCRIPTS -->
<div class="panel-body" style="height:500px; overflow-y:auto;">
    <div class="portlet box green ">
        <div class="portlet-title">

                <div class="caption"><i class="icon-reorder"></i>Menu Settings</div>

            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @using (Html.BeginForm("setting", "Menues", FormMethod.Post, new { @class = "form-horizontal" }))
            {
               // @Html.HiddenFor(m => m.applicationId, new { Value = @Model.applicationId })
             
                @Html.Hidden("menueId", @menueId)
                <h3 class="form-section">Menue Pages</h3>
                @Html.ValidationSummary(true)

                <div class="row-fluid">
                    <div class="span6 ">
                        <div class="control-group">
                            @*<label class="control-label">Layout</label>*@

                            <div style="overflow: hidden;">
                                <label class="radio">
                                       @if (flag)
                                       {
                                           <input type="radio" name="isListed" value='true' checked="checked" />
                                       }
                                       else
                                       {
                                        <input type="radio" name="isListed" value='true' />
                                       }
                                    Show in all pages except those listed.
                                </label>
                                <label class="radio">
                                    @if (!flag)
                                    {
                                        <input type="radio" name="isListed" value='false' checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="radio" name="isListed" value='false' />
                                    }
                                    Show in pages those listed.
                                </label>
                                <div class="space40"></div>
                            </div>
                         
                        </div>
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">Pages List</label>
                        <div class="controls">
                            <select id="xx" class="span6" multiple name="selectedPages">
                                <option value="-1"></option>
                                @foreach (var page in Model)
                                {
                                    bool isSelected = selectedPages.Contains(page);
                                    if (isSelected)
                                    {
                                        <option value="@page.Id" selected>@page.name</option>
                                    }
                                    else
                                    {
                                        <option value="@page.Id">@page.name</option>
                                    }
                                }
                                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
                    <button type="button" class="btn">Cancel</button>
                </div>
            }
            <!-- END FORM-->
        </div>
    </div>
</div>
<!-- BEGIN CORE PLUGINS -->
@Scripts.Render("~/Content/assets/plugins/jquery-1.10.1.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery-migrate-1.2.1.min.js")
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
@Scripts.Render("~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap/js/bootstrap.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js")
<!--[if lt IE 9]>
<script src='@Url.Content("~/Content/assets/plugins/excanvas.min.js")'></script>
<script src='@Url.Content("~/Content/assets/plugins/respond.min.js")'></script>
<![endif]-->
@Scripts.Render("~/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.blockui.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.cookie.min.js")
@Scripts.Render("~/Content/assets/plugins/uniform/jquery.uniform.min.js")
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src='@Url.Content("~/Content/assets/plugins/select2/select2.min.js")'></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src='@Url.Content("~/Content/assets/scripts/app.js")'></script>

<script>
    jQuery(document).ready(function () {
        App.init();
        $('#xx').select2({
           
        });
    });
</script>

@Scripts.Render("~/bundles/jqueryval")

