﻿@model  MobileApplication.Models.Page

@{
    ViewBag.Title = "Design";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='@Url.Content("~/Content/jquery-mobile-builder/bootstrap/css/bootstrap.min.css")' rel="stylesheet" media="screen">
    <link rel="stylesheet" href='@Url.Content("~/Content/jquery-mobile-builder/jqueryui/themes/base/jquery-ui.css")' />
    <link href='@Url.Content("~/Content/jquery-mobile-builder/styles/custom.css")' rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css")' />
    <title>Design @Model.name</title>
    <style id="content-styles">
        /* Styles that are also copied for Preview */
        body {
            margin: 10px 0 0 10px;
        }

        .control-label {
            display: inline-block !important;
            padding-top: 5px;
            text-align: right;
            vertical-align: baseline;
            padding-right: 10px;
        }

        .droppedField {
            padding-left: 5px;
        }

            .droppedField > input, select, button, .checkboxgroup, .selectmultiple, .radiogroup {
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

        .action-bar .droppedField {
            float: left;
            padding-left: 5px;
        }
    </style>
    <script src='@Url.Content("~/Content/jquery-mobile-builder/scripts/design.js")'></script>
</head>
<body>
    <!--[if lt IE 9]>
    <b class="text-error">All components may not work correctly on IE 8 or below </b><br/><br/>
    <![endif]-->
    <input type="hidden" value="@Model.Id" id="pageId" />
    <input type="hidden" value="@Model.withHeader" id="withHeader" />
    <input type="hidden" value="@Model.withFooter" id="withFooter" />
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2" style="">
                <h6>Design Page @Model.name</h6>
                <b>Elements</b><br />
                @*<div class='selectorField draggableField'>
                    <div class="textbox well well-mini"><b></b> Text Simple</div>
                    <div class='modele'>
                        <label class="control-label">Text</label>
                        <input type="text" placeholder="Votre text ici..." class="ctrl-textbox" />
                        <input type="hidden" class="hiddenObligatoire" />
                    </div>
                </div>*@


                @*<div class='selectorField draggableField'>
                    <div class="textbox well well-mini"><b></b>Page Header</div>
                    <div class='modele'>
                        <div data-role="header" class="ctrl-header">
                            <h1>My Title</h1>
                        </div>
                        <input type="hidden" class="hiddenObligatoire" />
                    </div>
                </div>*@

                <div class='selectorField draggableField'>
                    <div class="textbox well well-mini"><b></b>Link</div>
                    <div class='modele'>
                        <a href="javascript:void(0)" class="ctrl-link" name="" rel="external" id="toPage">Link</a>
                        <input type="hidden" class="hiddenObligatoire" />
                    </div>
                </div>

                <div class='selectorField draggableField'>
                    <div class="textbox well well-mini"><b></b>h1</div>
                    <div class='modele'>
                        <h1 class="ctrl-h">Header</h1>
                        <input type="hidden" class="hiddenObligatoire" />
                    </div>
                </div>
                <div class='selectorField draggableField'>
                    <div class="textbox well well-mini"><b></b>h2</div>
                    <div class='modele'>
                        <h2 class="ctrl-h">Header</h2>
                        <input type="hidden" class="hiddenObligatoire" />
                    </div>
                </div>
                <div class='selectorField draggableField'>
                    <div class="textbox well well-mini"><b></b>h3</div>
                    <div class='modele'>
                        <h3 class="ctrl-h">Header</h3>
                        <input type="hidden" class="hiddenObligatoire" />
                    </div>
                </div>
                <div class='selectorField draggableField'>
                    <div class="textbox well well-mini"><b></b>h4</div>
                    <div class='modele'>
                        <h4 class="ctrl-h">Header</h4>
                        <input type="hidden" class="hiddenObligatoire" />
                    </div>
                </div>
                <div class='selectorField draggableField'>
                    <div class="textbox well well-mini"><b></b>h5</div>
                    <div class='modele'>
                        <h5 class="ctrl-h">Header</h5>
                        <input type="hidden" class="hiddenObligatoire" />
                    </div>
                </div>
                <div class='selectorField draggableField'>
                    <div class="textbox well well-mini"><b></b>h6</div>
                    <div class='modele'>
                        <h6 class="ctrl-h">Header</h6>
                        <input type="hidden" class="hiddenObligatoire" />
                    </div>
                </div>
                <div class='selectorField draggableField'>
                    <div class="textbox well well-mini"><b></b>Image</div>
                    <div class='modele'>
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online" />

                        <input type="hidden" class="hiddenObligatoire" />
                    </div>
                </div>
                @*<div class='selectorField draggableField'>
                <div class="password well well-mini"><b></b> Mot de passe</div>
                <div class='modele'>
                    <label class="control-label">Mot de passe</label>
                    <input type="password" placeholder="Mot de passe ..." class="ctrl-passwordbox" />
                    <input type="hidden" class="hiddenObligatoire" />
                </div>
            </div>*@

                @* <div class='selectorField draggableField'>
            <div class="combobox well well-mini"><b></b> Liste d&eacute;roulante</div>
                    <div class='modele'>
                        <label class="control-label">Liste d&eacute;roulante</label>
                        <select class="ctrl-combobox">
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>
                        <input type="hidden" class="hiddenObligatoire" />
                    </div>
                </div>*@

                @*<div class='selectorField draggableField'>
                <div class="radiogroup well well-mini"><b></b> Liste de choix</div>
                <div class='modele'>
                    <label class="control-label" style="vertical-align:top">Liste de choix</label>
                    <div style="display:inline-block;" class="ctrl-radiogroup">
                        <span style="display:block;"><input type="radio" name="radioField" value="option1" />Option 1</span>
                        <span style="display:block;"><input type="radio" name="radioField" value="option2" />Option 2</span>
                        <span style="display:block;"><input type="radio" name="radioField" value="option3" />Option 3</span>
                    </div>
                    <input type="hidden" class="hiddenObligatoire" />
                </div>
            </div>*@

                @*<div class='selectorField draggableField'>
                <div class="checkboxgroup well well-mini"><b></b> Choix multiple</div>
                <div class='modele'>
                    <label class="control-label" style="vertical-align:top">Choix multiple</label>
                    <div style="display:inline-block;" class="ctrl-checkboxgroup">
                        <span style="display:block;"><input type="checkbox" name="checkboxField" value="option1" />Option 1</span>
                        <span style="display:block;"><input type="checkbox" name="checkboxField" value="option2" />Option 2</span>
                        <span style="display:block;"><input type="checkbox" name="checkboxField" value="option3" />Option 3</span>
                    </div>
                    <input type="hidden" class="hiddenObligatoire" />
                </div>
            </div>*@

                @*<div class='selectorField draggableField'>
                <div class="selectmultiple well well-mini"><b></b> Selection multiple</div>
                <div class='modele'>
                    <label class="control-label" style="vertical-align:top">Selection multiple</label>
                    <div style="display:inline-block;">
                        <select multiple="multiple" style="width:150px" class="ctrl-selectmultiplelist">
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>
                    </div>
                    <input type="hidden" class="hiddenObligatoire" />
                </div>
            </div>*@


                @*<b>Champs Auto</b><br />
            <div class='selectorField draggableField'>
                <div class="displaydate well well-mini"><b></b> Date</div>
                <div class='modele'>
                    <label class="control-label">Date</label>
                    <span class="ctrl-date">{DD/MM/YYYY}</span>
                </div>
            </div>*@

                <div class='selectorField draggableField'>
                    <div class="displaytext well well-mini"><b></b> Paragraph</div>
                    <div class='modele'>
                        <p class="ctrl-text">{Text}</p>
                    </div>
                </div>
                <div class='selectorField draggableField'>
                    <div class="displaytext well well-mini"><b></b>Collapsible Element</div>
                    <div class='modele'>
                        <div class="row-fluid collElement" >
                            @*$('#collElementHeader').draggable('disable');id="collapsibleElement"*@                    
                            <div class=" well droppedFields" id="collapsibleElement">
                                <div class="droppedField" id="collElementHeader">
                                    <h1 class="ctrl-h" id="collapsibleElementHeader" onclick="alterCollapsibleElementHeader(this)" title="closed">Trail Guide</h1>
                                </div>
                            </div>
                        </div>
                        <div class="endCollapsible"></div>
                   
                    </div>
                </div>

                <div class='selectorField draggableField'>
                    <div class="displaytext well well-mini"><b></b>Collapsible List</div>
                    <div class='modele'>
                        <div class="row-fluid collList">
                            <div class=" well droppedFields" id="collapsibleList">
                       
                            </div>
                        </div>
                        <div class="endCollapsible"></div>

                    </div>
                </div>

                @*<b>Boutons</b><br />
                    <div class='selectorField draggableField'>
                        <button class="btn ctrl-btn">Simple Button</button>
                    </div>
                    <div class='selectorField draggableField'>
                        <button class="btn btn-primary ctrl-btn">Primary Button</button>
                    </div>
                    <div class='selectorField draggableField'>
                        <button class="btn btn-success ctrl-btn"><i class="icon-ok-sign icon-white"></i> Save Button</button>
                    </div>
                    <div class='selectorField draggableField'>
                        <button class="btn btn-danger ctrl-btn"><i class="icon-trash icon-white"></i> Delete Button</button>
                    </div>*@
                    <!-- End of list of controls -->
                </div>

            <div id="pageContent">
          
                @*<div class="row-fluid">
                    <div class="span2"></div>*@
              
                @*</div>*@
              
                <div class="span10">
                    <div class="span10">
                        <div data-role="header" data-theme="f" data-backbtn="false" class="well droppedFields" id="headerDiv">
                            <div class="droppedField">
                                <h1 id="divHeaderTitle">Trail Guide</h1>
                            </div>
                        </div>
                    </div>
                    <!--
                Below we have the columns to drop controls
                -- Removed the TABLE based implementations from earlier code
                -- Grid system used for rendering columns
                -- Columns can be simply added by defining a div with droppedFields class
                -->

                    <div class="span12" id="selected-content">
                        <div class="row-fluid">
                            <div class="span6 well droppedFields"></div>
                            <div class="span6 well droppedFields"></div>
                        </div>

                    </div>
                    <div class="span10">
                        <div data-role="footer" data-theme="f" class="well droppedFields" id="footerDiv">
                            <div class="droppedField">
                                <h4 id="footerDivH1">MobCloud &copy; 2014</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Preview button -->
        <div class="row-fluid">
            <div class="span12">
                <input type="button" class="btn btn-primary" value="Save" onclick="save();" />
                <input type="button" class="btn btn-primary btn-success" value="Save and Preview" onclick="save(); preview();" />
                <input type="button" class="btn btn-primary" value="Edit Layout" onclick="$('#dialog-form-nombre-colonne').modal('show'); $('#dialog-form-nombre-colonne').css('z-index', '1500');" />
                <input type="button" class="btn btn-primary btn-danger" value="Close" onclick="window.location='/Pages/Index/'+'@Model.applicationId'" />
            </div>
        </div>


        <div class="tabbable">
            <!-- List of controls rendered into Bootstrap Tabs -->


        </div>
</div>
        <script type="text/javascript" src='@Url.Content("~/Content/jquery-mobile-builder/bootstrap/js/jquery.js")'></script>
        <script type="text/javascript" src='@Url.Content("~/Content/jquery-mobile-builder/bootstrap/js/bootstrap.min.js")'></script>
        <script type="text/javascript" src='@Url.Content("~/Content/jquery-mobile-builder/jqueryui/ui/minified/jquery-ui.min.js")'></script>
        <!-- using handlebars for templating, but DustJS might be better for the current purpose -->
        <script type="text/javascript" src='@Url.Content("~/Content/jquery-mobile-builder/handlebars/handlebars.js")'></script>
        <!--
          Starting templates declaration
          DEV-NOTE: Keeping the templates and code simple here for demo  -- use some better template inheritance for multiple controls
        --->

        <script id="control-customize-template" type="text/x-handlebars-template">
            <div class="modal-header">
                <h3>{{header}}</h3>
            </div>
            <div class="modal-body">
                <form id="theForm" class="form-horizontal">
                    <input type="hidden" value="{{type}}" name="type" />
                    <input type="hidden" value="{{forCtrl}}" name="forCtrl" />
                    <p id="pLibelle"><label class="control-label" for="handlebars-textbox-label">Libell&eacute;</label> <input type="text" name="label" value="" id="handlebars-textbox-label" /></p>
                    <p style="display:{{displayNom}}"><label class="control-label" for="handlebars-textbox-name">Nom</label> <input type="text" value="" name="name" id="handlebars-textbox-name" /></p>
                    <p id="pObligatoire"><label class="control-label" for="checkbox-obligatoire-textbox">Obligatoire</label> <input type="checkbox" name="obligatoire" value="" id="checkbox-obligatoire-textbox" /></p>
                    {{{content}}}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" onclick='save_customize_changes()'>Save</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" onclick='delete_ctrl()'>Delete Element</button>
            </div>
        </script>

        <script id="textbox-template" type="text/x-handlebars-template">
            <p><label class="control-label">Placeholder</label> <input type="text" name="placeholder" value="" /></p>
        </script>

        <script id="combobox-template" type="text/x-handlebars-template">
            <p><label class="control-label">Options</label> <textarea name="options" rows="5"></textarea></p>
        </script>

        <script id="text-template" type="text/x-handlebars-template">
            <p><label class="control-label" for="handlebars-textbox-text">Text</label> <textarea name="texte" rows="10" id="handlebars-textbox-text"></textarea></p>
        </script>

        <script id="date-template" type="text/x-handlebars-template">
            <p>
                <label class="control-label" for="handlebars-textbox-formatdate" style="padding-top:16px;">Format</label>
                <select name="dateformat" id="handlebars-textbox-formatdate">
                    <option value="DD/MM/YYYY">DD/MM/YYYY</option>
                    <option value="DD/MM/YYYY hh:mm:ss">DD/MM/YYYY hh:mm:ss</option>
                </select>
            </p>
        </script>

        <!-- End of templates -->

        <div id="dialog-form-nombre-colonne" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">x</a>
                <h3>Add Row</h3>
            </div>
            <div class="modal-body" style="padding:10px 40px 0 40px; min-height:150px;">
                <form>
                    <label for="nbColonne">Number of Columns : <span id="nbColonne">1</span></label>
                    <div id="sliderNbColonne"></div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success" onclick='ajouterTableau();'>Add</a>
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
        </div>

    <div id="dialog-Collapsibla" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Modify Collapsible Header</h3>
        </div>
        <div class="modal-body" style="padding:10px 40px 0 40px; min-height:150px;">
            <form>
                <div class="row-fluid">
                    <label for="nbColonne">Collapsible Title</label>
                    <input type="text" id="inputCollapsibleElementHeader" />
                </div>
                <div class="space15"></div>
                <div class="row-fluid">
                    <input type="checkbox" id="isOpenCheckBox" />Opened
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-success" onclick='alterCollapsibleElementTitle();'>Save</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>

        <div id="dialog-headerDiv" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">x</a>
                <h3>Modify Header</h3>
            </div>
            <div class="modal-body" style="padding:10px 40px 0 40px; min-height:150px;">
                <form class="form-horizontal">
                    <div class="row-fluid">
                        <label for="nbColonne">Page Title</label>
                        <input type="text" id="titleInput" />
                    </div>
                    <div class="space15"></div>
                    <div class="row-fluid">
                        <input type="checkbox" id="backbtn" />show back button
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success" onclick='alterHeader();'>Save</a>
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
        </div>


        <div id="dialog-footerDiv" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">x</a>
                <h3>Modify Footer</h3>
            </div>
            <div class="modal-body" style="padding:10px 40px 0 40px; min-height:150px;">
                <form class="form-horizontal">
                    <div class="row-fluid">
                        <label for="nbColonne">Page footer text</label>
                        <input type="text" id="footerDialogH1" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success" onclick='alterFooter();'>Save</a>
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
        </div>
   
    <span style="position:absolute; padding-right:6px; height:10px;" id="divDeleteTableau">
        <a href="#" onclick="supprimerTableau()"><img src='@Url.Content("~/Content/jquery-mobile-builder/img/delete.png")' alt="" /></a>
    </span>
    @Scripts.Render("~/Content/assets/plugins/bootstrap/js/bootstrap.min.js")
    <script type="text/javascript" src='@Url.Content("~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js")'></script>
    <script>
        var xxx;
        function alterCollapsibleElementHeader(e) {
            $("#inputCollapsibleElementHeader").val($(e).html());
            $('#dialog-Collapsibla').modal('show');
            $('#dialog-Collapsibla').css('z-index', '1500');
            xxx = e;
        }
        $.ajax({
            url: "/Pages/loadPageContent/",
            type: "POST",
            dataType: "json",
            async: false,
            data: { pageId:document.getElementById('pageId').value},
            success: function (res) {
                //alert(res.content);
                if(res.content!=""){
                    $('#pageContent').html(res.content);
                  
                    docReady();
                    $('#pageContent').find('div').each(function (index, element) {
                        if ($(element).prop('id').indexOf('CTRL-DIV') > -1) {
                            
                            if ($(element).find("#collapsibleElement").length <= 0 && $(element).find("#collapsibleList").length <= 0)
                                $(element).click(function () {
                                    var me = $(element);
                                    var ctrl = me.find("[class*=ctrl]")[0];
                                    var ctrl_type = $.trim(ctrl.className.match("ctrl-.*")[0].split(" ")[0].split("-")[1]);
                                  
                                    customize_ctrl(ctrl_type, element.id);
                               });
                               _ctrl_index++;
                       
                        }
                    });
                }
                if ($('#withHeader').val() == 0) {
                    $('#headerDiv').remove();
                }
                if ($('#withFooter').val() == 0) {
                    $('#footerDiv').remove();
                }
            }
        });
        $(document).ready(docReady);

        /* GA tracking */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-665946-1']);
        _gaq.push(['_setDomainName', 'anupshinde.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        $("#headerDiv").click(function () { // Click to only happen on announce links
            $("#titleInput").val($('#divHeaderTitle').html());
            $('#dialog-headerDiv').modal('show');
            $('#dialog-headerDiv').css('z-index', '1500');
        });
        $("#footerDiv").click(function () { // Click to only happen on announce links
            $("#footerDialogH1").val($('#footerDivH1').html());
            $('#dialog-footerDiv').modal('show');
            $('#dialog-footerDiv').css('z-index', '1500');
        });
        $("#linkDiv").click(function (event) {
            event.preventDefault();
        });
    </script>
       
</body>
</html>

