﻿@model MobileApplication.Models.Page
@{
    ViewBag.Title = "Edit Page";

}
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/assets/plugins/select2/select2-metronic.css")' />
<!-- END PAGE LEVEL SCRIPTS -->
<div class="panel-body" style="height:500px; overflow-y:auto;">
    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Edit Application</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @using (Html.BeginForm("Create", "Pages", FormMethod.Post, new { @class = "form-horizontal" }))
            {


                @Html.HiddenFor(m => m.applicationId, new { Value = @Model.applicationId })
                 @Html.HiddenFor(m => m.Id, new { Value = @Model.Id })
                <h3 class="form-section">Page Information</h3>
                @Html.ValidationSummary(true)
                @Html.ValidationMessage("error")
                <div class="row-fluid">
                    <div class="span6 ">
                        <div class="control-group">
                            @Html.LabelFor(m => m.name, new { @class = "control-label" });
                            <div class="controls">
                                @Html.TextBoxFor(m => m.name, new { @class = "m-wrap span12" })
                                @Html.ValidationMessageFor(m => m.name)
                            </div>
                        </div>
                    </div>

                    <div class="span6 ">
                        <div class="control-group">
                            @Html.LabelFor(m => m.title, new { @class = "control-label" });
                            <div class="controls">
                                @Html.TextAreaFor(m => m.title, new { @class = "m-wrap span12" })
                                @Html.ValidationMessageFor(m => m.title)
                            </div>
                        </div>
                    </div>

                </div>
                <h3 class="form-section">Page Template</h3>
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">Layout</label>
                        <div class="controls">
                            <label class="checkbox">
                               @if (Model.withHeader == 0)
                               {
                                   <input type="checkbox" value="" name="header" />
                               }
                               else
                               {
                                   <input type="checkbox" value="" name="header" checked/> 
                               } Add Header
                            </label>
                            <label class="checkbox">
                                @if (Model.withFooter == 0)
                                {
                                    <input type="checkbox" value="" name="footer" />
                                }
                                else
                                {
                                    <input type="checkbox" value="" name="footer" checked />
                                }  Add Footer
                            </label>
                            <label class="checkbox">
                                @if (((bool)Model.isHome) == false)
                                {
                                    <input type="checkbox" value="" name="isHome" />
                                }
                                else
                                {
                                    <input type="checkbox" value="" name="isHome" checked />
                                }  Set as home page
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
                    <button type="button" class="btn">Cancel</button>
                </div>
            }
            <!-- END FORM-->
        </div>
    </div>
</div>
<!-- BEGIN CORE PLUGINS -->
@Scripts.Render("~/Content/assets/plugins/jquery-1.10.1.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery-migrate-1.2.1.min.js")
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
@Scripts.Render("~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap/js/bootstrap.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js")
<!--[if lt IE 9]>
<script src='@Url.Content("~/Content/assets/plugins/excanvas.min.js")'></script>
<script src='@Url.Content("~/Content/assets/plugins/respond.min.js")'></script>
<![endif]-->
@Scripts.Render("~/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.blockui.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.cookie.min.js")
@Scripts.Render("~/Content/assets/plugins/uniform/jquery.uniform.min.js")
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src='@Url.Content("~/Content/assets/plugins/select2/select2.min.js")'></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src='@Url.Content("~/Content/assets/scripts/app.js")'></script>
<script src='@Url.Content("~/Content/assets/scripts/form-samples.js")'></script>
<script>
    jQuery(document).ready(function () {
        App.init();
        FormSamples.init();
    });
</script>

@Scripts.Render("~/bundles/jqueryval")

