
          
                
              
                
              
                <div class="span10" style="z-index: 47;">
                    <div class="span10" style="z-index: 48;">
                        
                    </div>
                    <!--
                Below we have the columns to drop controls
                -- Removed the TABLE based implementations from earlier code
                -- Grid system used for rendering columns
                -- Columns can be simply added by defining a div with droppedFields class
                -->

                    <div class="span12 ui-sortable" id="selected-content" style="z-index: 49;">
                        <div class="row-fluid" style="z-index: 50;">
                            <div class="span6 well droppedFields ui-droppable ui-sortable" style="z-index: 51;"><div class="droppedField" style="z-index: 52;" id="CTRL-DIV-1001">
                        <h3 class="ctrl-h">Header</h3>
                        <input type="hidden" class="hiddenObligatoire">
                    </div><div class="droppedField" style="z-index: 17;" id="CTRL-DIV-1002">
                        <h4 class="ctrl-h">Header</h4>
                        <input type="hidden" class="hiddenObligatoire">
                    </div></div>
                            <div class="span6 well droppedFields ui-droppable ui-sortable" style="z-index: 53;"></div>
                        </div>

                    </div>
                    <div class="span10" style="z-index: 54;">
                        
                    </div>
                </div>
            