<div data-role="page" id="page0"><div data-role="header"><h1>List student</h1></div><div data-role="content"><h2></h2><ul data-role=""></ul></div><div data-role="footer"><h4>Muhsen & wessssooo ; 2014</h4></div><script  type="text/javascript"> 
$.getJSON("http://localhost:1051/Service/index/46", function(data){
 for(var i=0;i<data.records.length;i++){
 $("#list").append("<ul id=\"ul"+i+"\" data-role=\"listview\" ></ul>");
 $('#ul'+i).append("<li data-role=\"list-divider\">"+data.records[i].Title +"</li>");
 $('#ul'+i).append("<li>"+data.records[i].age +"</li>");
$('#ul'+i).listview().listview('refresh'); 
} 
 });</script></div>