﻿@{
    ViewBag.Title = "Create";
}
<script src="../../Scripts/jquery-1.10.2.min.js"></script>
<h2>Create Field</h2>

<div>
    <div class="form-horizontal">
        @Html.Label("Field Name", htmlAttributes: new { @class = "control-label", @for = "FieldName", @style = "text-align:left" })
        <input type="text" name="FieldName" id="FieldName" />
        <p class="validate-inline " id="FieldNameValidate" style="color:red"></p>
    </div>
    <br />
    <table>
        <tr>
            <td style="width:157px">
                @Html.Label("Type", htmlAttributes: new { @class = "control-label", @style = "text-align:left" })
            </td>
            <td>
                <select name="TypeSelect" id="TypeSelect" required="required" style="width:100px">
                    @foreach (var item in ViewData["types"] as List<string>)
                    {
                        <option value=@item>@item</option>
                    }
                </select>
            </td>
            <td style="width:157px; text-align:center" id="ToLable">
                <label class="control-label" style="text-align:center">To</label>
            </td>
            <td id="contentTypeSelecter">
                <select name="ContentTypeSelect" id="ContentTypeSelect" required="required" style="width:200px">
                    @foreach (var item in ViewData["contentTypes"] as List<string>)
                    {
                        <option value=@item>@item</option>
                    }
                </select>
            </td>
        </tr>
    </table>
    <br />
    <div class="form-horizontal">
        @Html.Label("isRequired", htmlAttributes: new { @class = "control-label", @for = "isRequiredSelect", @style = "text-align:left" })
        <select name="isRequiredSelect" id="isRequiredSelect" style="width:100px">
            <option selected="selected" value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <div class="form-actions no-color">
        <input type="button" value="Create" class="btn btn-default" />
        |@Html.ActionLink("Back to List", "Index", new { id = ViewBag.contentTypeId })
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#contentTypeSelecter').hide();
        $('#ToLable').hide();
        $('#TypeSelect').change(function (e) {
            e.preventDefault();
            if ($(this).val() == "Reference") {
                $('#contentTypeSelecter').show();
                $('#ToLable').show();
            }
            else {
                $('#contentTypeSelecter').hide();
                $('#ToLable').hide();
            }
        });
        $('.btn').click(function (e) {
            if (!$("#FieldName").val()) {
                $('#FieldNameValidate').html("You must enter field name");
            }
            else {
                var field = '{ "fieldName" : "' + $("#FieldName").val() +
               '" , "type": "' + $("#TypeSelect").val() + '" , "isRequired" : "' + $("#isRequiredSelect").val() + '" , "refTo" : "' + $("#ContentTypeSelect").val() + '" }';
                var formData = new FormData();
                formData.append("contentTypeId", '@ViewBag.contentTypeId');
                formData.append("field", field);
                $.ajax({
                    type: "POST",
                    url: '/DBFields/Create',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (msg) {
                        if (msg == "no")
                            $('#FieldNameValidate').html("The field name is exist please reenter it");
                        else
                            window.location.replace("/DBFields/Index/" + '@ViewBag.contentTypeId');
                    },
                    error: function (error) {
                        alert("Server not response");
                    }
                });
            }
        });
    });
</script>
