﻿@model MobileApplication.Models.DBField

@{
    ViewBag.Title = "Details";
}

<h2>Field Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Field Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Is Required
        </dt>

        <dd>
            @Html.DisplayFor(model => model.required)
        </dd>

        <dt>
            Content Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DBContentType.name)
        </dd>

        <dt>
            Data Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DBDataType.name)
        </dd>
        @if (ViewBag.refTo != null)
        {
            <dt>
                Reference To
            </dt>

            <dd>
                @ViewBag.refTo
            </dd>
        }
    </dl>
</div>
<div class="form-actions no-color">
    <p>

        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index", new { id = Model.contentType })
    </p>
</div>
