﻿@model MobileApplication.Models.DBField

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Field</h2>

<script src="../../Scripts/jquery-1.10.2.min.js"></script>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <hr />

        <table>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.machineName)

            <tr style="height:50px">
                <td style="width: 157px">Field Name</td>
                <td>
                    @Html.EditorFor(model => model.name)
                    <p class="validate-inline " id="FieldNameValidate" style="color:red"></p>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height:50px">
                <td>Is Required</td>
                <td>
                    @Html.EditorFor(model => model.required)
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height:50px">
                <td style="width:157px">Data Type</td>
                <td>
                    @Html.DropDownList("dataType")
                </td>
                <td style="width:157px; text-align:center" id="ToLable">
                    @Html.Label("To")
                </td>
                <td id="contentTypeSelecter">
                    @Html.DropDownList("contentType")
                </td>
            </tr>
        </table>


    </div>
    <div class="form-actions no-color">
        <input type="button" value="Save" class="btn btn-default" />
        |@Html.ActionLink("Back to List", "Index", new { id = Model.contentType })
    </div>
}

<script>
    $(document).ready(function () {
        var formData = new FormData();
        formData.append("oldField", $("#name").val());
        if ('@Model.dataType' == '@ViewBag.referenceId') // 9 = reference
        {
            $('#contentTypeSelecter').show();
            $('#ToLable').show();
        }
        else {
            $('#contentTypeSelecter').hide();
            $('#ToLable').hide();
        }
        $('#dataType').change(function (e) {
            e.preventDefault();
            if ($(this).val() == '@ViewBag.referenceId') {
                $('#contentTypeSelecter').show();
                $('#ToLable').show();
            }
            else {
                $('#contentTypeSelecter').hide();
                $('#ToLable').hide();
            }
        });
        $('.btn').click(function (e) {
            if (!$("#name").val()) {
                $('#FieldNameValidate').html("You must enter field name");
            }
            else {
                var field = '{ "id" : "' + '@Model.id' + '" , "fieldName" : "' + $("#name").val() +
               '" , "type": "' + $("#dataType").val() + '" , "isRequired" : "' + $("#required").val() + '" , "refTo" : "' + $("#contentType").val() + '" }';
                formData.append("contentTypeId", '@Model.contentType');
                formData.append("field", field);
                $.ajax({
                    type: "POST",
                    url: '/DBFields/Edit',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (msg) {
                        if (msg == "no")
                            $('#FieldNameValidate').html("The field name is exist please reenter it");
                        else
                            window.location.replace("/DBFields/Index/" + '@Model.contentType');
                    },
                    error: function (error) {
                        alert("Server not response");
                    }
                });
            }
        });
    });
</script>