﻿@using MobileApplication.Models
@model List<MobileApplication.Models.Theme>
@{
    Theme defaulTheme = (Theme) ViewData["defaultTheme"];
    int appId = (int) ViewData["appId"];
}
<div class="panel-body" style="height:500px; overflow-y:auto;">
    <div class="row-fluid search-forms search-default">
        <form class="form-search" action="#">
            <div class="chat-form">
                <div class="input-cont">
                    <input type="text" placeholder="Search..." class="m-wrap" />
                </div>
                <button type="button" class="btn green">Search &nbsp; <i class="m-icon-swapright m-icon-white"></i></button>
            </div>
        </form>
    </div>
    <!--end booking-search-->
    <div class="space40"></div>
    <div class="row-fluid margin-bottom-20">
        <div class="span4"></div>
        <div class="span4 booking-blocks">
            <h2 class="green">Default Theme</h2>
            <iframe src="~/themes/@defaulTheme.folderName/index.html" width="360" height="640"></iframe>
            <div style="overflow:hidden;">
                <h2><a href="#">@defaulTheme.name</a></h2>
                <p>@defaulTheme.description</p>
                <div class="space40"></div>
            </div>
        </div>
        <div class="span4"></div>
    </div>
    <hr/>
    <!--end span4-->
    <!--end row-fluid-->
    @for (int i = 0; i < Model.Count; i += 2)
    {
        <div class="space40"></div>
        <div class="row-fluid">
            <div class="row-fluid margin-bottom-20">
                <div class="span6 booking-blocks">
                    <iframe src="~/themes/@Model[i].folderName/index.html" width="360" height="640"></iframe>
                    <div style="overflow:hidden;">
                        <h2><a href="#">@Model[i].name</a></h2>
                        <p>@Model[i].description</p>
                        <input class="btn red" value="Set Default" id="@Model[i].Id" onclick="updateTheme(this.id)">
                        <div class="space40"></div>
                    </div>
                </div>
                @if (i + 1 < Model.Count)
                {
                    <div class="span6 booking-blocks">
                        <iframe src="~/themes/@Model[i + 1].folderName/index.html" width="360" height="640"></iframe>
                        <div style="overflow: hidden;">
                            <h2><a href="#">@Model[i + 1].name</a></h2>
                            <p>@Model[i + 1].description</p>
                            <input class="btn red" value="Set Default" id="@Model[i+1].Id" onclick="updateTheme(this.id)">
                        </div>
                    </div>
                }
            </div>
            <div class="space40"></div>
        </div>
    }
    <div class="pagination pagination-centered">
        <ul>
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>
</div>
<!-- BEGIN CORE PLUGINS -->
@Scripts.Render("~/Content/assets/plugins/jquery-1.10.1.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery-migrate-1.2.1.min.js")
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
@Scripts.Render("~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap/js/bootstrap.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js")
<!--[if lt IE 9]>
<script src='@Url.Content("~/Content/assets/plugins/excanvas.min.js")'></script>
<script src='@Url.Content("~/Content/assets/plugins/respond.min.js")'></script>
<![endif]-->
@Scripts.Render("~/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.blockui.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.cookie.min.js")
@Scripts.Render("~/Content/assets/plugins/uniform/jquery.uniform.min.js")
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src='@Url.Content("~/Content/assets/scripts/app.js")'></script>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
    function updateTheme(id) {
        $.ajax({
            data:{appId:'@appId',themeId:id},
            url:"/Themes/setdefaultTheme",
            type:"POST",
            success:function(res) {
                alert(res);
                window.location = "/Themes/Index/"+'@appId';
            }
        });
    }
</script>