
          
                
              
                
              
                <div class="span10" style="z-index: 47;">
                    <div class="span10" style="z-index: 48;">
                        <div data-role="header" data-theme="f" data-backbtn="false" class="well droppedFields ui-droppable ui-sortable activeDroppable" id="headerDiv" style="z-index: 49;">
                            <div class="droppedField" style="z-index: 50;">
                                <h1 id="divHeaderTitle">koko is here</h1>
                            </div>
                        </div>
                    </div>
                    <!--
                Below we have the columns to drop controls
                -- Removed the TABLE based implementations from earlier code
                -- Grid system used for rendering columns
                -- Columns can be simply added by defining a div with droppedFields class
                -->

                    <div class="span12 ui-sortable" id="selected-content" style="z-index: 51;">
                        <div class="row-fluid" style="z-index: 52;">
                            <div class="span6 well droppedFields ui-droppable ui-sortable activeDroppable" style="z-index: 53;"><div class="droppedField" style="z-index: 54;" id="CTRL-DIV-1001">
                        <h1 class="ctrl-h">Header</h1>
                        <input type="hidden" class="hiddenObligatoire">
                    </div><div class="droppedField" style="z-index: 55;" id="CTRL-DIV-1002">
                        <p class="ctrl-text">la tl72ne ma5tpbe</p>
                    </div></div>
                            <div class="span6 well droppedFields ui-droppable ui-sortable activeDroppable" style="z-index: 56;"><div class="droppedField" style="z-index: 29;" id="CTRL-DIV-1003">
                        <p class="ctrl-text">dsadsadsad</p>
                    </div></div>
                        </div>

                    </div>
                    <div class="span10" style="z-index: 57;">
                        <div data-role="footer" data-theme="f" class="well droppedFields ui-droppable ui-sortable activeDroppable" id="footerDiv" style="z-index: 58;">
                            <div class="droppedField" style="z-index: 59;">
                                <h4 id="footerDivH1">MobCloud © 2014</h4>
                            </div>
                        </div>
                    </div>
                </div>
            