﻿@model MobileApplication.Models.AppPage
@{
    ViewBag.Title = "Build Jquery Mobile Application";
}

<h2>@TempData["appName"]</h2>
<div>

    @using (Html.BeginForm("AddPageFormHandler", "PageContent", FormMethod.Post))
    {
        @Html.TextBoxFor(page => page.Name)
        <br />
    <div>
        <input type="radio" name="Layout" value="Grid" onclick="AddField()"/>
        @Html.Label("Grid Layout")
        <div class="Column">

        </div>
        <br />
        <input type="radio" name="Layout" value="List" onclick="RemoveField()" />
        @Html.Label("List Layout")
    </div>
        <br />
        <button type="submit" value="test">Add Page</button>
    }
</div>
<div>
    @Html.ActionLink("Add Content Type", "Index", "ContentType")
</div>
<div>
    @Html.ActionLink("Generate Application", "GenerateApp", "Application")
</div>
<script>
    var flag = 0;

    function AddField()
    {
        if (!Boolean(flag))
        {
            $(".Column").append("<input class=\"ColumnField\" type=\"text\" name=\"ColumnCount\" placeholder=\"Column Count\" />");
            flag = 1;
        }
    }
    function RemoveField() {
        $(".ColumnField").remove();
        flag = 0;
    }

</script>