
                <div style="z-index: 120;" class="span10">
                    <div style="z-index: 121;" class="row-fluid">
                        <div style="z-index: 122;" data-role="header" data-theme="f" data-backbtn="false" class="well droppedFields ui-droppable ui-sortable" id="headerDiv">
                            <div id="CTRL-DIV-1003" style="z-index: 116;" class="droppedField">
                        <div style="z-index: 117;" class="row-fluid collElement">
                            <div style="z-index: 118;" class="well droppedFields ui-droppable ui-sortable" id="collapsibleElement">
                                
                            </div>
                        </div>
                        <div style="z-index: 119;" class="endCollapsible"></div>
                   
                    </div><div style="z-index: 123;" class="droppedField">
                                <h1 id="divHeaderTitle">ss</h1>
                            </div>
                        <div id="CTRL-DIV-1005" style="z-index: 96;" class="droppedField">
                        <div style="z-index: 97;" class="row-fluid collElement">
                                                
                            <div style="z-index: 98;" class="well droppedFields ui-droppable ui-sortable" id="collapsibleElement">
                                <div style="z-index: 99;" class="droppedField" id="collElementHeader">
                                    <h1 class="ctrl-h" id="collapsibleElementHeader" onclick="alterCollapsibleElementHeader(this)" title="closed">Trail Guide</h1>
                                </div>
                            <div id="CTRL-DIV-1007" style="z-index: 95;" class="droppedField">
                        <h3 class="ctrl-h">Header</h3>
                        <input class="hiddenObligatoire" type="hidden">
                    </div></div>
                        </div>
                        <div style="z-index: 100;" class="endCollapsible"></div>
                   
                    </div><div id="CTRL-DIV-1008" style="z-index: 101;" class="droppedField">
                        <div style="z-index: 102;" class="row-fluid collList">
                            <div style="z-index: 103;" class="well droppedFields ui-droppable ui-sortable" id="collapsibleList">
                            <div id="CTRL-DIV-1010" style="z-index: 90;" class="droppedField">
                        <div style="z-index: 91;" class="row-fluid collElement">
                                                
                            <div style="z-index: 92;" class="well droppedFields ui-droppable ui-sortable" id="collapsibleElement">
                                <div style="z-index: 93;" class="droppedField" id="collElementHeader">
                                    <h1 class="ctrl-h" id="collapsibleElementHeader" onclick="alterCollapsibleElementHeader(this)" title="opened">2</h1>
                                </div>
                            <div id="CTRL-DIV-1016" style="z-index: 30;" class="droppedField">
                        <h5 class="ctrl-h">Header</h5>
                        <input class="hiddenObligatoire" type="hidden">
                    </div></div>
                        </div>
                        <div style="z-index: 94;" class="endCollapsible"></div>
                   
                    </div><div id="CTRL-DIV-1014" style="z-index: 42;" class="droppedField">
                        <div style="z-index: 45;" class="row-fluid collElement">
                                                
                            <div style="z-index: 48;" class="well droppedFields ui-droppable ui-sortable" id="collapsibleElement">
                                <div style="z-index: 51;" class="droppedField" id="collElementHeader">
                                    <h1 class="ctrl-h" id="collapsibleElementHeader" onclick="alterCollapsibleElementHeader(this)" title="opened">1</h1>
                                </div>
                            <div id="CTRL-DIV-1018" style="z-index: 23;" class="droppedField">
                        <h3 class="ctrl-h">Header</h3>
                        <input class="hiddenObligatoire" type="hidden">
                    </div></div>
                        </div>
                        <div style="z-index: 54;" class="endCollapsible"></div>
                   
                    </div></div>
                        </div>
                        <div style="z-index: 104;" class="endCollapsible"></div>

                    </div><div id="CTRL-DIV-1013" style="z-index: 43;" class="droppedField">
                        <div style="z-index: 46;" class="row-fluid collElement">
                                                
                            <div style="z-index: 49;" class="well droppedFields ui-droppable ui-sortable" id="collapsibleElement">
                                <div style="z-index: 52;" class="droppedField" id="collElementHeader">
                                    <h1 class="ctrl-h" id="collapsibleElementHeader" onclick="alterCollapsibleElementHeader(this)" title="closed">Trail Guide</h1>
                                </div>
                            </div>
                        </div>
                        <div style="z-index: 55;" class="endCollapsible"></div>
                   
                    </div></div>
                    </div>
                </div>

                <div style="z-index: 124;" class="span10">

                    <!--
                Below we have the columns to drop controls
                -- Removed the TABLE based implementations from earlier code
                -- Grid system used for rendering columns
                -- Columns can be simply added by defining a div with droppedFields class
                -->

                    <div style="z-index: 125;" class="span12 ui-sortable" id="selected-content">
                        

                    </div>
                </div>
                
                <div style="z-index: 126;" class="span10">
                    <div style="z-index: 127;" class="row-fluid">
                        <div style="z-index: 128;" data-role="footer" data-theme="f" class="well droppedFields ui-droppable ui-sortable" id="footerDiv">
                            <div style="z-index: 129;" class="droppedField">
                                <h4 id="footerDivH1">MobCloud © 2014</h4>
                            </div>
                        <div id="CTRL-DIV-1004" style="z-index: 107;" class="droppedField">
                        <div style="z-index: 109;" class="row-fluid collElement">
                                                
                            <div style="z-index: 111;" class="well droppedFields ui-droppable ui-sortable">
                                <div style="z-index: 113;" class="droppedField" id="collElementHeader">
                                    <h1 class="ctrl-h" id="collapsibleElementHeader" onclick="alterCollapsibleElementHeader(this)" title="closed">Trail Guide</h1>
                                </div><div id="CTRL-DIV-1005" style="z-index: 105;" class="droppedField">
                        <p class="ctrl-text">{Text}</p>
                    </div>
                            </div>
                        </div>
                        <div style="z-index: 115;" class="endCollapsible"></div>
                   
                    </div><div id="CTRL-DIV-1006" style="z-index: 106;" class="droppedField">
                        <div style="z-index: 108;" class="row-fluid collElement">
                                                
                            <div style="z-index: 110;" class="well droppedFields ui-droppable ui-sortable">
                                <div style="z-index: 112;" class="droppedField" id="collElementHeader">
                                    <h1 class="ctrl-h" id="collapsibleElementHeader" onclick="alterCollapsibleElementHeader(this)" title="closed">Trail Guide</h1>
                                </div>
                            </div>
                        </div>
                        <div style="z-index: 114;" class="endCollapsible"></div>
                   
                    </div></div>
                    </div>
                </div>
                
            