
          
                
              
                
              
                <div style="z-index: 59;" class="span10">
                    <div style="z-index: 60;" class="span10">
                        <div style="z-index: 61;" data-role="header" data-theme="f" data-backbtn="false" class="well droppedFields ui-droppable ui-sortable" id="headerDiv">
                            <div style="z-index: 62;" class="droppedField">
                                <h1 id="divHeaderTitle">Trail Guide</h1>
                            </div>
                        </div>
                    </div>
                    <!--
                Below we have the columns to drop controls
                -- Removed the TABLE based implementations from earlier code
                -- Grid system used for rendering columns
                -- Columns can be simply added by defining a div with droppedFields class
                -->

                    <div style="z-index: 63;" class="span12 ui-sortable" id="selected-content">
                        <div style="z-index: 64;" class="row-fluid">
                            <div style="z-index: 65;" class="span6 well droppedFields ui-droppable ui-sortable"><div id="CTRL-DIV-1001" style="z-index: 38;" class="droppedField">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">

                        <input class="hiddenObligatoire" type="hidden">
                    </div><div id="CTRL-DIV-1002" style="z-index: 37;" class="droppedField">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">

                        <input class="hiddenObligatoire" type="hidden">
                    </div><div id="CTRL-DIV-1003" style="z-index: 36;" class="droppedField">
                        <img src="/Apps/admin/preview/images/sss/Desert.png" class="ctrl-img" alt="Image alt text here..." id="LOCAL">

                        <input value="undefined" class="hiddenObligatoire" type="hidden">
                    </div></div>
                            <div style="z-index: 66;" class="span6 well droppedFields ui-droppable ui-sortable"></div>
                        </div>

                    </div>
                    <div style="z-index: 67;" class="span10">
                        
                    </div>

                </div>
                
              
                
          
                
            