﻿@model MobileApplication.Models.DBContentType

@{
    ViewBag.Title = "Delete";
}
<script src="../../Scripts/jquery-1.10.2.min.js"></script>
<h2>Delete Content Type</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Content Type Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Application Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.Name)
        </dd>

    </dl>
    <h3>@Html.ValidationMessageFor(model => model.name)</h3>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ShowContentTypes", new { applicationId = Model.applicationId }, null)
        </div>
    }
</div>
<script>
    $('.field-validation-error').css("color", "red");
</script>