﻿@model MobileApplication.Models.DBContentType

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Content Type</h2>
<script src="../../Scripts/jquery-1.10.2.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <table>
            @Html.ValidationSummary(true)

            <input type="hidden" id="Id" name="Id" value="@Model.id" />
            <input type="hidden" id="appId" name="appId" value="@Model.applicationId" />
             <tr style="height:50px">
                <td style="width:150px">@Html.Label("Page Style ", htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    
                    <select id="pagestyle">
                        @if(@ViewBag.style=="L")
                        { 
                        <option selected="selected" id="L">Left</option>
                        <option id="R">Right</option>
                        <option id="CL">Center Left</option>
                        <option id="CR">Center Right</option>
                        }
                        else if(@ViewBag.style=="R")
                        {
                        <option  id="L">Left</option>
                        <option selected="selected" id="R">Right</option>
                        <option id="CL">Center Left</option>
                        <option id="CR">Center Right</option>
                        }
                        else if (@ViewBag.style == "CL")
                        {
                            <option id="L">Left</option>
                            <option  id="R">Right</option>
                            <option selected="selected" id="CL" >Center Left</option>
                            <option id="CR">Center Right</option>
                        }
                        else if (@ViewBag.style == "CR")
                        {
                            <option id="L">Left</option>
                            <option selected="selected" id="R">Right</option>
                            <option id="CL">Center Left</option>
                            <option selected="selected" id="CR">Center Right</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" onclick="save();" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Edit Fields", "Index", "DBFields",  new {id = Model.id},null)|
    @Html.ActionLink("Back to List", "ShowContentTypes", new { applicationId = Model.applicationId }, null)
</div>

<script>
    $('.field-validation-error').css("color", "red");



    function save() {
       
        var cid = $('#Id').val();
        var appid = $('#appId').val();
        var styleid = $('#pagestyle').find(':selected').attr('id');
        $.ajax({
            type: "POST",
            url: '/DBContentTypes/EditStyle?appId='+appid+'&ContentTypeId='+cid+'&StyleId='+styleid,
  
            contentType: false,
            processData: false,
            success: function (msg) {
                window.location = '/DashBoard/Index/'+appid;
            },
            error: function (error) {
                alert("Server not response");
            }
        });
    }

</script>
