body, p, ul, li {
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
}
a {
	text-decoration: none;
}
a:active {
	outline:none;	
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.pricing {
	background: #f5f5f5;
	padding-top: 50px;
	padding-bottom: 50px;
}
.ccr-pricing-table {
	margin-bottom: 30px;
}
.ccr-pricing-header {
	position: relative;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background: #fff;
}
.ccr-pricing-header:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 5px 0;
	display: block;
	width: 0;
	z-index: 1;
	bottom: 0px;
	left: 50%;
	margin-left: -5px;
}
p.ccr-price-title {
	background: #78cfbf;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	color: #fff;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
}
.ccr-price-value {
	font-size: 64px;
	color: #fff;
	position: relative;
	text-align: center;
	padding-top:22px;
}
.ccr-price-value sup {
	font-size: 24px;
	position: relative;
	top: -25px;
}
.ccr-price-value span {
	font-size: 12px;
}
.ccr-price-quality { 
	font-size: 12px;
	color: #fff;
	text-align: center;
	position: relative;
	top:-5px;
	padding-bottom: 10px;
}

.ccr-pricing-ul {
	top:0px;
	padding:20px 0 20px 0;
	background: #fff;
}
.ccr-pricing-ul ul {
	display: table;
	margin: 0 auto;
}
.ccr-pricing-ul ul li {
	list-style: none;
	color:#8b8b8b;
	font-size: 12px;
	line-height: 32px;
}
.ccr-pricing-ul ul li i {
	list-style: none;
	color:#c8c8c8;
	font-size: 18px;
	position: relative;
	top: 1px;
	margin-right: 10px;
}
.ccr-pricing-footer {
	position: relative;
}
.ccr-pricing-footer:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 5px 0;
	border-color: #fff transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: 33px;
	left: 50%;
	margin-left: -5px;
}
.ccr-price-host {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
	width: 100%;
	border:none;
}
button.ccr-price-host  {
	color: #fff;
	font-size: 14px;
	line-height: 36px;
	outline: none;
}

.green .ccr-pricing-header:after {
	border-color: #81dac9 transparent;
}
.green p.ccr-price-title{
	background: #78cfbf;
}
.green .ccr-price-value, .green .ccr-price-quality {
	background: #81dac9;
}
.green .ccr-price-host {
	background: #81dac9;
	box-shadow:-1px 2px 0 0 #7cd1c1;
}

.blue .ccr-pricing-header:after {
	border-color: #53cfe9 transparent;
}
.blue p.ccr-price-title{
	background: #3ec6df;
}
.blue .ccr-price-value, .blue .ccr-price-quality {
	background: #53cfe9;
}
.blue .ccr-price-host {
	background: #53cfe9;
	box-shadow:-1px 2px 0 0 #47c7e1;
}


.red .ccr-pricing-header:after {
	border-color: #eb6378 transparent;
}
.red p.ccr-price-title{
	background: #e2536b;
}
.red .ccr-price-value, .red .ccr-price-quality {
	background: #eb6378;
}
.red .ccr-price-host {
	background: #eb6378;
	box-shadow:-1px 2px 0 0 #e05e72;
}

.yellow .ccr-pricing-header:after {
	border-color: #f39c12 transparent;
}
.yellow p.ccr-price-title{
	background: #e67e22;
}
.yellow .ccr-price-value, .yellow .ccr-price-quality {
	background: #f39c12;
}
.yellow .ccr-price-host {
	background: #f39c12;
	box-shadow:-1px 2px 0 0 #e67e22;
}