﻿@using Microsoft.Ajax.Utilities
@using MobileApplication.Models
@{
    ViewBag.Title = "EasyQuery - ad-hoc query builder for web-sites. Demo page.";
    Layout = "";
    var query = ContentView.getView(int.Parse(ViewData["modelName"].ToString())).query;
}

<!--
    <script src="http://cdn.korzh.com/eq/eq.all.min.js" type="text/javascript"></script>
    <script src="http://cdn.korzh.com/eq/eq.view.js" type="text/javascript"></script>

    <link href="http://cdn.korzh.com/eq/themes/default/easyquery.css" rel="stylesheet" type="text/css" media="screen" />
    -->
<link href="~/Content/Site1.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src='@Url.Content("~/Scripts/eq.all.min.js")' type="text/javascript"></script>

<script src='@Url.Content("~/Scripts/eq.view.js")' type="text/javascript"></script>

<link href='@Url.Content("~/Content/easyquery.css")' rel="stylesheet" type="text/css" media="screen" />

<link href='@Url.Content("~/Content/eqview.css")' rel="stylesheet" type="text/css" />


<script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(GoogleVisualizationLoaded);

    function GoogleVisualizationLoaded() {
        //alert("Visualization loaded!!!");
    }

    window.easyQuerySettings = {
        serviceUrl: @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true))+ "EasyQuery",
        modelName: '@ViewData["modelName"]',
        entitiesPanel: { showCheckboxes: true },
        columnsPanel: { allowAggrColumns: true, attrElementFormat: "{entity} {attr}", showColumnCaptions: true, adjustEntitiesMenuHeight: false },
        queryPanel: { alwaysShowButtonsInPredicates: false, adjustEntitiesMenuHeight: false },

        listRequesHandler: function (params, onResult) {
            var processed = true;
            if (params.listName == "RegionList") {
                var query = EQ.client.getQuery();
                var country = EQ.core.getOneValueForAttr(query, "Customer.Country");
                if (country == "Canada") {
                    onResult([
                        { id: "BC", text: "British Columbia" },
                        { id: "Quebec", text: "Quebec" }
                    ]);

                }
                else {
                    onResult([
                        { id: "CA", text: "California" },
                        { id: "CO", text: "Colorado" },
                        { id: "OR", text: "Oregon" },
                        { id: "WA", text: "Washington" }
                    ]);
                }
            }
            else
                processed = false;

            return processed;

        }

    };

    function getPrefix() {
        var res = window.location.pathname;
        if (res.charAt(res.length - 1) !== '/')
            res = res + '/';
        return res;
    }

</script>


<div id="main">
    <div class="header">
        <div class="title">EasyQuery</div>
        <div class="sub-title">User-friendly ad-hoc query builder for your web-site</div>
    </div>
    <div id="content">
        <div class="header-panel">
            <div class="entities-block">
                <hr class="entities-hr hr" />
                <div class="entities-title">Entities</div>
                <div id="EntitiesPanel" onselectstart="return false"></div>
            </div>

            <div class="central-block">
                <div class="columns-block">
                    <hr class="columns-hr hr" />
                    <div class="columns-title">Columns</div>
                    <div id="ColumnsPanel" class="columns-panel"></div>
                </div>
                <div class="conditions-block">
                    <hr class="conditions-hr hr" />
                    <div class="conditions-title">Conditions</div>
                    <div id="QueryPanel" class="query-panel"></div>
                </div>
            </div>

            <div class="menu-block">
                <hr class="menu-hr hr" />
                <div class="menu-title">Menu</div>
                <div class="menu-content">
                    <div id="ClearQueryButton" class="eqv-button clear-button">Clear query</div>
                    <div id="LoadQueryButton" class="eqv-button load-query-button">Load query</div>
                    <div id="SaveQueryButton" class="eqv-button save-query-button">Save query</div>
                    <div id="ExecuteQueryButton" class="eqv-button execute-button">Execute</div>
                </div>
            </div>
        </div>

        <div class="bottom-panel">
            <div class="sql-panel">
                <hr class="sql-panel-hr hr" />
                <div class="sql-panel-title">SQL</div>
                <div id="SqlPanel" class="sql-block">
                    <div class="sql-panel-result"></div>
                </div>
            </div>
            <div class="result-panel">
                <hr class="result-panel-hr hr" />
                <div class="result-panel-title">
                    Result
                    <span id="ResultExportButtons">
                        <a href="@Url.Action("ExportToFileExcel","EasyQuery")">Export to Excel</a>
                        <a href="@Url.Action("ExportToFileCsv","EasyQuery")">Export to CSV</a>
                    </span>
                </div>
                <div id="ResultPanel" class="result-panel-content">
                </div>
                <div class="result-panel-content-padding">
                </div>
            </div>

        </div>
    </div>
    <div id="footer">
        <div class="copyright">
            © Copyright 2006-2014. <a href="http://devtools.korzh.com/" target="_blank">Korzh.com</a>
        </div>
        <div class="power-by">
            Powered by <a href="http://devtools.korzh.com/easyquery/" target="_blank">EasyQuery</a>
            |
            <a href="http://demo.easyquerybuilder.com" target="_blank">Live demos</a>

        </div>
    </div>
</div>
<div id="dialog_confirm" >
    <p>Load previous saved query?</p>
    <div id="LoadQueryButton1" class="eqv-button load-query-button">Load query</div>
</div>
<script src="@Url.Content("~/Scripts/eq.all.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/eq.view.js")" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#dialog_confirm").dialog({
            dialogClass: 'ui-dialog-green',
            autoOpen: true,
            resizable: false,
            height: 210,
            modal: true,
            title:"Load Query",
            buttons: [
              {
                  'class': 'btn red',
                  "text": "Close",
                  click: function () {
                      $(this).dialog("close");
                  }
              }
            ]
        });

    });
</script>