﻿@using System.ServiceModel.Configuration
@using Korzh.EasyQuery.Mvc
@using MobileApplication.GeneratorClasses
@using JsObj = Korzh.EasyQuery.Services.JsObj
@model Dictionary<string, object>
@{
    var model = Model;

    object rows;
    Model.TryGetValue("resultSet", out rows);
 object xx;
    ((Dictionary<string, object>) rows).TryGetValue("rows", out xx);

    List<Korzh.EasyQuery.Services.JsObj> items = (List<Korzh.EasyQuery.Services.JsObj>)xx;
        Layout = "";
    MobileApplication.Models.GridView view = ( MobileApplication.Models.GridView) TempData["view"];
   
}
@for (int i = 0, j = 0; i < items.Count(); i++, j++)
{
  
        if (j==0)
        {
            @:<div class="@JMPageSection.getRowClass(view.columnsNumber) ui-responsive" >
        }

        <div class="@JMPageSection.getColumnClass(j+1)" style="padding-right: 20px;">
            @{
                @:<ul data-role="listview" style="list-style:@view.listStyle; border: @view.itemsBorder">
        var d = items[i];
        object culomns;
        d.TryGetValue("c", out culomns);
        foreach (var column in (List<JsObj>)culomns)
        {
            object value;
            column.TryGetValue("v", out value);
            <li style=" word-wrap:break-word; padding: 0px 10px 0px 10px; width: @view.itemsWidth ;">@value</li>
        }
        @:</ul>
            }
        </div>
    if (j > 2)
    {
        @:</div>
    j = -1;
}
}
