﻿@model int

@{
    ViewBag.Title = "Manage Display";
}
	<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css")' />
<link href='@Url.Content("~/Content/assets/plugins/bootstrap-modal/css/bootstrap-modal.css")' rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<div class="portlet box green ">
    <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Manage Display</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="#portlet-config" data-toggle="modal" class="config"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="alert alert-success hidden" id="result">
            <button class="close" data-dismiss="alert"></button>
            <strong>Success!</strong> Changes saved successfully.
        </div>
        <!-- BEGIN FORM-->
        @Html.Hidden("pageId", new { Value = @Model },new {id="pageId"})
        <h3 class="form-section">Display Type</h3>
        @Html.ValidationSummary(true)
        <div class="row-fluid">
            <div class="span6 ">
                <div class="control-group">
                
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="viewType" value="1" class="viewType" />Grid View
                        </label>
                        <a class="btn blue" data-toggle="modal" href="#responsive">Setting</a>
                    </div>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="viewType" value="2" class="viewType" />Table View
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="responsive" class="modal hide fade" tabindex="-1" data-width="760">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3>Responsive & Scrollable</h3>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="alert alert-error hidden" id="colNoError">
                                <button class="close" data-dismiss="alert"></button>
                                <strong>Error!</strong> Columns Number must be less than 5.
                            </div>
                            <h4>Columns Number</h4>
                            <p><input type="number" max="4" min="1" required  class="span12 m-wrap" id="colNo"></p>
                            <h4>Items Border Color</h4>
                            <p>
                                <select id="borderColor">
                                    <option value="black" selected>black</option>
                                    <option value="red" >red</option>
                                </select>
                            </p>
                            <h4>Items Border Thickness</h4>
                            <p>
                                <select id="borderThickness">
                                    <option value="thin" selected>thin</option>
                                    <option value="thick">thick</option>
                                    <option value="medium">medium</option>
                                </select>
                            </p>
                        </div>
                        <div class="span6">
                            <h4>List Style</h4>
                            <p><select id="listStyle" >
                                   <option value="none" selected>none</option>
                                   <option value="circle" >circle</option>
                                   <option value="armenian" >armenian</option>
                               </select></p>
                            <h4>Items Border Type</h4>
                            <p>
                                <select id="borderType">
                                    <option value="solid" selected>solid</option>
                                    <option value="dashed" >dashed</option>
                                    <option value="dot-dash" >dot-dash</option>
                                </select>
                            </p>
                            <div class="alert alert-error hidden" id="itemsWidthError">
                                <button class="close" data-dismiss="alert"></button>
                                <strong>Error!</strong> Items Width must be less than 1001 and greater than 100.
                            </div>
                            <h4>Items Width</h4>
                            <p><input type="number" max="1000" min="100" required class="span12 m-wrap" id="itemsWidth"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Close</button>
                <button type="button" class="btn blue" onclick="validateGrid()">Save changes</button>
            </div>
        </div>
        <div class="space40"></div>


        <div class="form-actions">
            <button type="submit" class="btn blue" onclick="save()"><i class="icon-ok"></i> Save</button>
            <button type="button" class="btn">Cancel</button>
        </div>
        
        <!-- END FORM-->
    </div>
</div>
  
<!-- BEGIN CORE PLUGINS -->
@Scripts.Render("~/Content/assets/plugins/jquery-1.10.1.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery-migrate-1.2.1.min.js")
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
@Scripts.Render("~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap/js/bootstrap.min.js")
@Scripts.Render("~/Content/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js")
<!--[if lt IE 9]>
<script src='@Url.Content("~/Content/assets/plugins/excanvas.min.js")'></script>
<script src='@Url.Content("~/Content/assets/plugins/respond.min.js")'></script>
<![endif]-->
@Scripts.Render("~/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.blockui.min.js")
@Scripts.Render("~/Content/assets/plugins/jquery.cookie.min.js")
@Scripts.Render("~/Content/assets/plugins/uniform/jquery.uniform.min.js")
<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src='@Url.Content("~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modal.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Content/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js")' type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src='@Url.Content("~/Content/assets/scripts/app.js")'></script>
<script src='@Url.Content("~/Content/assets/scripts/ui-modals.js")'></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    var gridFlag = 1;
    jQuery(document).ready(function () {
        App.init();
        UIModals.init();
    });
    function save() {
        if ($('.viewType').val() == 1) {
            if (gridFlag == 3) {
                $.ajax({
                    data: { type: "grid", borderColor: $('#borderColor').val(), borderType: $('#borderType').val(), borderThickness: $('#borderThickness').val(), itemsWidth: $('#itemsWidth').val(), colNo: $('#colNo').val(), pageId: $('#pageId').val(), listStyle: $('#listStyle').val() },
                    url:"/Views/setDataView",
                    type: "POST",
                    dataType:"json",
                    success:function(res) {
                        if (res.id == 1) {
                            $('#result').removeClass('hidden');
                        }
                    }
                });
            }
        }
      
    }
    function validateGrid() {
        if ($('#colNo').val() > 4 || $('#colNo').val() < 1){
            $('#colNoError').removeClass('hidden');
            gridFlag = 2;
        }
        if ($('#itemsWidth').val() > 1000 || $('#itemsWidth').val() < 100) {
            $('#itemsWidthError').removeClass('hidden');
            gridFlag = 2;
        }
        if (gridFlag == 1)
            gridFlag = 3;
    }
</script>

