﻿@model System.Collections.Generic.Dictionary<string,object>

@{
 
    Layout = "";
}
@*<link rel="stylesheet" href='@Url.Content("~/Content/jqGrid/css/themes/default/jquery.mobile.css")' />
<link rel="stylesheet" href='@Url.Content("~/Content/jqGrid/css/themes/ui.jqgridmobile.css")' />
<link rel="stylesheet" href='@Url.Content("~/Content/jqGrid/css/themes/shCoreEclipse.css")' />
<link rel="stylesheet" href='@Url.Content("~/Content/jqGrid/css/themes/shThemeEclipse.css")' />
<script src='@Url.Content("~/Content/jqGrid/js/jquery.js")'></script>
<script language="javascript" src='@Url.Content("~/Content/jqGrid/js/jquerymobile.jqGrid.min.js")' id="s1"></script>
<script language="javascript" src='@Url.Content("~/Content/jqGrid/js/grid.locale-en.js")'></script>
<script src='@Url.Content("~/Content/jqGrid/js/jquery.mobile.js")'></script>
 bellow scripts are not needed in your code. This is a syntax highliher 
<script type="text/javascript" src="http://xregexp.com/xregexp.js"></script>
<script language="javascript" src='@Url.Content("~/Content/jqGrid/js/shCore.js")'></script>
<script language="javascript" src='@Url.Content("~/Content/jqGrid/js/shLegacy.js")'></script>
<script language="javascript" src='@Url.Content("~/Content/jqGrid/js/shBrushJScript.js")'></script>*@

    <table id='grid'></table>
    <div id='pager'></div>

<script type='text/javascript' id="kk">
    var data = [[48803, "DSK1", "", "02200220", "OPEN"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"], [48769, "APPR", "", "77733337", "ENTERED"]];
    jQuery('#grid').jqGrid({
        "hoverrows": false,
        "viewrecords": true,
        "jsonReader": { "repeatitems": false, "subgrid": { "repeatitems": false } },
        "gridview": true,
        "loadonce": true,
        "colNames": ['Inv No', 'Thingy', 'Blank', 'Number', 'Status'],
        "scrollPaging": true,
        "autowidth": true,
        "iScroll": { "hideScrollbar": true },
        "rowNum": 20,
        "rowList": [20, 40, 60],
        "sortname": "OrderID",
        "height": 200,
        "datatype": "local",
        "colModel": [{
                name: 'id',
                index: 'id',
                width: 60,
                sorttype: "int"
            },
            {
                name: 'thingy',
                index: 'thingy',
                width: 90,
                sorttype: "date"
            },
            {
                name: 'blank',
                index: 'blank',
                width: 30
            },
            {
                name: 'number',
                index: 'number',
                width: 80,
                sorttype: "float"
            },
            {
                name: 'status',
                index: 'status',
                width: 80,
                sorttype: "float"
            }
        ],
        "loadError": function (xhr, status, err) {
            try {
                jQuery.jgrid.info_dialog(jQuery.jgrid.errors.errcap, '<div class="ui-state-error">' + xhr.responseText + '</div>', jQuery.jgrid.edit.bClose,
                { buttonalign: 'right' });
            } catch (e) {
                alert(xhr.responseText);
            }
        },
        "pager": "#pager"
    });
    var names = ["id", "thingy", "blank", "number", "status"];
    var mydata = [];

    for (var i = 0; i < data.length; i++) {
        mydata[i] = {};
        for (var j = 0; j < data[i].length; j++) {
            mydata[i][names[j]] = data[i][j];
        }
    }

    for (var i = 0; i <= mydata.length; i++) {
        $("#grid").jqGrid('addRowData', i + 1, mydata[i]);
    }
    setTimeout(function () {
            SyntaxHighlighter.highlight({ useScriptTags: false }, '');
        },
        100);
</script>