﻿
@model MobileApplication.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    ViewBag.ReturnUrl = "/User/";
}

<!-- BEGIN LOGIN FORM -->
<!-- END LOGIN FORM -->
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical login-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3 class="form-title">Login to your account</h3>
                <div class="alert alert-error hide">
                    <button class="close" data-dismiss="alert"></button>
                    <span>Enter any username and password.</span>
                </div>



                @Html.ValidationSummary(true)
                <div class="control-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label visible-ie8 visible-ie9" })
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-user"></i>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "m-wrap placeholder-no-fix", @autocomplete = "off", @name = "username", @placeholder = "Username" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label visible-ie8 visible-ie9" })
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-lock"></i>
                            @Html.PasswordFor(m => m.Password, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Password", @name = "password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                        <label class="checkbox">
                            <input type="checkbox" name="remember" value="1" /> Remember me
                        </label>


                    <button type="submit" class="btn blue pull-right">
                        Login <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                    </div>

                <div class="forget-password">
                    <h4>Forgot your password ?</h4>
                    <p>
                        no worries, click <a href="javascript:;" id="forget-password">here</a>
                        to reset your password.
                    </p>
                </div>
                <div class="confirm-email">
                    <h4>Email Confirmation</h4>
                    <p>
                        click <a href="javascript:;" id="confirm-email">here</a>
                        to activate your account.
                    </p>
                </div>
                <div class="create-account">
                    <p>
                        Don't have an account yet ?&nbsp;
                        <a href="javascript:;" id="register-btn">Create an account</a>
                    </p>
                </div>

            }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}