﻿@model IEnumerable<MobileApplication.Models.InstagramPage>

@{
    ViewBag.Title = "Instagram pages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box light-grey">
    <div class="portlet-title">
        <div class="caption"><i class="icon-globe"></i>Instagram Pages</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="#portlet-config" data-toggle="modal" class="config"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="btn-group">
                <button id="sample_editable_1_new" class="btn green" onclick="window.location='/Instagram/Add/'+@ViewBag.appId">
                    Add New <i class="icon-plus"></i>
                </button>
            </div>

        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>User Id</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var InstaPage in Model)
                {
                    <tr class="odd gradeX">
                        <td>@InstaPage.title</td>
                        <td>@InstaPage.user_id</td>
                        <td>@Html.ActionLink("Delete", "Delete/" + @InstaPage.id)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
