﻿@{
    ViewBag.Title = "Insta AcessToken";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet-body form">
    <!-- BEGIN FORM-->
    @using (Html.BeginForm("setAcessToken", "Instagram", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <div class="row-fluid">
            <div class="span6 ">
                <div class="control-group">

                    <div class="controls">
                        Acess Token  <input type="text" name="acesstoken" required="required" />
                    </div>
                </div>
            </div>
            <!--/span-->

        </div>
            <!--/row-->

        <div class="form-actions">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
            <button type="button" class="btn">Cancel</button>
        </div>
    }
    <!-- END FORM-->
</div>

