

<head>
 <title>List News</title>
 <meta name="viewport" content="initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="styles/jquery.mobile.theme-1.4.3.min.css" />
<link rel="stylesheet" href="styles/jquery.mobile-1.3.1.css" />
<link rel="stylesheet" href="styles/custom.css" />
<link rel="stylesheet" href="styles/menu.css" />
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/jquery.mobile-1.3.1.min.js"></script>
<script src="scripts/app.js"></script><script src="phonegap.js"></script></head>
<div data-role="page" >  <div data-role="header">
          <h1>    Mail List</h1>
             <div data-role="navbar" > <ul><li><a href="#" onclick="window.location='index.html'">testmenu3</a></li><li><a href="#" onclick="window.location='QRReader.html'">QR</a></li><li><a href="#" onclick="window.location='Map.html'">Map</a></li><li><a href="#" onclick="window.location='Mail_List.html'">Email</a></li><li><a href="#" onclick="window.location='News_ct.html'">News</a></li></ul></div>
             </div>
<body onload="init();">
  </body>
<div data-role="content">

 	
<ul data-role="listview" data-theme="g">
	<li>      <input type="text" id="mc" name="mc" placeholder="name" style="width: 200px;" />
</li>
	<li> <input type="text" id="mc1" name="mc1" placeholder="mail" style="width: 200px;" />
</li>
	<li><input type="submit" onclick="addItem();" value="Add MC Item"/>
</li>
</ul>

        
	  <ul id="mcItems" data-role="listview" data-theme="g">
    </ul>

</div><div data-role="footer">
<h4>MobClouD 2014</h4></div>
  
        <script type="text/javascript" src="cordova.js"></script>


        <script type="text/javascript" src="js/index.js"></script>
      <script>
      var mobcloudstore = {};
      mobcloudstore.webdb = {};
      mobcloudstore.webdb.db = null;
      
      mobcloudstore.webdb.open = function() {
        var dbSize = 1 * 1024 * 1024;
        mobcloudstore.webdb.db = openDatabase("Mail", "1.0", "Mail manager", dbSize);
      }
      
      mobcloudstore.webdb.createTable = function() {
        var db = mobcloudstore.webdb.db;
        db.transaction(function(tx) {
          tx.executeSql("CREATE TABLE IF NOT EXISTS items(ID INTEGER PRIMARY KEY ASC, mail TEXT,name TEXT)", []);
        });
      }
      
      mobcloudstore.webdb.addItem = function(mcText,mctext1) {
        var db = mobcloudstore.webdb.db;
        db.transaction(function(tx){
          var addedOn = new Date();
          tx.executeSql("INSERT INTO items(name,mail) VALUES (?,?)",
              [mcText,mctext1],
              mobcloudstore.webdb.onSuccess,
              mobcloudstore.webdb.onError);
         });
      }
      
      mobcloudstore.webdb.onError = function(tx, e) {
        alert("There has been an error: " + e.message);
      }
      
      mobcloudstore.webdb.onSuccess = function(tx, r) {
        // re-render the data.
        mobcloudstore.webdb.getAllItems(loadItemsHTML);
      }
      
      
      mobcloudstore.webdb.getAllItems = function(renderFunc) {
        var db = mobcloudstore.webdb.db;
        db.transaction(function(tx) {
          tx.executeSql("SELECT * FROM items", [], renderFunc,
              mobcloudstore.webdb.onError);
        });
      }
      
      mobcloudstore.webdb.deleteMC = function(id) {
        var db = mobcloudstore.webdb.db;
        db.transaction(function(tx){
          tx.executeSql("DELETE FROM items WHERE ID=?", [id],
              mobcloudstore.webdb.onSuccess,
              mobcloudstore.webdb.onError);
          });
      }
      function  clearCart() {
          var db = mobcloudstore.webdb.db;
        db.transaction(function(tx){
          tx.executeSql("DELETE FROM items ", [],
              mobcloudstore.webdb.onSuccess,
              mobcloudstore.webdb.onError);
          });
      }
      function loadItemsHTML(tx, rs) {
        var rowOutput = "";
        var mcItems = document.getElementById("mcItems");
        for (var i=0; i < rs.rows.length; i++) {
          rowOutput += renderMC(rs.rows.item(i));
        }
      
        mcItems.innerHTML = rowOutput;
      }
      
      
      function renderMC(row) {
        return "<li>" + row.name +"        "+row.mail + " [<a href='javascript:void(0);'  onclick='mobcloudstore.webdb.deleteMC(" + row.ID +");'>Delete</a>][<a href='javascript:void(0);'  onclick='email(\"" + row.mail +"\");'>Send e-mail</a>]</li>";
      }
      
      function init() {
        mobcloudstore.webdb.open();
        mobcloudstore.webdb.createTable();
        mobcloudstore.webdb.getAllItems(loadItemsHTML);
      
      }
      var to="";
      function addItem() {
        var mc = document.getElementById("mc");
		        var mc1 = document.getElementById("mc1");

        mobcloudstore.webdb.addItem(mc.value,mc1.value);
        mc.value = "";
      }
	   function email(to) {
	   alert('email');
       window.plugin.email.open({
    to:      [to],
    cc:      [],
    bcc:     [],
    subject: '',
    body:    ''
});
alert('done');
      }



    </script>
</div>
</html>


