
          
                
              
                
              
                <div style="z-index: 47;" class="span10">
                    <div style="z-index: 48;" class="span10">
                        <div style="z-index: 49;" data-role="header" data-theme="f" data-backbtn="false" class="well droppedFields ui-droppable ui-sortable" id="headerDiv">
                            <div style="z-index: 50;" class="droppedField">
                                <h1 id="divHeaderTitle">Trail Guide</h1>
                            </div>
                        </div>
                    </div>
                    <!--
                Below we have the columns to drop controls
                -- Removed the TABLE based implementations from earlier code
                -- Grid system used for rendering columns
                -- Columns can be simply added by defining a div with droppedFields class
                -->

                    <div style="z-index: 51;" class="span12 ui-sortable" id="selected-content">
                        <div style="z-index: 52;" class="row-fluid">
                            <div style="z-index: 53;" class="span6 well droppedFields ui-droppable ui-sortable"><div id="CTRL-DIV-1001" style="z-index: 26;" class="droppedField">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">

                        <input class="hiddenObligatoire" type="hidden">
                    </div><div id="CTRL-DIV-1002" style="z-index: 31;" class="droppedField">
                        <p class="ctrl-text">dasdsdsad</p>
                    </div></div>
                            <div style="z-index: 54;" class="span6 well droppedFields ui-droppable ui-sortable"></div>
                        </div>

                    </div>
                    <div style="z-index: 55;" class="span10">
                        <div style="z-index: 56;" data-role="footer" data-theme="f" class="well droppedFields ui-droppable ui-sortable" id="footerDiv">
                            <div style="z-index: 57;" class="droppedField">
                                <h4 id="footerDivH1">MobCloud © 2014</h4>
                            </div>
                        </div>
                    </div>
                </div>
            