﻿@{
    ViewBag.Title = "Application Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet-body form">
    <!-- BEGIN FORM-->
    @using (Html.BeginForm("setAppDetails", "Twitter", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        <div class="row-fluid">
            <div class="span6 ">
                <div class="control-group">

                    <div style="margin-left: 10px;" class="controls">
                        oauth token  <input type="text" name="oauth_token" required="required" /><br /><br />
                        oauth token secret <input type="text" name="oauth_token_secret" required="required" /><br /><br />
                        oauth consumer key <input type="text" name="oauth_consumer_key" required="required" /><br /><br />
                        oauth consumer secret <input type="text" name="oauth_consumer_secret" required="required" />
                    </div>
                </div>
            </div>
            <!--/span-->

        </div>
            <!--/row-->

        <div class="form-actions">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
            <button type="button" class="btn">Cancel</button>
        </div>
    }
    <!-- END FORM-->
</div>

