<head>
 <title>List sss</title>
 <meta name="viewport" content="initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="styles/jquery.mobile.theme-1.4.3.min.css" />
<link rel="stylesheet" href="styles/jquery.mobile-1.3.1.css" />
<link rel="stylesheet" href="styles/custom.css" />
<link rel="stylesheet" href="styles/menu.css" />
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/jquery.mobile-1.3.1.min.js"></script>
<script src="scripts/app.js"></script><script src="phonegap.js"></script></head>
<div id="menu" style="display: none;"> <ul><li><a href="#" onclick="window.location='sss_ct.html'">sss</a></li><li><a href="#" onclick="window.location='kaksnj_ct.html'">kaksnj</a></li></ul></div><div data-role="page" id="page0"><div data-role="header"><h1>List sss</h1><a href="#"class="showMenu">Menu</a></div><div data-role="content"><div id="list"></div></div><div data-role="footer"><h4>MobClouD 2014</h4></div><script  type="text/javascript"> 
$.getJSON("http://localhost:1051/Service/index/54", function(data){
 for(var i=0;i<data.records.length;i++){
 $("#list").append("<ul id=\"ul"+i+"\" data-role=\"listview\" ></ul>");
 $('#ul'+i).append("<li data-role=\"list-divider\">"+data.records[i].Title +"</li>");
 $('#ul'+i).append("<li>"+data.records[i].name +"</li>");
$('#ul'+i).listview().listview('refresh'); 
} 
 });</script></div>