﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}



@Styles.Render("~/Content/assets/bootstrap/css/bootstrap.min.css")
@Styles.Render("~/Content/assets/css/metro.css")
@Styles.Render("~/Content/assets/bootstrap/css/bootstrap-responsive.min.css")
@Styles.Render("~/Content/assets/font-awesome/css/font-awesome.css")
@Styles.Render("~/Content/assets/css/style2.css")
@Styles.Render("~/Content/assets/data-tables/DT_bootstrap.css")
@Styles.Render("~/Content/assets/chosen-bootstrap/chosen/chosen.css")
@Styles.Render("~/Content/assets/uniform/css/uniform.default.css")
@Styles.Render("~/Content/assets/fancybox/source/jquery.fancybox.css")
@Styles.Render("~/Content/assets/css/style_default.css")
@Styles.Render("~/Content/assets/css/style_responsive.css")

@Styles.Render("~/Content/assets/uniform/css/uniform.default.css")

<div class="row-fluid">
    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="icon-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                 Config
                </div>
                <div class="desc">
                    Icon & screen
                </div>
            </div>
            <a class="more" href="/application/Config/@ViewBag.appId">
                Set Configuration <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
        <div class="dashboard-stat yellow">
            <div class="visual">
                <i class="icon-bar-chart"></i>
            </div>
            <div class="details">
                <div class="number">Menu</div>
                <div class="desc"></div>
            </div>
            <a class="more" href="/Menu/Index/@ViewBag.appId">
                Manage<i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="span3 responsive" data-tablet="span6  fix-offset" data-desktop="span3">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="icon-globe"></i>
            </div>
            <div class="details">
                <div class="number">Preview</div>
                <div class="desc"></div>
            </div>
            <a class="more" href="/Application/Preview/@ViewBag.appId">
                Preview your App <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="icon-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">Build</div>
                <div class="desc"></div>
            </div>
            <a class="more" href="/Application/Build/@ViewBag.appId">
                Build Your App <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div style="width: 50%; margin-bottom: 25px;" class="span3 responsive" data-tablet="span6" data-desktop="span3">
        <a onclick="addPlugin(1)" class="btn blue"><i class="icon-pencil"></i> Add QRReader</a>
        <a onclick="addPlugin(2)" class="btn blue"><i class="icon-pencil"></i> Add Map</a>
        <a onclick="addPlugin(3)" class="btn blue"><i class="icon-pencil"></i> Add Email list</a>
      
     </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>

                    <a href="javascript:;" class="remove"></a>
                </div>

                <div class="actions">
                    <a class="btn blue" onclick="window.location='/Pages/Create/?appId='+'@ViewBag.appId'"><i class="icon-pencil"></i> Add</a>
                    <div class="btn-group">
                        <a class="btn green" href="#" data-toggle="dropdown">
                            <i class="icon-cogs"></i> Tools
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                            <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                            <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="i"></i> Make admin</a></li>
                        </ul>
                    </div>
                </div>
                <h4><i class="icon-comments"></i>Pages</h4>
            </div>
            <div class="portlet-body">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ViewBag.pageList)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.name</td>
                                <td>@item.title</td>
                                <td><a href="~/Pages/Edit/@item.Id" class="btn mini purple-stripe"><i class="icon-edit"></i> Edit</a></td>
                                <td><a href="#" class="btn mini black"><i class="icon-trash"></i> Delete</a></td>

                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE@Html.ActionLink("Design Content", "Design/" + ) PORTLET-->
    </div>


    <div class="span6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="actions">
                    <div class="btn-group">
                         <a class="btn green" href="#" data-toggle="dropdown">
                            <i class="icon-cogs"></i> Tools
                            <i class="icon-angle-down"></i>
                          </a>
                          <ul class="dropdown-menu pull-right">
                            <li><a href="#styleEcomm" data-toggle="modal"  class="btn blue"><i class="icon-pencil"></i> Add Ecomm</a></li>
                            <li><a href="#styleNews" data-toggle="modal" class="btn blue"><i class="icon-pencil"></i> Add News</a></li>
                            <li><a onclick="window.location='/DBContentTypes/add_events/'+'@ViewBag.appId'" class="btn blue"><i class="icon-pencil"></i> Add events</a></li>

                          </ul>
                        </div>
                        <a onclick="window.location='/DBContentTypes/Index/'+'@ViewBag.appId'" class="btn blue"><i class="icon-pencil"></i> Add</a>
                        <a onclick="window.location='/DBOperations/Index/'+'@ViewBag.appId'" class="btn blue"><i class="icon-pencil"></i> Manage</a>
                    </div>
                <h4><i class="icon-comments"></i>Content Type</h4>
             
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="10%">#</th>
                            <th width="30%">Name</th>
                            <th width="30%"></th>
                            <th width="30%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{i = 1;}
                        @foreach (var item in ViewBag.contentTypeList)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.name</td>
                                <td><a href="~/DBContentTypes/Edit/@item.id" class="btn mini blue-stripe"><i class="icon-edit"></i> Edit</a></td>
                                <td><a href="~/DBContentTypes/DeleteConfirmed/@item.id" class="btn mini black"><i class="icon-trash"></i> Delete</a></td>

                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE@Html.ActionLink("Design Content", "Design/" + ) PORTLET-->
    </div>
</div>   
<div class="row-fluid">
    <div class="span6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="actions">
                    <a onclick="window.location='/YouTube/Add/'+'@ViewBag.appId'" class="btn red"><i class="icon-pencil"></i> Add</a>
                </div>
                <h4><i class="icon-comments"></i>YouTube Pages</h4>

            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Channel ID</th>
                            <th>Control</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{i = 1;}
                        @foreach (var youTubeitem in ViewBag.youTubeList)
                        {

                            <tr>
                                <td>@i</td>
                                <td>@youTubeitem.title</td>
                                <td>@youTubeitem.channel_id</td>
                                <td><a href="/YouTube/Delete/@youTubeitem.id" class="btn mini black"><i class="icon-trash"></i> Delete</a></td>
                            </tr>

                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE@Html.ActionLink("Design Content", "Design/" + ) PORTLET-->
    </div>
    <div class="span6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="actions">
                    <a onclick="window.location='/Facebook/Add/'+'@ViewBag.appId'" class="btn red"><i class="icon-pencil"></i> Add</a>
                </div>
                <h4><i class="icon-comments"></i>Facebook Pages</h4>

            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Page ID</th>
                            <th>Control</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{i = 1;}
                        @foreach (var faceitem in ViewBag.facebookList)
                        {

                            <tr>
                                <td>@i</td>
                                <td>@faceitem.title</td>
                                <td>@faceitem.facebook_page_id</td>
                                <td><a href="/Facebook/Delete/@faceitem.id" class="btn mini black"><i class="icon-trash"></i> Delete</a></td>
                            </tr>

                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE@Html.ActionLink("Design Content", "Design/" + ) PORTLET-->
    </div>
</div>

<div class="row-fluid">

    <div class="span6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="actions">
                    <a onclick="window.location='/Instagram/Add/'+'@ViewBag.appId'" class="btn red"><i class="icon-pencil"></i> Add</a>
                </div>
                <h4><i class="icon-comments"></i>Instagram Pages</h4>

            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>User ID</th>
                            <th>Control</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{i = 1;}
                        @foreach (var InstaItem in ViewBag.InstaList)
                        {

                            <tr>
                                <td>@i</td>
                                <td>@InstaItem.title</td>
                                <td>@InstaItem.user_id</td>
                                <td><a href="/Instagram/Delete/@InstaItem.id" class="btn mini black"><i class="icon-trash"></i> Delete</a></td>
                            </tr>

                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE@Html.ActionLink("Design Content", "Design/" + ) PORTLET-->
    </div>
    <div class="span6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="actions">
                    <a onclick="window.location='/Twitter/Add/'+'@ViewBag.appId'" class="btn red"><i class="icon-pencil"></i> Add</a>
                </div>
                <h4><i class="icon-comments"></i>Twitter Pages</h4>

            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Twitter name</th>
                            <th>Control</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{i = 1;}
                        @foreach (var twitterItem in ViewBag.TwitterList)
                        {

                            <tr>
                                <td>@i</td>
                                <td>@twitterItem.title</td>
                                <td>@twitterItem.twitterName</td>
                                <td><a href="/Twitter/Delete/@twitterItem.id" class="btn mini black"><i class="icon-trash"></i> Delete</a></td>
                            </tr>

                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE@Html.ActionLink("Design Content", "Design/" + ) PORTLET-->
    </div>
  
</div>
<div class="row-fluid">
    <div class="span6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <h4><i class="icon-comments"></i>Themes</h4>
                @*<div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>*@
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Preview</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{i = 1;}
                        @foreach (var item in ViewBag.themeList)
                        {
                            if (@item.Id == ViewBag.theme)
                            {
                                <tr id="th-@item.Id" class="active">
                                    <td>@i</td>
                                    <td>@item.name</td>
                                    <td>@item.description</td>
                                    <td><a class="btn mini blue-stripe config" href="#@item.name" data-toggle="modal">Preview</a> </td>
                                    <td><a class="btn mini blue-stripe " onclick="updateTheme(@item.Id)"> Set</a></td>
                                </tr>
                            }
                            else
                            {
                                <tr id="th-@item.Id">
                                    <td>@i</td>
                                    <td>@item.name</td>
                                    <td>@item.description</td>
                                    <td><a class="btn mini blue-stripe config" href="#@item.name" data-toggle="modal">Preview</a> </td>
                                    <td><a class="btn mini blue-stripe " onclick="updateTheme(@item.Id)"> Set</a></td>
                                </tr>
                            }
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE@Html.ActionLink("Design Content", "Design/" + ) PORTLET-->
    </div>



</div>
    <!-- BEGIN CONDENSED TABLE PORTLET-->
    <!-- END CONDENSED TABLE PORTLET-->
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <div id="Aloe" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
            <iframe src="~/themes/aloe/index.html" width="360" height="640"></iframe>
        </div>
    </div>
    <div id="Candy" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
            <iframe src="~/themes/candy/index.html" width="360" height="640"></iframe>
        </div>
    </div>
    <div id="Melon" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
            <iframe src="~/themes/melon/index.html" width="360" height="640"></iframe>
        </div>
    </div>
    <div id="Mint" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
            <iframe src="~/themes/mint/index.html" width="360" height="640"></iframe>
        </div>
    </div>
    <div id="Slate" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
            <iframe src="~/themes/slate/index.html" width="360" height="640"></iframe>
        </div>
    </div>
    <div id="Sand" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
            <iframe src="~/themes/sand/index.html" width="360" height="640"></iframe>
        </div>
    </div>
    <div id="Water" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
            <iframe src="~/themes/water/index.html" width="360" height="640"></iframe>
        </div>
    </div>

    <div id="Royal" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
            <iframe src="~/themes/royal/index.html" width="360" height="640"></iframe>
        </div>
    </div>

   <div id="styleEcomm" class="modal hide">
       <div class="modal-header">
             <button data-dismiss="modal" class="close" type="button"></button>
             <h3>Ecommerce Page settings</h3>
     
       </div>
       <div class="modal-body">

           <select id="pagestyleEcomm">
               <option id="L">Left</option>
               <option id="R">Right</option>
               <option id="CL">Center Left</option>
               <option id="CR">Center Right</option>
           </select>
           <button style="float:right;" data-dismiss="modal" class="btn blue" onclick="doworkEcomm($('#pagestyleEcomm').find(':selected').attr('id'))" type="button">Add</button>
          
       </div>

   </div>
<div id="styleNews" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>News Page settings</h3>

    </div>
    <div class="modal-body">

        <select id="pagestyleNews">
            <option id="L">Left</option>
            <option id="R">Right</option>
            <option id="CL">Center Left</option>
            <option id="CR">Center Right</option>
        </select>
        <button style="float:right;" data-dismiss="modal" class="btn blue" onclick="doworkNews($('#pagestyleNews').find(':selected').attr('id'))" type="button">Add</button>

    </div>

</div>

    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM--> 
    @Scripts.Render("~/Content/assets/js/jquery-1.8.3.min.js")
    @Scripts.Render("~/Content/assets/data-tables/jquery.dataTables.js")
    @Scripts.Render("~/Content/assets/uniform/jquery.uniform.min.js")
    @Scripts.Render("~/Content/assets/js/jquery.cookie.js")
    @Scripts.Render("~/Content/assets/js/jquery.blockui.js")
    @Scripts.Render("~/Content/assets/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Content/assets/breakpoints/breakpoints.js")
    @Scripts.Render("~/Content/assets/data-tables/DT_bootstrap.js")
    @Scripts.Render("~/Content/assets/js/app.js")
    <!-- END SAMPLE TABLE PORTLET-->

    <script src='@Url.Content("~/Content/assets/scripts/app.js")'></script>
    <script>

       /* function change(id)
        {
            alert(id);
            $("#r"+id).prop("checked", true)
        }*/
        function doworkEcomm(styleid)
        {
            alert(styleid);
            window.location = '/DBContentTypes/adde_commerence/?id=' + '@ViewBag.appId' + '&styleId=' + styleid;
        }
        function doworkNews(styleid) {
            alert(styleid);
            window.location = '/DBContentTypes/add_news/?id=' + '@ViewBag.appId' + '&styleId=' + styleid;
        }

        jQuery(document).ready(function () {
            App.init();
        });
        function addPlugin(i)
        {
            alert(i);
           
            $.ajax({
                type: "POST",

                url:"/DashBoard/addModule" ,
                data: {
                 
                    id:i,
                    appId: '@ViewBag.appId'
                    
                },
                cache: false,
                success: function (msg) {

                    alert("done");
                 

                }
          , error: function (msg) {
              alert("error");
          }
            });
        }

    </script>

    
    <script>
       
        function updateTheme(id) {
            debugger;
            $.ajax({
                data: { appId: '@ViewBag.appId', themeId: id },
                url: "/Themes/setdefaultTheme",
                type: "POST",
                success: function (res) {
                    for (var i = 1; i < 10; i++) {
                        $('#th-' + i).removeClass('active');
                    }
                    $('#th-' + id).addClass('active');
                    alert(res);

                }
            });
        }
    </script>

