
          
                
              
                
              
                <div class="span10" style="z-index: 47;">
                    <div class="span10" style="z-index: 48;">
                        <div data-role="header" data-theme="f" data-backbtn="false" class="well droppedFields ui-droppable ui-sortable activeDroppable" id="headerDiv" style="z-index: 49;">
                            <div class="droppedField" style="z-index: 50;">
                                <h1 id="divHeaderTitle">Trail Guide</h1>
                            </div>
                        </div>
                    </div>
                    <!--
                Below we have the columns to drop controls
                -- Removed the TABLE based implementations from earlier code
                -- Grid system used for rendering columns
                -- Columns can be simply added by defining a div with droppedFields class
                -->

                    <div class="span12 ui-sortable" id="selected-content" style="z-index: 51;">
                        

                    <div class="row-fluid" style="z-index: 52;"><div class="span12 well droppedFields ui-droppable ui-sortable activeDroppable" style="z-index: 53;"><div class="droppedField" style="z-index: 54;" id="CTRL-DIV-1001">
                        <h1 class="ctrl-h">h1</h1>
                        <input type="hidden" class="hiddenObligatoire" value="undefined">
                    </div><div class="droppedField" style="z-index: 55;" id="CTRL-DIV-1002">
                        <h2 class="ctrl-h">h2</h2>
                        <input type="hidden" class="hiddenObligatoire" value="undefined">
                    </div><div class="droppedField" style="z-index: 56;" id="CTRL-DIV-1003">
                        <h3 class="ctrl-h">h3</h3>
                        <input type="hidden" class="hiddenObligatoire" value="undefined">
                    </div><div class="droppedField" style="z-index: 57;" id="CTRL-DIV-1004">
                        <h4 class="ctrl-h">h4</h4>
                        <input type="hidden" class="hiddenObligatoire" value="undefined">
                    </div><div class="droppedField" style="z-index: 58;" id="CTRL-DIV-1005">
                        <h5 class="ctrl-h">h5</h5>
                        <input type="hidden" class="hiddenObligatoire" value="undefined">
                    </div><div class="droppedField" style="z-index: 59;" id="CTRL-DIV-1006">
                        <h6 class="ctrl-h">h6</h6>
                        <input type="hidden" class="hiddenObligatoire" value="undefined">
                    </div><div class="droppedField" style="z-index: 60;" id="CTRL-DIV-1007">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" class="ctrl-img" alt="Image alt text here..." id="online">

                        <input type="hidden" class="hiddenObligatoire">
                    </div><div class="droppedField" style="z-index: 29;" id="CTRL-DIV-1008">
                        <p class="ctrl-text">weliiii weliiii</p>
                    </div></div></div></div>
                    <div class="span10" style="z-index: 61;">
                        <div data-role="footer" data-theme="f" class="well droppedFields ui-droppable ui-sortable activeDroppable" id="footerDiv" style="z-index: 62;">
                            <div class="droppedField" style="z-index: 63;">
                                <h4 id="footerDivH1">MobCloud © 2014</h4>
                            </div>
                        </div>
                    </div>
                </div>
            