/* Combined listview collapsible menu. */
/* Unset negative margin bottom on the listviews. */
.panel .ui-panel-inner > .ui-listview { margin-bottom: 0; }
/* Unset top and bottom margin on collapsible set. */
.panel .ui-collapsible-set { margin: 0; }
/* The first collapsible contains the collapsible set. Make it fit exactly in the collapsible content. */
.panel .ui-panel-inner > .ui-collapsible > .ui-collapsible-content { padding-top: 0; padding-bottom: 0;  border-bottom: none; }
/* Remove border top if a collapsible comes after a listview. */
.panel .ui-panel-inner  > .ui-collapsible > .ui-collapsible-heading .ui-btn,
.panel .ui-collapsible.ui-first-child .ui-collapsible-heading .ui-btn { border-top: none; }
/* Give the first collapsible heading the same padding, i.e. same height, as the list items. */
.panel .ui-collapsible-heading .ui-btn-inner { padding: .7em 40px .7em 15px; }
/* Give the other collapsible headings the same padding and font-size as the list divider. */
.panel .ui-collapsible-set .ui-collapsible-heading .ui-btn-inner { padding: .5em 40px .5em 15px; font-size: 14px; }
/* Styling of the close button in both panels. */
 .ui-panel-inner > .ui-listview .ui-first-child {
    background: #eee;
}
/* Reveal menu shadow on top of the list items */
 .ui-panel-display-reveal {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
 .ui-panel-content-wrap-position-left {
    -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    -moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    box-shadow: -5px 0px 5px rgba(0,0,0,.15);
}
 .ui-panel-content-wrap-position-right {
    -webkit-box-shadow: 0px -5px 5px rgba(0,0,0,.15);
    -moz-box-shadow: 0px -5px 5px rgba(0,0,0,.15);
    box-shadow: 0px -5px 5px rgba(0,0,0,.15);
}