



                <div class="span10" style="z-index: 13;">
                    <div class="span10" style="z-index: 14;">
                        <div data-role="header" data-theme="f" data-backbtn="false" class="well droppedFields ui-droppable ui-sortable activeDroppable" id="headerDiv" style="z-index: 15;">
                            <div class="droppedField" style="z-index: 16;">
                                <h1 id="divHeaderTitle">Home</h1>
                            </div>
                        </div>
                    </div>
                  

                    <div class="span12 ui-sortable" id="selected-content" style="z-index: 17;">
                        <div class="row-fluid" style="z-index: 18;">
                            <div class="span6 well droppedFields ui-droppable ui-sortable activeDroppable" style="z-index: 19;"><div class="droppedField" style="z-index: 5;" id="CTRL-DIV-1001">
                        <a href="javascript:void(0)" class="ctrl-link" name="hi" rel="external" id="toPage">Link</a>
                        <input type="hidden" class="hiddenObligatoire" value="undefined">
                    </div></div>
                            <div class="span6 well droppedFields ui-droppable ui-sortable activeDroppable" style="z-index: 20;"></div>
                        </div>

                    </div>
                    <div class="span10" style="z-index: 21;">
                        <div data-role="footer" data-theme="f" class="well droppedFields ui-droppable ui-sortable activeDroppable" id="footerDiv" style="z-index: 22;">
                            <div class="droppedField" style="z-index: 23;">
                                <h4 id="footerDivH1">MobCloud © 2014</h4>
                            </div>
                        </div>
                    </div>
                </div>
            