<head>
 <title>Productse_com</title>
 <meta name="viewport" content="initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="styles/jquery.mobile.theme-1.4.3.min.css" />
<link rel="stylesheet" href="styles/jquery.mobile-1.3.1.css" />
<link rel="stylesheet" href="styles/custom.css" />
<link rel="stylesheet" href="styles/menu.css" />
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/jquery.mobile-1.3.1.min.js"></script>
<script src="scripts/app.js"></script><script src="phonegap.js"></script></head>
<div id="menu" style="display: none;"> <ul><li><a href="#" onclick="window.location='e_com_ct.html'">e_com</a></li><li><a href="#" onclick="window.location='mycart.html'">My Cart</a></li><li><a href="#" onclick="window.location='News_ct.html'">News</a></li><li><a href="#" onclick="window.location='Test_ct.html'">Test</a></li><li><a href="#" onclick="window.location='index.html'">Home</a></li></ul></div><div data-role="page" id="page0"><div data-role="header"><h1>Productse_com</h1><a href="#"class="showMenu">Menu</a></div><body onload="init();"> </body><div data-role="content"><div style="display:width:100%" id="list"></div></div><div data-role="footer"><h4>MobClouD 2014</h4></div><script  type="text/javascript"> 
$.getJSON("http://localhost:1051//Service/index/67", function(data){
 for(var i=0;i<data.records.length;i++){
 $("#list").append("<div style=\"width:100%;float:left;margin-bottom:50px;\"><img src=\"http://localhost:1051/"+data.records[i].image+"\"style=\"width:100%;\"/><ul id=\"ul"+i+"\" data-role=\"listview\" style=\"width:100%;margin-left:0px;margin-top:5px;\"></ul></div>");
 $('#ul'+i).append("<li>"+data.records[i].Title +"</li>");
 $('#ul'+i).append("<li>"+data.records[i].Price +"</li>");
$('#ul'+i).append("<li> <input type=\"button\" onclick=\"mobcloudstore.webdb.addItem('"+data.records[i].Title+"')\" value=\"Add to cart\"/></li>");
$('#ul'+i).listview().listview('refresh'); 
} 
 });
        function init() {
 alert("init");
        mobcloudstore.webdb.open();
mobcloudstore.webdb.createTable();
}
 
var mobcloudstore = {};
mobcloudstore.webdb = {};
mobcloudstore.webdb.db = null;
mobcloudstore.webdb.open = function() {
var dbSize = 1 * 1024 * 1024; 
mobcloudstore.webdb.db = openDatabase("Cart","1.0", "cart manager", dbSize);
 }
mobcloudstore.webdb.createTable = function() {
var db = mobcloudstore.webdb.db;
db.transaction(function(tx) {
tx.executeSql("CREATE TABLE IF NOT EXISTS items(ID INTEGER PRIMARY KEY ASC, note TEXT,name TEXT,price Double, added_on DATETIME)", []); });
 }

mobcloudstore.webdb.addItem = function(mcText) {
var db = mobcloudstore.webdb.db;
db.transaction(function(tx){
var addedOn = new Date();
tx.executeSql("INSERT INTO items(name, added_on) VALUES (?,?)",[mcText, addedOn],mobcloudstore.webdb.onSuccess,mobcloudstore.webdb.onError);
 });
 }
mobcloudstore.webdb.onError = function(tx, e) {
alert("There has been an error: " + e.message); 
 }
mobcloudstore.webdb.onSuccess = function(tx, r) {
alert("yesssssssss");
}</script></div>