<head>
 <title>Julia Boutros</title>
 <meta name="viewport" content="initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="styles/jquery.mobile.theme-1.4.3.min.css" />
<link rel="stylesheet" href="styles/jquery.mobile-1.3.1.css" />
<link rel="stylesheet" href="styles/custom.css" />
<link rel="stylesheet" href="styles/menu.css" />
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/jquery.mobile-1.3.1.min.js"></script>
<script src="scripts/app.js"></script><script src="phonegap.js"></script></head>
<div id="menu" style="display: none;"> <ul><li><a href="#" onclick="window.location='e_com_ct.html'">e_com</a></li><li><a href="#" onclick="window.location='mycart.html'">My Cart</a></li><li><a href="#" onclick="window.location='Test_ct.html'">Test</a></li><li><a href="#" onclick="window.location='index.html'">Home</a></li><li><a href="#" onclick="window.location='News_ct.html'">News</a></li><li><a href="#" onclick="window.location='TestPage_yt.html'">TestPage</a></li><li><a href="#" onclick="window.location='Map.html'">Map</a></li><li><a href="#" onclick="window.location='Mail_List.html'">Email</a></li><li><a href="#" onclick="window.location='QRReader.html'">QR</a></li><li><a href="#" onclick="window.location='Julia Boutros_tw.html'">Julia Boutros</a></li></ul></div><div data-role="page" id="page0"><div data-role="header"><h1>Julia Boutros</h1><a href="#"class="showMenu">Menu</a></div><div data-role="content"><div id="post-list"></div></div><div data-role="footer"><h4>MobClouD 2014</h4></div><script  type="text/javascript"> 
$.getJSON('http://localhost:1051//Twitter/getTweets?username=JuliaBoutros1&count=10', function (Data) {DoWork(Data,false);   }); var index=0;var maxid=0;function DoWork(Data,flag){ $('#more-button').remove(); 
for(var i=0;i<Data.length;i++){
 if(flag==true && i==0)
continue;
$('#post-list').append('<div style=\"background-color: white;padding:10px;border-radius:10px;margin-top:10px; margin-bottom:5px;border: 2px solid gray;height:100%; width: 95%;float: left;\" id=\"tweet-id-' + index + '\"></div>');
if(Data[i].text!=null)
$('#tweet-id-' + index).append('<div style="width:98%;padding:5px;border-bottom:2px dashed grey;">' + Data[i].text + '</div>');
if(Data[i].extended_entities!=null)
 $('#tweet-id-' + index).append('<img style=" width:100%;margin-top:10px;margin-bottom:10px;" src=\"' + Data[i].extended_entities.media[0].media_url + '\"/>');
if (i == Data.length - 1){
maxid=Data[i].id;
$('#post-list').append('<button id="more-button" data-role="button" data-inline="true" onclick="more(\''+maxid+'\')"> More </button>');}
   index++; } }
    function more(maxid){ $.getJSON('http://localhost:1051//Twitter/GetNextTweets?username=JuliaBoutros1&count=10&maxId='+maxid, function (Data) {  DoWork(Data,true);  }); } </script></div>