<head>
 <title>My Cart</title>
 <meta name="viewport" content="initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="styles/jquery.mobile.theme-1.4.3.min.css" />
<link rel="stylesheet" href="styles/jquery.mobile-1.3.1.css" />
<link rel="stylesheet" href="styles/custom.css" />
<link rel="stylesheet" href="styles/menu.css" />
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/jquery.mobile-1.3.1.min.js"></script>
<script src="scripts/app.js"></script><script src="phonegap.js"></script></head>
<div id="menu" style="display: none;"> <ul><li><a href="#" onclick="window.location='e_com_ct.html'">e_com</a></li><li><a href="#" onclick="window.location='mycart.html'">My Cart</a></li><li><a href="#" onclick="window.location='Test_ct.html'">Test</a></li><li><a href="#" onclick="window.location='index.html'">Home</a></li><li><a href="#" onclick="window.location='News_ct.html'">News</a></li><li><a href="#" onclick="window.location='TestPage_yt.html'">TestPage</a></li><li><a href="#" onclick="window.location='Map.html'">Map</a></li><li><a href="#" onclick="window.location='Mail_List.html'">Email</a></li><li><a href="#" onclick="window.location='QRReader.html'">QR</a></li><li><a href="#" onclick="window.location='Julia Boutros_tw.html'">Julia Boutros</a></li></ul></div><div data-role="page" id="page0"><div data-role="header"><h1>My Cart</h1><a href="#"class="showMenu">Menu</a></div><body onload="init();"> </body>    <ul id="mcItems"></ul><div data-role="content"><div style="display:width:100%" id="list"></div></div><div data-role="footer"><h4>MobClouD 2014</h4></div><script  type="text/javascript">       function init() {
 alert("init");
        mobcloudstore.webdb.open();
mobcloudstore.webdb.createTable();
mobcloudstore.webdb.getAllItems(loadItemsHTML);
mobcloudstore.webdb.getAllItems(loadItemsJSON);
}
 var mobcloudstore = {};
    mobcloudstore.webdb = {};
  mobcloudstore.webdb.db = null;
mobcloudstore.webdb.open = function() {
var dbSize = 1 * 1024 * 1024; 
   mobcloudstore.webdb.db = openDatabase("Cart","1.0", "cart manager", dbSize);
 }
 mobcloudstore.webdb.createTable = function() {
  var db = mobcloudstore.webdb.db;
db.transaction(function(tx) {
tx.executeSql("CREATE TABLE IF NOT EXISTS items(ID INTEGER PRIMARY KEY ASC, note TEXT,name TEXT,price Double, added_on DATETIME)", []); });
 }
mobcloudstore.webdb.onError = function(tx, e) {alert("There has been an error: " + e.message);} 
 mobcloudstore.webdb.getAllItems = function(renderFunc) {
var db = mobcloudstore.webdb.db;
db.transaction(function(tx) {
tx.executeSql("SELECT * FROM items", [], renderFunc,
mobcloudstore.webdb.onError);
 });
 }
function loadItemsHTML(tx, rs) {
var rowOutput = "";
var mcItems = document.getElementById("mcItems");
for (var i=0; i < rs.rows.length; i++) {
rowOutput += renderMC(rs.rows.item(i));
}
mcItems.innerHTML = rowOutput;
 }
function loadItemsJSON(tx, rs) {
var rowOutput = [];
for (var i=0; i < rs.rows.length; i++) {
rowOutput[i] = rs.rows.item(i);
}
console.log(  JSON.stringify(rowOutput));
}
function renderMC(row) {
return "<li>" + row.name  + " [<a href='javascript:void(0);'  onclick='mobcloudstore.webdb.deleteMC(" + row.ID +");'>Delete</a>]</li>"; }
 mobcloudstore.webdb.deleteMC = function(id) {
var db = mobcloudstore.webdb.db;
db.transaction(function(tx){
tx.executeSql("DELETE FROM items WHERE ID=?", [id],
mobcloudstore.webdb.onSuccess,
mobcloudstore.webdb.onError);
});
}
function  clearCart() {
var db = mobcloudstore.webdb.db;
db.transaction(function(tx){
tx.executeSql("DELETE FROM items ", [],
mobcloudstore.webdb.onSuccess,
mobcloudstore.webdb.onError);
});
}</script></div>