<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="styles/jquery.mobile.theme-1.4.3.min.css" />
<link rel="stylesheet" href="styles/jquery.mobile-1.3.1.css" />
<link rel="stylesheet" href="styles/custom.css" />
<link rel="stylesheet" href="styles/menu.css" />
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/jquery.mobile-1.3.1.min.js"></script>-
<script src="scripts/app.js"></script><script src="phonegap.js"></script>
</head>
<div id="menu" style="display: none;"> <ul><li><a href="#" onclick="window.location='index.html'">untitled</a></li><li><a href="#" onclick="window.location='Facebook Cars_fb.html'">Facebook Cars</a></li><li><a href="#" onclick="window.location='e_com_ct.html'">e_com</a></li><li><a href="#" onclick="window.location='mycart.html'">My Cart</a></li><li><a href="#" onclick="window.location='News_ct.html'">News</a></li></ul></div><div data-role="page" id="page0"><div data-role="header"><h1>Facebook Cars</h1><a href="#"class="showMenu">Menu</a></div><div data-role="content"><div id="post-list"></div></div><div data-role="footer"><h4>MobClouD 2014</h4></div>

<script  type="text/javascript">
var uploadsId ="";
$.getJSON('https://www.googleapis.com/youtube/v3/channels?part=contentDetails&id=UCvtZDkeFxMkRTNqfqXtxxkw&key=AIzaSyDy8kzRVAk05RINM6ZZbDYUvDKYWslDmqc', function (Data) {
getUploadsId(Data);  }); 
var index=0;
function getUploadsId(Data){ 
uploadsId = Data.items[0].contentDetails.relatedPlaylists.uploads; 
$('#more-button').remove();
$.getJSON('https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&playlistId='+uploadsId+'&key=AIzaSyDy8kzRVAk05RINM6ZZbDYUvDKYWslDmqc&maxResults=5', function (Data) {getChannelVideos(Data);  });
}

function getChannelVideos(Data){ 
$('#more-button').remove(); 
	var videos = Data.items;
	for (var i = 0; i < videos.length; i++) {$('#post-list').append('<div style=\"background-color: white;padding:10px;border-radius:10px;margin-top:10px; margin-bottom:5px;border: 2px solid gray;height:100%; width: 95%;float: left;\" id=\"video-id-' + index + '\"></div>')
		$('#video-id-' + index).append('<div style=\"width:98%;padding:5px;border-bottom:2px dashed grey;\">' + videos[i].snippet.title + '</div>');

        $('#video-id-' + index).append('<iframe width=\"420\" height="315\"src=\"http://www.youtube.com/embed/' + videos[i].snippet.resourceId.videoId+'\"></iframe>');
index++;
}
if (Data.nextPageToken!=null)
{
	var next = 'https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&playlistId='+uploadsId+'&key=AIzaSyDy8kzRVAk05RINM6ZZbDYUvDKYWslDmqc&maxResults=5&pageToken='+ Data.nextPageToken;
	$('#post-list').append('<button id="more-button" data-role="button" data-inline="true" onclick="more(\''+next+'\')"> More </button>');
}}



function more(url){ $.getJSON(url, function (Data) {  getChannelVideos(Data);  });  }


</script>